<div class="modal-header">
  <a class="pull-right" ng-click="cancel()">X</a>
  <h4>Kysymysryhmän esikatselu</h4>
</div>

<div class="modal-body">
  <h3>{{ kysymysryhma | lokalisoiKentta:'nimi' }}</h3>

  <div ng-repeat="kysymys in kysymysryhma.kysymykset">
    <h3>{{ kysymys | lokalisoiKentta:'kysymys' }}<span ng-if="kysymys.pakollinen">*</span></h3>
    <div ng-show="kysymys.vastaustyyppi == 'monivalinta'">
      <div ng-repeat="vaihtoehto in kysymys.monivalintavaihtoehdot">{{ vaihtoehto | lokalisoiKentta:'teksti' }}</div>
    </div>
    {{ kysymys | json }}
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()">{{ i18n.yleiset.peruuta }}</button>
</div>