<div class="modal-header">
    <a class="pull-right" ng-click="cancel()">X</a>
    <h3>{{ 'kysymysryhma.julkaise' | i18n }}</h3>
    <h4>{{ kysymysryhma | lokalisoiKentta:'nimi'}}</h4>
</div>

<div class="modal-body">
    <p>{{ 'kysymysryhma.julkaise_ohjeistus' | i18n }}</p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary pull-left" ng-click="julkaise()">{{ 'yleiset.julkaise' | i18n }}</button>
    <button class="btn btn-default pull-left" ng-click="cancel()">{{ 'yleiset.peruuta' | i18n }}</button>
</div>
