<h1 ng-if="uusi">{{i18n.kysymysryhma.uusi}} <ohje tunniste="kysymysryhma"></ohje></h1>
<h1 ng-if="!uusi">{{i18n.kysymysryhma.muokkaa}} <ohje tunniste="kysymysryhma"></ohje></h1>

<form name="form" role="form" novalidate>
    <div class="row">
        <div class="col-md-4">
            <div ng-if="yllapitaja" class="checkbox">
                <div>
                  <label>
                      <input type="checkbox" ng-model="kysymysryhma.valtakunnallinen">
                      {{i18n.kysymysryhma.valtakunnallinen}}
                  </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" ng-model="kysymysryhma.taustakysymykset">
                        {{i18n.kysymysryhma.taustakysymykset}}
                    </label>
                </div>
            </div>

            <label ng-class="{pakollinen: !(kysymysryhma.nimi_en || kysymysryhma.nimi_sv)}"><span>{{i18n.kysymysryhma.nimi}} ({{i18n.yleiset.suomeksi}}) ({{i18n.yleiset.nakyy_vastaajalle}})</span>
                <input type="text" class="form-control e2e-kysymysryhma-nimi-fi" ng-model="kysymysryhma.nimi_fi" maxlength="200" autofocus ng-required="!(kysymysryhma.nimi_en || kysymysryhma.nimi_sv)"/>
            </label>
            <label>{{i18n.kysymysryhma.selite}} ({{i18n.yleiset.suomeksi}})
                <input type="text" class="form-control" ng-model="kysymysryhma.selite_fi" maxlength="200" />
            </label>
            <label>{{i18n.kysymysryhma.kuvaus}} ({{i18n.yleiset.suomeksi}}) ({{i18n.yleiset.nakyy_vastaajalle}})
                <input type="text" class="form-control" ng-model="kysymysryhma.kuvaus_fi" maxlength="800" />
            </label>

            <br>
            <br>

            <label ng-class="{pakollinen: !(kysymysryhma.nimi_en || kysymysryhma.nimi_fi)}"><span>{{i18n.kysymysryhma.nimi}} ({{i18n.yleiset.ruotsiksi}}) ({{i18n.yleiset.nakyy_vastaajalle}})</span>
                <input type="text" class="form-control" ng-model="kysymysryhma.nimi_sv" maxlength="200" ng-required="!(kysymysryhma.nimi_en || kysymysryhma.nimi_fi)"/>
            </label>

            <label>{{i18n.kysymysryhma.selite}} ({{i18n.yleiset.ruotsiksi}})
                <input class="form-control" ng-model="kysymysryhma.selite_sv" maxlength="200" />
            </label>
            <label>{{i18n.kysymysryhma.kuvaus}} ({{i18n.yleiset.ruotsiksi}}) ({{i18n.yleiset.nakyy_vastaajalle}})
                <input class="form-control" ng-model="kysymysryhma.kuvaus_sv" maxlength="800" />
            </label>

            <br>
            <br>

            <label ng-class="{pakollinen: !(kysymysryhma.nimi_fi || kysymysryhma.nimi_sv)}"><span>{{i18n.kysymysryhma.nimi}} ({{i18n.yleiset.englanniksi}}) ({{i18n.yleiset.nakyy_vastaajalle}})</span>
                <input type="text" class="form-control" ng-model="kysymysryhma.nimi_en" maxlength="200" ng-required="!(kysymysryhma.nimi_fi || kysymysryhma.nimi_sv)"/>
            </label>

            <label>{{i18n.kysymysryhma.selite}} ({{i18n.yleiset.englanniksi}})
                <input class="form-control" ng-model="kysymysryhma.selite_en" maxlength="200" />
            </label>
            <label>{{i18n.kysymysryhma.kuvaus}} ({{i18n.yleiset.englanniksi}}) ({{i18n.yleiset.nakyy_vastaajalle}})
                <input class="form-control" ng-model="kysymysryhma.kuvaus_en" maxlength="800" />
            </label>
        </div>

        <div class="col-md-8">
                <h3 class="pull-left" ng-show="!muokkaustila">{{i18n.kysymysryhma.kysymykset}}</h3>
                <button ng-click="lisaaKysymys()" class="pull-right btn btn-primary e2e-luo-uusi-kysymys" ng-show="!muokkaustila" style="margin-right: 0px;">
                    {{i18n.kysymysryhma.luo_uusi_kysymys}}&nbsp;
                    <span class="fa fa-plus"></span>
                </button>

            <table class="table table-striped kysymys-taulukko" ng-show="!muokkaustila">
                <thead>
                <tr>
                    <th>{{'i18n.yleiset.kysymys' | i18n}}</th>
                    <th>{{'i18n.yleiset.tyyppi' | i18n}}</th>
                    <th>{{'i18n.yleiset.pakollinen' | i18n}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ui-sortable="sortableOptions" ng-model="kysymysryhma.kysymykset">
                    <tr ng-repeat="kysymys in kysymysryhma.kysymykset" class="kysymys-{{$index}}" ng-class="{removed: kysymys.poistetaan_kysymysryhmasta}">
                        <td>{{ kysymys | lokalisoiKentta:'kysymys' }}</td>
                        <td class="nowrap">{{i18n.kysymys.tyyppi[kysymys.vastaustyyppi]}}</td>
                        <td class="nowrap">
                            <span ng-show="kysymys.pakollinen" class="fa fa-check"></span>
                        </td>
                        <td class="actions nowrap">
                            <a href="" ng-click="muokkaa(kysymys)" class="e2e-muokkaa-kysymysta">
                                <span class="fa fa-pencil"></span>
                            </a>
                            <a href="" ng-click="poistaTahiPalautaKysymys(kysymys)">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="muokkaustila" class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title" ng-show="aktiivinenKysymys.uusi">{{i18n.kysymysryhma.luo_uusi_kysymys}}</h4>
                    <h4 class="panel-title" ng-show="!aktiivinenKysymys.uusi">{{i18n.kysymysryhma.muokkaa_kysymysta}}</h4>
                </div>
                <div class="panel-body">
                    <ng-form name="kysymysForm">

                        <div class="form-group">
                            <label>{{i18n.kysymys.vastaustapa}}
                                <select ng-model="aktiivinenKysymys.vastaustyyppi" class="form-control" ng-change="nollaa()" ng-options="'kysymys.tyyppi.' + tyyppi | i18n for tyyppi in vastaustyypit">
                                </select>
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="aktiivinenKysymys.pakollinen"> {{i18n.kysymys.vastaus_pakollinen}}
                            </label>
                        </div>

                        <div class="checkbox" ng-if="aktiivinenKysymys.pakollinen && aktiivinenKysymys.vastaustyyppi !== 'vapaateksti'">
                            <label>
                                <input type="checkbox" ng-model="aktiivinenKysymys.eos_vastaus_sallittu"> {{i18n.kysymys.eos_vastaus_sallittu}}
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="aktiivinenKysymys.poistettava"> {{i18n.kysymys.poistettava}}
                            </label>
                        </div>

                        <kysymys-tekstit kysymys="aktiivinenKysymys" kentta="kysymys" tyyppi={{kysymystekstinTyyppi()}}> </kysymys-tekstit>

                        <div class="selite-container">
                            <a class="ng-binding" ng-click="toggleSelitteet()">
                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': selitteet, 'glyphicon-chevron-right': !selitteet}"></i>
                                {{i18n.kysymys.selitteet}}
                            </a>
                            <div class="selitteet" ng-class="{'closed': !selitteet}">
                                <kysymys-tekstit kysymys="aktiivinenKysymys" kentta="selite" tyyppi="selite" pakollinen=false> </kysymys-tekstit>
                            </div>
                        </div>

                        <div ng-include="'template/kysymysryhma/osat/' + aktiivinenKysymys.vastaustyyppi + '.html'"></div>

                        <br />

                        <div>
                            <button ng-show="aktiivinenKysymys.uusi" class="btn btn-primary e2e-lisaa-kysymys" ng-click="tallenna()" ng-disabled="kysymysForm.$error.required">{{i18n.kysymysryhma.lisaa_kysymys}}</button>
                            <button ng-show="!aktiivinenKysymys.uusi" class="btn btn-primary e2e-tallenna-kysymys" ng-click="tallenna()" ng-disabled="kysymysForm.$error.required">{{i18n.yleiset.tallenna}}</button>
                            <button ng-click="peruutaKysymysTallennus()" class="btn btn-default">{{i18n.yleiset.peruuta}}</button>
                        </div>
                    </ng-form>
                </div>
            </div>
    </div>

    </div>
    <div class="col-md-12">
        <div class="row clearfix">
            <div>
                <button ng-click="tallennaKysymysryhma()" class="btn btn-primary e2e-tallenna-kysymysryhma" ng-disabled="!tallennusSallittu()">{{i18n.yleiset.tallenna}}&nbsp;<span class="fa fa-save"></span></button>
                <button class="btn btn-primary" ng-click="naytaRakenneModal()">{{'i18n.kysymysryhma.nayta_rakenne'| i18n}}&nbsp;<span class="fa fa-search"></span></button>
                <button ng-click="peruuta()" class="btn btn-default">{{i18n.yleiset.peruuta}}</button>
            </div>
        </div>
    </div>
</form>
