<h1>{{i18n.kysymysryhma.kysymysryhmat}}</h1>
<div class="row">
    <div class="col-md-12">
        <a class="pull-right btn btn-primary" href="#/kysymysryhmat/kysymysryhma/uusi" style="margin: 0;">
            {{i18n.kysymysryhma.luo_uusi}} &nbsp;
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div>

<div class="loader" ng-show="!latausValmis"></div>

<table class="table table-striped kysymysryhmat-taulukko" ng-show="latausValmis">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Selite</th>
        <th>Valtakunnallinen</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="k in kysymysryhmat">
        <td>{{k.nimi_fi}}</td>
        <td>{{k.selite_fi}}</td>
        <td>
            <span ng-show="k.valtakunnallinen" class="glyphicon glyphicon-ok"></span>
        </td>
        <td>
            <a ng-href="#/kysymysryhmat/kysymysryhma/uusi?kysymysryhmaid={{k.kysymysryhmaid}}">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
