<h1>{{i18n.kysymysryhma.kysymysryhmat}} <ohje tunniste="kysymysryhmat"></ohje></h1>

<div class="row">
  <div class="col-sm-6 col-sm-push-6" style="text-align: right">
    <auth roolit="['VASTUUKAYTTAJA']">
      <a class="btn btn-primary e2e-luo-uusi-kysymysryhma" href="#/kysymysryhmat/kysymysryhma/uusi" style="margin: 0;">
        {{i18n.kysymysryhma.luo_uusi}} &nbsp;
        <span class="fa fa-plus"></span>
      </a>
    </auth>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <input type="text" class="icon search-icon-input form-control" ng-model="hakuehto" placeholder="{{i18n.kysymysryhma.etsi}}">
  </div>
</div>

<div class="loader" ng-show="!latausValmis"></div>

<h2>{{i18n.yleiset.julkaistut}}</h2>
<kysymysryhmalista hakuehto="hakuehto" kysymysryhmat="kysymysryhmat" tila="julkaistu" valtakunnalliset="false" ng-show="latausValmis"></kysymysryhmalista>

<h2>{{i18n.yleiset.julkaistut_valtakunnalliset}}</h2>
<kysymysryhmalista hakuehto="hakuehto" kysymysryhmat="kysymysryhmat" tila="julkaistu" valtakunnalliset="true" ng-show="latausValmis"></kysymysryhmalista>

<h2>{{i18n.yleiset.luonnokset}}</h2>
<kysymysryhmalista hakuehto="hakuehto" kysymysryhmat="kysymysryhmat" tila="luonnos" ng-show="latausValmis"></kysymysryhmalista>

<div>
  <button class="btn btn-primary" ng-click="naytaSuljetut=!naytaSuljetut">
    <span ng-if="!naytaSuljetut">{{ 'yleiset.nayta_suljetut' | i18n }}</span>
    <span ng-if="naytaSuljetut">{{ 'yleiset.piilota_suljetut' | i18n }}</span>
  </button>
</div>

<div ng-if="naytaSuljetut">
  <h2>{{i18n.yleiset.suljetut}}</h2>

  <kysymysryhmalista hakuehto="hakuehto" kysymysryhmat="kysymysryhmat" tila="suljettu" ng-show="latausValmis"></kysymysryhmalista>
</div>
