<h1>{{i18n.kysymysryhma.kysymysryhmat}} <ohje tunniste="kysymysryhmat"></ohje></h1>
<div class="row">
    <div class="col-md-12">
        <auth roolit="['OPL-VASTUUKAYTTAJA','OPL-PAAKAYTTAJA']">
            <a class="pull-right btn btn-primary e2e-luo-uusi-kysymysryhma" href="#/kysymysryhmat/kysymysryhma/uusi" style="margin: 0;">
                {{i18n.kysymysryhma.luo_uusi}} &nbsp;
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </auth>
    </div>
</div>

<div class="loader" ng-show="!latausValmis"></div>

<h2>{{i18n.kysymysryhma.luonnokset}}</h2>

<div ng-repeat="tila in ['luonnos']" ng-include="'template/kysymysryhma/kysymysryhmalista.html'"></div>

<h2>{{i18n.kysymysryhma.julkaistut}}</h2>

<div ng-repeat="tila in ['julkaistu']" ng-include="'template/kysymysryhma/kysymysryhmalista.html'"></div>

<div>
  <button class="btn btn-primary" ng-click="naytaSuljetut=!naytaSuljetut">
    <span ng-if="!naytaSuljetut">{{i18n.kysymysryhma.nayta_suljetut}}</span>
    <span ng-if="naytaSuljetut">{{i18n.kysymysryhma.piilota_suljetut}}</span>
  </button>
</div>

<div ng-if="naytaSuljetut">
  <h2>{{i18n.kysymysryhma.suljetut}}</h2>

  <div ng-repeat="tila in ['suljettu']" ng-include="'template/kysymysryhma/kysymysryhmalista.html'"></div>
</div>
