<h1>{{i18n.kysymysryhma.uusi}}</h1>

<h3>{{i18n.kysymysryhma.nimi_fi}} *</h3>
<input type="text" ng-model="kysymysryhma.nimi_fi" size="80" maxlength="200" autofocus />

<h3>{{i18n.kysymysryhma.nimi_sv}}</h3>
<input type="text" ng-model="kysymysryhma.nimi_sv" size="80" maxlength="200" />

<h3>{{i18n.kysymysryhma.selite_fi}}</h3>
<textarea ng-model="kysymysryhma.selite_fi" rows="5" cols="80"></textarea>

<h3>{{i18n.kysymysryhma.selite_sv}}</h3>
<textarea ng-model="kysymysryhma.selite_sv" rows="5" cols="80"></textarea>

<div>
  <div>
    <h3>{{i18n.kysymysryhma.kysymykset}}</h3>
  </div>
  <div ng-repeat="kysymys in kysymysryhma.kysymykset">
    <div ng-show="!kysymys.muokattava">
      {{i18n.kysymys.tyyppi[kysymys.vastaustyyppi]}}: {{kysymys.kysymys_fi}}
    </div>
    <div ng-show="kysymys.muokattava">
      <form>
      </form>
      <section>
        <fieldset>
          <label>{{i18n.kysymys.vastaustapa}}</label>
          <select ng-model="kysymys.vastaustyyppi" >
            <option ng-repeat="tyyppi in vastaustyypit" ng-selected="{{kysymys.vastaustyyppi === tyyppi}}" value="{{tyyppi}}">
              {{i18n.kysymys.tyyppi[tyyppi]}}
            </option>
          </select>
        </fieldset>
        <fieldset>
          <input type="checkbox" ng-model="kysymys.pakollinen">{{i18n.kysymys.vastaus_pakollinen}}<br>
          <input type="checkbox" ng-model="kysymys.poistettava">{{i18n.kysymys.poistettava}}
        </fieldset>
      </section>
      <section>
        <fieldset>
          <label>{{i18n.kysymys.kysymys_suomeksi}}</label>
          <input type="text" ng-model="kysymys.kysymys_fi" size="80" maxlength="200"/>
        </fieldset>
        <fieldset>
          <label>{{i18n.kysymys.kysymys_ruotsiksi}}</label>
          <input type="text" ng-model="kysymys.kysymys_sv" size="80" maxlength="200"/>
        </fieldset>
      </section>
      <div ng-include="'template/kysymysryhma/osat/' + kysymys.vastaustyyppi + '.html'"></div>
      <div>
        <button ng-click="tallenna(kysymys)" ng-disabled="!kysymys.kysymys_fi">{{i18n.yleiset.tallenna}}</button>
      </div>
    </div>
  </div>
</div>

<div ng-show="!muokkaustila">
  <button ng-click="lisaaKysymys()">{{i18n.kysymysryhma.lisaa_kysymys}}</button>
</div>


<div>
  <button ng-click="luoUusi()" ng-disabled="!kysymysryhma.nimi_fi || muokkaustila">{{i18n.kysymysryhma.luo_uusi}}</button>
  <button ng-click="peruuta()">{{i18n.yleiset.peruuta}}</button>
</div>
