[submodule "aipal/clojure-utils"]
	path = aipal/clojure-utils
	url = https://github.com/opetushallitus/clojure-utils
[submodule "aipal-vastaus/clojure-utils"]
	path = aipal-vastaus/clojure-utils
	url = https://github.com/opetushallitus/clojure-utils
[submodule "e2e/clojure-utils"]
	path = e2e/clojure-utils
	url = git@github.com:Opetushallitus/clojure-utils.git
