<html>
    <head>
        <meta charset="UTF-8">
    </head>
<body>

<p>Hei</p>

<p>Tässä koulunne {{nimi_fi}} linkki Move!-mittaustulosten syöttämiseksi valtakunnalliseen tiedonkeruuseen: <a href="https://move.arvovastaus.csc.fi/v/{{tunnus}}">https://move.arvovastaus.csc.fi/v/{{tunnus}}</a></p>

<p>Tämä viesti on lähetty Opetushallituksen Opintopolku-palveluun kirjattuun koulun yleiseen sähköpostiosoitteeseen. <strong>Välittäkää linkki koulussanne Move!-mittaustulosten syöttämisen vuonna 2020 tekeville henkilöille. Tulokset tulee syöttää 30.9.2020 mennessä.</strong></p>

<ul>
    <li>Move!-mittaukset toteutetaan syksyisin kouluilla osana 5. ja 8. luokkien liikunnanopetusta.</li>
    <li>Koulukohtaiset tulokset syötetään ja raportoidaan virallisen koulurekisterin mukaisesti, jossa jokaisella koululla on yksi Tilastokeskuksen tunnus. Mikäli koulullanne on monta yksikköä, syötetään kaikkien yksiköiden tulokset edellä olevan linkin kautta.</li>
    <li>Kaikkia koulun mittaustuloksia ei tarvitse syöttää yhdellä kertaa. Tuloksia voi syöttää koululla useampi henkilö.</li>
    <li>Lisätietoja Move!-mittauksista: <a href="https://www.oph.fi/fi/move">https://www.oph.fi/fi/move</a></li>
    <li>Ota yhteyttä: <a href="https://www.oph.fi/fi/koulutus-ja-tutkinnot/ota-yhteytta">https://www.oph.fi/fi/koulutus-ja-tutkinnot/ota-yhteytta</a></li>
</ul>

<p><i>Tämä on järjestelmästä automaattisesti lähetetty sähköposti. Tähän sähköpostiin lähetettyjä vastauksia ei käsitellä.</i></p>



<p>************************************</p>



<p>Hej,</p>

<p>Här är {{nimi_sv}}:s länk för inmatning av Move!-mätresultaten i den riksomfattande datainsamlingen: <a href="https://move.arvovastaus.csc.fi/v/{{tunnus}}">https://move.arvovastaus.csc.fi/v/{{tunnus}}</a></p>

<p>Detta meddelande har sänts till skolans allmänna e-postadress som antecknats i Utbildningsstyrelsens tjänst Studieinfo. <strong>Förmedla länken till de personer som gör Move!-mätningarna i er skola 2020. Resultaten ska matas in senast 30.9.2020.</strong></p>

<ul>
    <li>Move!-mätningarna genomförs på hösten i skolorna som en del av gymnastikundervisningen i årskurs 5 och 8.</li>
    <li>De skolspecifika resultaten matas in och rapporteras enligt det officiella skolregistret, där varje skola har en beteckning som getts av Statistikcentralen. Om det finns flera enheter i er skola, mata in resultaten från alla enheter via länken ovan.</li>
    <li>Alla skolans mätresultat behöver inte matas in på en gång. Resultaten kan matas in av flera personer i skolan.</li>
    <li>Mer information om Move!-mätningarna: <a href="https://www.oph.fi/sv/move">https://www.oph.fi/sv/move</a></li>
    <li>Kontakta: <a href="https://www.oph.fi/sv/utbildning-och-examina/ta-kontakt">https://www.oph.fi/sv/utbildning-och-examina/ta-kontakt</a></li>
</ul>

<p><i>Detta är ett automatiskt e-postmeddelande. Mejl till denna e-postadress besvaras inte.</i></p>

</body>
</html>