<div>
  <uib-accordion close-others="true" class="kyselyt">
    <uib-accordion-group ng-repeat="kysely in suodatettu = (kyselyt | filter: suodatus | filter:haku)" is-open="kysely.open">

      <uib-accordion-heading>
        <i class="pull-left icon" ng-class="{'contract-icon': kysely.open, 'expand-icon': !kysely.open}"></i>
        <h3 class="e2e-kysely-nimi">{{kysely | lokalisoiKentta:'nimi'}}</h3>
        <span class="tilastot pull-right">
          {{ 'yleiset.vastaajia' | i18n }}: {{kysely.vastaajia}}/{{kysely.vastaajatunnuksia}}
          <span ng-if="kysely.vastaajatunnuksia > 0">({{kysely.vastaajia / kysely.vastaajatunnuksia * 100 | number:1}} %).</span><br/>
          <span ng-if="kysely.viimeisin_vastaus">{{ 'yleiset.viimeisin_vastaus' | i18n }} {{kysely.viimeisin_vastaus | date:'dd.MM.yyyy HH.mm'}}</span>
        </span>
        <span class="tilastot" ng-if="kysely.tila === 'julkaistu'" ng-class="{tulevaisuudessa: kysely.tulevaisuudessa}">
          {{ 'yleiset.voimassa' | i18n }}: {{kysely.voimassa_alkupvm | voimassaoloAika: kysely.voimassa_loppupvm}}
        </span>
        <span class="tilastot" ng-if="kysely.kysymysryhmien_lkm === 0">
          {{ 'kysely.ei_kysymysryhmia' | i18n }}
        </span>
        <span class="clearfix"></span>
      </uib-accordion-heading>

      <div class="panel-tools-content">
        <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="['luonnos', 'julkaistu'].indexOf(kysely.tila) !== -1">
          <a ng-href={{getVastausBaseUrl()}}/e/{{kysely.kategoria.esikatselu_tunniste}} class="btn btn-primary pull-left" target="_blank" rel="noopener noreferrer">
            {{ 'kysely.esikatsele' | i18n }}&nbsp;
            <span class="fa fa-search"></span>
          </a>
          <a ng-href="#/kyselyt/kysely/{{kysely.kyselyid}}" class="btn btn-primary pull-left">
            {{ 'kysely.muokkaa' | i18n }}&nbsp;
            <span class="fa fa-pencil"></span>
          </a>
          <button ng-if="kysely.tila === 'luonnos'" class="btn btn-primary pull-left e2e-julkaise-kysely" ng-click="julkaiseKyselyModal(kysely)" ng-disabled="kysely.kysymysryhmien_lkm === 0">
            {{ 'kysely.julkaise' | i18n }}&nbsp;
            <span class="fa fa-share"></span>
          </button>
        </auth>
        <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="kysely.poistettavissa && !kysely.automatisoitu">
          <button class="btn btn-primary pull-left e2e-poista-kysely" ng-click="poistaKyselyModal(kyselyt, kysely)" ng-if="!kysely.automatisoitu">
            {{ 'kysely.poista' | i18n }}&nbsp;
            <span class="fa fa-trash"></span>
          </button>
        </auth>
        <auth roolit="['OPL-VASTUUKAYTTAJA', 'OPL-KYSELYKERTAKAYTTAJA']" ng-if="kysely.tila === 'julkaistu' && kysely.kaytettavissa && !kysely.automatisoitu">
          <button class="btn btn-primary pull-left e2e-uusi-kyselykerta" ng-click="uusiKyselykerta(kysely)">
            {{ 'kyselykerta.uusi_kyselykerta' | i18n }}&nbsp;
            <span class="fa fa-plus"></span>
          </button>
        </auth>
        <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="kysely.kaytettavissa && kysely.tila === 'julkaistu'">
          <button class="btn btn-primary pull-left" ng-click="suljeKyselyModal(kysely)">
            {{ 'kysely.sulje' | i18n }}
            <span class="fa fa-close"></span>
          </button>
        </auth>
        <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="kysely.tila === 'poistettu'">
          <button class="btn btn-primary pull-left" ng-click="palautaKysely(kysely)">
            {{ 'kysely.palauta' | i18n }}
            <span class="fa fa-check"></span>
          </button>
        </auth>
        <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="kysely.kyselykerrat === null && kysely.tila === 'julkaistu'">
          <button class="btn btn-primary pull-left" ng-click="palautaLuonnokseksi(kysely)">
            {{ 'kysely.palauta' | i18n }}
            <span class="fa fa-check"></span>
          </button>
        </auth>
        <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="!kysely.automatisoitu">
          <a ng-href="#/kyselyt/kysely/{{kysely.kyselyid}}/kopioi" class="btn btn-primary pull-left">
            {{ 'kysely.kopioi' | i18n }}&nbsp;
            <span class="fa fa-copy"></span>
          </a>
        </auth>
        <auth roolit="['OPL-VASTUUKAYTTAJA','OPL-KYSELYKERTAKAYTTAJA','OPL-KAYTTAJA','OPL-KATSELIJA','OPH-KATSELIJA']" ng-if="kysely.tila !== 'luonnos'">
          <a ng-href="#/raportit/kysely/{{kysely.kyselyid}}" class="btn btn-primary pull-left" ng-disabled="kysely.vastaajia < 0">
            {{ 'kysely.raportti' | i18n }}&nbsp;
            <span class="glyphicon glyphicon-stats"></span>
          </a>
        </auth>
      </div>

      <div class="kyselykerrat" ng-if="kysely.tila !== 'luonnos'">
        <div ng-show="kysely.kyselykerrat.length > 0">
          {{'kysely.kyselykertojen_lajitteluperuste'|i18n}}:
          <span ng-show="kyselykertojen_lajitteluperuste == 'luotuaika'">{{'kysely.kyselykertojen_lajitteluperuste_luontiaika'|i18n}}</span>
          <a ng-hide="kyselykertojen_lajitteluperuste == 'luotuaika'" ng-click="kyselykertojen_lajitteluperuste = 'luotuaika'">{{'kysely.kyselykertojen_lajitteluperuste_luontiaika'|i18n}}</a>
          <span ng-show="kyselykertojen_lajitteluperuste == 'nimi'">{{'kysely.kyselykertojen_lajitteluperuste_nimi'|i18n}}</span>
          <a ng-hide="kyselykertojen_lajitteluperuste == 'nimi'" ng-click="kyselykertojen_lajitteluperuste = 'nimi'">{{'kysely.kyselykertojen_lajitteluperuste_nimi'|i18n}}</a>
        </div>
        <div ng-show="kysely.kyselykerrat.length > 0" ng-repeat="kyselykerta in (kysely.kyselykerrat|orderBy:kyselykertojen_lajitteluperuste)" class="kyselykerrat-container e2e-kyselykerrat">
          <div>
            <h3 class="e2e-kyselykerta-nimi"><span ng-if="kyselykerta.lukittu" class="fa fa-lock" title="{{ 'yleiset.lukittu' | i18n }}">&nbsp;&nbsp;</span>{{ 'yleiset.kyselykerta' | i18n }}: {{kyselykerta.nimi}}</h3>
            <span class="tilastot" style="margin-bottom: 0" ng-if="!kyselykerta.lukittu">{{ 'yleiset.voimassa' | i18n }}: {{kyselykerta.voimassa_alkupvm | voimassaoloAika:  kyselykerta.voimassa_loppupvm}}
            </span>
            <span class="tilastot pull-right">
              <p class="tilastot">
                {{ 'yleiset.vastaajia' | i18n }}: {{kyselykerta.vastaajia}}/{{kyselykerta.vastaajatunnuksia}}
                <span ng-if="kyselykerta.vastaajatunnuksia > 0">({{kyselykerta.vastaajia / kyselykerta.vastaajatunnuksia * 100 | number:1}} %).</span><br/>
                <span ng-if="kyselykerta.viimeisin_vastaus">{{ 'yleiset.viimeisin_vastaus' | i18n }} {{kyselykerta.viimeisin_vastaus | date:'dd.MM.yyyy HH.mm'}}</span>
              </p>
              <span class="text-info" ng-if="kyselykerta.aktiivisia_vastaajatunnuksia > kyselykerta.aktiivisia_vastaajia"><span class="fa fa-info-circle"></span> {{ 'kyselykerta.kayttamattomia_vastaajatunnuksia' | i18n }}</span>
            </span>
          </div>
          <auth roolit="['OPL-VASTUUKAYTTAJA', 'OPL-KYSELYKERTAKAYTTAJA' ,'OPL-KAYTTAJA']">
            <a ng-href="#/kyselyt/{{kysely.kyselyid}}/kyselykerta/{{kyselykerta.kyselykertaid}}" class="btn btn-primary btn-sm pull-left">
              <span ng-if="!kyselykerta.lukittu && kysely.kaytettavissa">{{ 'yleiset.vastaajatunnukset' | i18n }}</span>
              <span ng-if="kyselykerta.lukittu || !kysely.kaytettavissa">{{ 'kyselykerta.nayta' | i18n }}</span>
              &nbsp;
              <span class="fa fa-pencil" ng-if="!kyselykerta.lukittu && kysely.kaytettavissa"></span>
            </a>
            <button class="btn btn-primary btn-sm pull-left" ng-click="lukitseKyselykerta(kyselykerta)" ng-if="!kyselykerta.lukittu && kysely.kaytettavissa">
              {{ 'yleiset.lukitse' | i18n }}&nbsp;
              <span class="fa fa-lock"></span>
            </button>
            <button class="btn btn-primary btn-sm pull-left" ng-click="avaaKyselykerta(kyselykerta)" ng-if="kyselykerta.lukittu && kysely.kaytettavissa">
              {{ 'yleiset.avaa' | i18n }}&nbsp;
              <span class="fa fa-unlock"></span>
            </button>
          </auth>
          <auth roolit="['OPL-VASTUUKAYTTAJA','OPL-KYSELYKERTAKAYTTAJA','OPL-KAYTTAJA','OPL-KATSELIJA','OPH-KATSELIJA']">
            <a ng-href="#/raportit/kyselykerrat/kyselykerta/{{kyselykerta.kyselykertaid}}" class="btn btn-primary btn-sm pull-left e2e-nayta-raportti" ng-disabled="kyselykerta.vastaajia < 0">
              {{ 'kysely.raportti' | i18n }}&nbsp;
              <span class="glyphicon glyphicon-stats"></span>
            </a>
          </auth>
          <auth roolit="['OPL-VASTUUKAYTTAJA','OPL-KYSELYKERTAKAYTTAJA']">
            <span ng-show="kyselykerta.poistettavissa && !kysely.automatisoitu">
              <button class="btn btn-primary btn-sm pull-left" ng-click="poistaKyselykerta(kyselykerta)" ng-if="kyselykerta.poistettavissa">
                {{ 'kyselykerta.poista' | i18n }}&nbsp;
                <span class="fa fa-trash"></span>
              </button>
            </span>
          </auth>
        </div>
        <span ng-show="!kysely.kyselykerrat.length" class="text-small">{{ 'kysely.ei_kyselykertoja' | i18n }}</span>
      </div>
    </uib-accordion-group>
    <span ng-if="suodatettu.length === 0" class="text-small">{{ 'kysely.ei_kyselyita' | i18n }}</span>
  </uib-accordion>
</div>
