<div>
  <accordion close-others="true" class="kyselyt">
      <accordion-group ng-repeat="kysely in suodatettu = (kyselyt | filter: suodatus | filter:haku)" is-open="kysely.open" ng-class="{'group-active': kysely.open}">

          <accordion-heading>
              <i class="pull-left icon" ng-class="{'contract-icon': kysely.open, 'expand-icon': !kysely.open}"></i>
              <h3 class="e2e-kysely-nimi">{{kysely | lokalisoiKentta:'nimi'}}</h3>
              <span class="text-muted" ng-if="kysely.tila === 'julkaistu'">
                {{ 'yleiset.voimassa' | i18n }}: {{kysely.voimassa_alkupvm | voimassaoloAika: kysely.voimassa_loppupvm}}
              </span>
              <span class="text-muted" ng-if="kysely.kysymysryhmien_lkm === 0">
                {{ 'kysely.ei_kysymysryhmia' | i18n }}
              </span>
          </accordion-heading>

          <div class="panel-tools-content">
              <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="kysely.tila === 'luonnos'">
                  <a ng-href="#/kyselyt/kysely/{{kysely.kyselyid}}" class="btn btn-primary pull-left">
                      {{ 'kysely.muokkaa' | i18n }}&nbsp;
                      <span class="fa fa-pencil"></span>
                  </a>
                  <button class="btn btn-primary pull-left e2e-julkaise-kysely" ng-click="julkaiseKyselyModal(kysely)" ng-disabled="kysely.kysymysryhmien_lkm === 0">
                      {{ 'kysely.julkaise' | i18n }}&nbsp;
                      <span class="fa fa-share"></span>
                  </button>
              </auth>
              <auth roolit="['OPL-VASTUUKAYTTAJA','OPL-KAYTTAJA']" ng-if="kysely.tila === 'julkaistu' && kysely.kaytettavissa">
                  <button class="btn btn-primary pull-left e2e-uusi-kyselykerta" ng-click="uusiKyselykerta(kysely)">
                      {{ 'kyselykerta.uusi_kyselykerta' | i18n }}&nbsp;
                      <span class="fa fa-plus"></span>
                  </button>
              </auth>
              <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="kysely.kaytettavissa && kysely.tila === 'julkaistu'">
                <button class="btn btn-primary pull-left" ng-click="suljeKyselyModal(kysely)">
                  {{ 'kysely.sulje' | i18n }}
                  <span class="fa fa-close"></span>
                </button>
              </auth>
              <auth roolit="['OPL-VASTUUKAYTTAJA']" ng-if="kysely.tila === 'poistettu'">
                <button class="btn btn-primary pull-left" ng-click="palautaKysely(kysely)">
                  {{ 'kysely.palauta' | i18n }}
                  <span class="fa fa-check"></span>
                </button>
              </auth>
              <auth roolit="['OPL-VASTUUKAYTTAJA']">
                <a ng-href="#/kyselyt/kysely/{{kysely.kyselyid}}/kopioi" class="btn btn-primary pull-left">
                    {{ 'kysely.kopioi' | i18n }}&nbsp;
                    <span class="fa fa-copy"></span>
                </a>
              </auth>
          </div>

          <div class="kyselykerrat" ng-if="kysely.tila !== 'luonnos'">
              <div ng-show="kysely.kyselykerrat.length > 0" ng-repeat="kyselykerta in kysely.kyselykerrat" class="kyselykerrat-container">
                  <h3 class="e2e-kyselykerta-nimi"><span ng-if="kyselykerta.lukittu" class="fa fa-lock" title="{{ 'yleiset.lukittu' | i18n }}">&nbsp;&nbsp;</span>{{ 'yleiset.kyselykerta' | i18n }}: {{kyselykerta.nimi}}</h3>
                  <span class="text-muted" ng-if="!kyselykerta.lukittu">{{ 'yleiset.voimassa' | i18n }}: {{kyselykerta.voimassa_alkupvm | voimassaoloAika:  kyselykerta.voimassa_loppupvm}}</span>
                  <auth roolit="['OPL-VASTUUKAYTTAJA','OPL-KAYTTAJA']">
                      <a ng-href="#/kyselyt/{{kysely.kyselyid}}/kyselykerta/{{kyselykerta.kyselykertaid}}" class="btn btn-primary btn-sm pull-left">
                          <span ng-if="!kyselykerta.lukittu && kysely.kaytettavissa">{{ 'kyselykerta.hallitse' | i18n }}</span>
                          <span ng-if="kyselykerta.lukittu || !kysely.kaytettavissa">{{ 'kyselykerta.nayta' | i18n }}</span>
                          &nbsp;
                          <span class="fa fa-pencil" ng-if="!kyselykerta.lukittu && kysely.kaytettavissa"></span>
                      </a>
                      <button class="btn btn-primary btn-sm pull-left" ng-click="lukitseKyselykerta(kyselykerta)" ng-if="!kyselykerta.lukittu && kysely.kaytettavissa">
                          {{ 'yleiset.lukitse' | i18n }}&nbsp;
                          <span class="fa fa-lock"></span>
                      </button>
                      <button class="btn btn-primary btn-sm  pull-left" ng-click="avaaKyselykerta(kyselykerta)" ng-if="kyselykerta.lukittu && kysely.kaytettavissa">
                          {{ 'yleiset.avaa' | i18n }}&nbsp;
                          <span class="fa fa-unlock"></span>
                      </button>
                  </auth>
                  <auth roolit="['OPL-VASTUUKAYTTAJA','OPL-KAYTTAJA','OPL-KATSELIJA','OPH-KATSELIJA']">
                      <a ng-href="#/raportit/kyselykerrat/kyselykerta/{{kyselykerta.kyselykertaid}}" class="btn btn-primary btn-sm pull-left">
                          {{ 'kysely.raportti' | i18n }}&nbsp;
                          <span class="glyphicon glyphicon-stats"></span>
                      </a>
                  </auth>
              </div>
              <span ng-show="!kysely.kyselykerrat.length" class="text-muted">{{ 'kysely.ei_kyselykertoja' | i18n }}</span>
          </div>
      </accordion-group>
      <span ng-if="suodatettu.length === 0" class="text-muted">{{ 'kysely.ei_kyselyita' | i18n }}</span>
  </accordion>
</div>
