<div>
  <table class="table table-striped kyselypohjat-taulukko" ts-wrapper>
    <thead>
    <tr>
      <th ts-criteria="self|lokalisoiKentta:'nimi'" ts-default>{{i18n.yleiset.nimi_otsikko}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="kyselypohja in kyselypohjat |filter:rajoitin |lokalisoituFilter:'nimi':hakuehto" ts-repeat>
      <td>
        {{kyselypohja |lokalisoiKentta:'nimi'}}
      </td>
      <td class="actions" style="width: 50%;">
          <a ng-href="#/kyselypohjat/kyselypohja/{{kyselypohja.kyselypohjaid}}" ng-if="kyselypohja.tila !== 'suljettu' && (!kyselypohja.valtakunnallinen || yllapitaja())">
              <span class="fa fa-pencil"></span>
          </a>&nbsp;

          <button class="btn btn-primary btn-sm" ng-click="palautaKyselypohjaLuonnokseksi(kyselypohja)" ng-if="kyselypohja.tila == 'julkaistu' && (!kyselypohja.valtakunnallinen || yllapitaja())">
              {{ 'yleiset.palauta_luonnokseksi' | i18n }}&nbsp;
              <span class="fa fa-reply"></span>
          </button>
          <button class="btn btn-primary btn-sm" ng-click="palautaKyselypohjaJulkaistuksi(kyselypohja)" ng-if="kyselypohja.tila == 'suljettu' && (!kyselypohja.valtakunnallinen || yllapitaja())">
              {{ 'yleiset.palauta_julkaistuksi' | i18n }}&nbsp;
              <span class="fa fa-reply"></span>
          </button>
          <a class="btn btn-primary" ng-href="api/kyselypohja/{{kyselypohja.kyselypohjaid}}/lataa" ng-if="yllapitaja()">
              Lataa tiedostona &nbsp;</a>
          <button class="btn btn-primary btn-sm" ng-click="julkaiseKyselypohja(kyselypohja)" ng-if="kyselypohja.tila == 'luonnos' && (!kyselypohja.valtakunnallinen || yllapitaja())">
              {{ 'yleiset.julkaise' | i18n }}&nbsp;
              <span class="fa fa-share"></span>
          </button>
          <button class="btn btn-primary btn-sm" ng-click="suljeKyselypohja(kyselypohja)" ng-if="kyselypohja.tila == 'julkaistu' && (!kyselypohja.valtakunnallinen || yllapitaja())">
              {{ 'yleiset.sulje' | i18n }}&nbsp;
              <span class="fa fa-close"></span>
          </button>
          <button class="btn btn-primary btn-sm" ng-click="poistaKyselypohja(kyselypohjat, kyselypohja)" ng-if="kyselypohja.tila == 'luonnos' && (!kyselypohja.valtakunnallinen || yllapitaja())">
              {{ 'yleiset.poista' | i18n }}&nbsp;
              <span class="fa fa-trash"></span>
          </button>
          <button class="btn btn-primary btn-sm" ng-click="naytaRakenneModal(kyselypohja)">
            {{'i18n.kysymysryhma.nayta_rakenne'| i18n}}&nbsp;
            <span class="fa fa-search"></span>
          </button>

      </td>
    </tr>
    </tbody>
  </table>
</div>