<accordion close-others="true">
  <div ng-repeat="kysymysryhma in kysymysryhmat">
    <a href="" class="pull-right" ng-click="poistaTaiPalautaKysymysryhma(kysymysryhma)">
      <span class="fa fa-trash"></span>
    </a>
    <accordion-group is-open="group.open">
      <accordion-heading>
        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': group.open, 'glyphicon-chevron-right': !group.open}"></i>
        <span ng-class="{removed: kysymysryhma.poistetaan_kyselysta}">{{kysymysryhma | lokalisoiKentta:'nimi' }}</span>
      </accordion-heading>
      <ol class="kysymykset">
        <li ng-repeat="kysymys in kysymysryhma.kysymykset">
          <span ng-class="{removed: kysymys.poistettu}">{{kysymys | lokalisoiKentta:'kysymys'}}</span>&nbsp;
          <span ng-if="kysymystenPoisto">
            <a ng-click="kysymys.poistettu = true" ng-if="kysymys.poistettava && !kysymys.poistettu">{{i18n.yleiset.poista}}</a>
            <a ng-click="kysymys.poistettu = false" ng-if="kysymys.poistettu">{{i18n.yleiset.palauta}}</a>
          </span>
        </li>
      </ol>
    </accordion-group>
  </div>
</accordion>
