<div>

<table class="table table-striped kysymysryhmat-taulukko" ts-wrapper>
  <thead>
  <tr>
    <th ts-criteria="self|lokalisoiKentta:'nimi'" ts-default>{{'i18n.kysymysryhma.nimi' | i18n}}</th>
    <th ts-criteria="self|lokalisoiKentta:'selite'">{{'i18n.kysymysryhma.selite' | i18n}}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="k in kysymysryhmat | filter:rajoitin |lokalisoituFilter:'nimi':hakuehto" ts-repeat>
    <td>{{ k | lokalisoiKentta:'nimi' }}</td>
    <td>{{ k | lokalisoiKentta:'selite' }}</td>
    <td class="actions nowrap">
      <auth roolit="['VASTUUKAYTTAJA']"  ng-if="k.tila === 'luonnos' && (yllapitaja() || !k.valtakunnallinen)">
        <a ng-href="#/kysymysryhmat/kysymysryhma/{{k.kysymysryhmaid}}" class="e2e-muokkaa-kysymysryhmaa">
          <span class="fa fa-pencil"></span>
        </a>
      </auth>
      <auth roolit="['VASTUUKAYTTAJA']"  ng-if="yllapitaja() || !k.valtakunnallinen">
        <a ng-href="#/kysymysryhmat/kysymysryhma/{{k.kysymysryhmaid}}/kopioi" class="btn btn-default btn-sm e2e-kopioi-kysymysryhma">
          {{ 'kysymysryhma.kopioi' | i18n }}&nbsp;
          <span class="fa fa-copy"></span>
        </a>
      </auth>
      &nbsp;&nbsp;
      <auth roolit="['VASTUUKAYTTAJA']"  ng-if="yllapitaja() || !k.valtakunnallinen">
        <button class="btn btn-primary btn-sm e2e-julkaise-kysymysryhma" ng-click="julkaiseKysymysryhmaModal(k)" ng-disabled="k.kysymyksien_lkm === 0" ng-if="k.tila === 'luonnos'">
          {{ 'yleiset.julkaise' | i18n }}&nbsp;
          <span class="fa fa-share"></span>
        </button>
        <button class="btn btn-primary btn-sm" ng-click="palautaKysymysryhmaLuonnokseksi(k)" ng-if="k.tila === 'julkaistu' && !k.lisatty_kyselyyn && !k.lisatty_kyselypohjaan">
          {{ 'yleiset.palauta_luonnokseksi' | i18n }}&nbsp;
          <span class="fa fa-reply"></span>
        </button>
        <button class="btn btn-primary btn-sm" ng-click="suljeKysymysryhma(k)" ng-if="k.tila === 'julkaistu'">
          {{ 'yleiset.sulje' | i18n }}&nbsp;
          <span class="fa fa-close"></span>
        </button>
        <button class="btn btn-primary btn-sm" ng-click="palautaKysymysryhmaJulkaistuksi(k)" ng-if="k.tila === 'suljettu'">
          {{ 'yleiset.palauta_julkaistuksi' | i18n }}&nbsp;
          <span class="fa fa-reply"></span>
        </button>
        <button class="btn btn-primary btn-sm" ng-click="poistaKysymysryhma(kysymysryhmat, k)" ng-if="k.tila === 'luonnos' && (yllapitaja() || !k.valtakunnallinen)">
          {{ 'yleiset.poista' | i18n }}&nbsp;
          <span class="fa fa-trash"></span>
        </button>
        <button class="btn btn-primary" ng-click="naytaRakenneModal(k)">
          {{'i18n.kysymysryhma.nayta_rakenne'| i18n}}&nbsp;
          <span class="fa fa-search"></span>
        </button>
      </auth>
    </td>
  </tr>
  </tbody>
</table>

</div>
