<uib-accordion close-others="true">
  <div ui-sortable="sortableOptions" ng-model="kysymysryhmat">
    <div ng-repeat="kysymysryhma in kysymysryhmat">
        <a href="" class="pull-right trash" ng-click="poistaTaiPalautaKysymysryhma(kysymysryhma)" ng-if="isMuokattavissa(kysymysryhma)">
          <span class="fa fa-trash"></span>
        </a>
        <uib-accordion-group is-open="group.open">
          <uib-accordion-heading>
            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': group.open, 'glyphicon-chevron-right': !group.open}"></i>
            <span ng-class="{removed: kysymysryhma.poistetaan_kyselysta}">
              <strong ng-if="kysymysryhma.taustakysymykset">{{ 'kysymysryhma.taustakysymykset' | i18n }}:</strong>
              <strong ng-if="kysymysryhma.valtakunnallinen && !kysymysryhma.taustakysymykset">{{ 'kysymysryhma.valtakunnallinen' | i18n }}:</strong>
              {{kysymysryhma | lokalisoiKentta:'nimi' }}
            </span>
          </uib-accordion-heading>
          <ol class="kysymykset">
            <li ng-repeat="kysymys in kysymysryhma.kysymykset">
              <span ng-class="{removed: kysymys.poistettu}">{{kysymys | lokalisoiKentta:'kysymys'}}</span>&nbsp;
              <span ng-if="kysymystenPoisto">
                <a ng-click="kysymys.poistettu = true" ng-if="kysymys.poistettava && !kysymys.poistettu">{{i18n.yleiset.poista}}</a>
                <a ng-click="kysymys.poistettu = false" ng-if="kysymys.poistettu">{{i18n.yleiset.palauta}}</a>
              </span>
            </li>
          </ol>
        </uib-accordion-group>
    </div>
  </div>
</uib-accordion>
