<div class="ohje">
  <div class="ohje-popup ng-hide" ng-class="{muokkaus : muokkaus}" ng-show="nayta">
    <button class="icon delete-icon sulje" ng-click="piilotaOhje()"></button>
    <p ng-hide="muokkaus" ng-repeat="kappale in ohjeteksti" ng-bind="kappale.sisalto"></p>
    <fieldset ng-show="muokkaus">
      <label><span ng-bind="i18n.ohjeteksti"></span> (<span ng-bind="i18n.yleiset.suomeksi"></span>)</label>
      <textarea ng-model="ohje.teksti_fi"></textarea>
    </fieldset>
    <fieldset ng-show="muokkaus">
      <label><span ng-bind="i18n.ohjeteksti"></span> (<span ng-bind="i18n.yleiset.ruotsiksi"></span>)</label>
      <textarea ng-model="ohje.teksti_sv"></textarea>
    </fieldset>
    <fieldset ng-show="muokkaus">
      <label><span ng-bind="i18n.ohjeteksti"></span> (<span ng-bind="i18n.yleiset.englanniksi"></span>)</label>
      <textarea ng-model="ohje.teksti_en"></textarea>
    </fieldset>
    <a ng-if="$parent.yllapitaja" ng-hide="muokkaus" href="" class="ajax-link" ng-click="muokkaa()" ng-bind="i18n.muokkaa_ohjetta"></a>
    <tallenna disabloi-pyyntojen-ajaksi="['ohjeen-muokkaus']" ng-click="tallennaOhje()" ng-show="muokkaus" teksti="{{i18n.yleiset.tallenna}}"></tallenna>
    <a ng-if="$parent.yllapitaja" ng-show="muokkaus" href="" class="ajax-link" ng-click="peruutaMuokkaus()" ng-bind="i18n.peruuta_muokkaus"></a>
  </div>
  <div class="avaa" ng-click="naytaOhje()"></div>
</div>
