<fieldset class="datepicker-field">
  <label ng-if="otsikko" ng-class="{pakollinen : pakollinen}"><span>{{otsikko}}</span></label>
  <div>
  <input
    type="text"
    uib-datepicker-popup="dd.MM.yyyy"
    ng-model="valittuPvm"
    ng-required="pakollinen"
    is-open="opened"
    datepicker-options="dateOptions"
    show-button-bar="false"
    readonly
    ng-click="open($event)"/>
    <button ng-click="open($event)" class="open-datepicker icon calendar-icon" />
    <button ng-click="valittuPvm = undefined" ng-show="valittuPvm" class="fa fa-close calendar-clear"></button>
  </div>
</fieldset>
