<div class="clearfix raportti-tiedot">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="printgraphs">&nbsp;{{ 'kysely.raportti_tulosta_graafit' | i18n }}
      </label><br />
      <!--<label>-->
        <!--<input type="checkbox" ng-model="printfreetext">&nbsp;{{ 'kysely.raportti_tulosta_vapaatekstivastaukset' | i18n }}-->
      <!--</label>-->
  </div>
  <button class="btn btn-primary" onclick="window.print()">{{ 'kysely.raportti_tulosta' | i18n }}&nbsp;<span class="fa fa-print"></span></button>
</div>
