<div class="valintalista" ng-show="valittavat">
  <div class="well">
    <input type="text" class="form-control icon search-icon-input" ng-model="filter" ng-model-options="{debounce: 100}" ng-change="nollaaRajoite()" placeholder="{{ hakuteksti }}">

    <ul class="valitsin" ng-class="{pieni: pieni}" rullaus="naytaLisaa()">
      <li ng-repeat="valittava in valittavat | filter:filter | orderByLokalisoitu:'nimi' | limitTo: rajoite" ng-click="valitse({'valittava': valittava})">
        {{ valittava | lokalisoiKentta:'nimi' }}
        <span class="fa fa-check" ng-show="valittava.valittu"></span>
      </li>
    </ul>

    <div class="valintalista-valitut">
      <ul>
        <li ng-repeat="valittava in valittavat | filter:{valittu: true}" ng-click="valitse({'valittava': valittava})">
          <div class="btn btn-primary">
            {{ valittava | lokalisoiKentta:'nimi' }}
            <span class="fa fa-remove"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
