<h1 ng-if="!uusi">{{i18n.kyselykerta.hallitse}}</h1>
<h1 ng-if="uusi">{{i18n.kyselykerta.uusi_kyselykerta}}</h1>

<h2>{{i18n.yleiset.kysely}}: {{ kysely | lokalisoiKentta:'nimi' }}</h2>

<h3>{{i18n.kyselykerta.perustiedot}}</h3>

<form name="kyselykertaForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="kyselykerta_nimi" class="pakollinen"><span>{{i18n.kyselykerta.kyselykerran_nimi}}</span></label>
                <input id="kyselykerta_nimi" type="text" ng-model="kyselykerta.nimi" class="form-control e2e-kyselykerta-nimi"
                       ng-required="true"/>
            </div>
        </div>
    </div>

    <div>
        <h3>{{i18n.kyselykerta.vastausaika}}</h3>
        <pvm-valitsin
                otsikko="{{i18n.yleiset.alkaen}}"
                oletus-pvm="kysely.voimassa_alkupvm"
                valittu-pvm="kyselykerta.voimassa_alkupvm"
                min-pvm="kysely.voimassa_alkupvm"
                max-pvm="kyselykerta.voimassa_loppupvm"
                ng-model="kyselykerta.voimassa_alkupvm"
                pakollinen="true">
        </pvm-valitsin>
        <pvm-valitsin
                otsikko="{{i18n.yleiset.asti}}"
                oletus-pvm="kyselykerta.voimassa_loppupvm"
                valittu-pvm="kyselykerta.voimassa_loppupvm"
                min-pvm="kyselykerta.voimassa_alkupvm"
                max-pvm="kysely.voimassa_loppupvm"
                ng-model="kyselykerta.voimassa_loppupvm"
                pakollinen="false">
        </pvm-valitsin>
    </div>
    <tallenna formi-validi="kyselykertaForm.$valid" ng-click="tallenna()" teksti="{{i18n.yleiset.tallenna}}"
              icon="glyphicon glyphicon-floppy-disk"></tallenna>
</form>

<div ng-if="!uusi">
    <h2>{{i18n.vastaajatunnus.lista}}</h2>
    <button class="btn btn-primary e2e-luo-vastaajatunnuksia" ng-click="luoTunnuksiaDialogi()">
        {{i18n.vastaajatunnus.luonti}}&nbsp;&nbsp;
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <br/>

    <div ng-repeat="rahoitusmuodot in rahoitusmuodotmap" ng-show="(tunnukset | filter: {rahoitusmuotoid: rahoitusmuodot.rahoitusmuotoid}).length">
        <h3>{{rahoitusmuodot.rahoitusmuoto | enumArvo:'rahoitusmuoto'}}</h3>
        <div class="well">
        <table class="table table-striped vastaajatunnus-taulukko">
            <thead>
            <tr>
                <th>{{'i18n.vastaajatunnus.tunnus'|i18n}}</th>
                <th>{{'i18n.vastaajatunnus.vastauksia'|i18n}}</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>
                        {{'vastaajatunnus.vastauksia'|i18n}}
                    </td>
                    <td>
                        <strong>{{getVastaustenLkm(rahoitusmuodot.rahoitusmuotoid)}} / {{getVastaajienLkm(rahoitusmuodot.rahoitusmuotoid)}}</strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        {{'i18n.vastaajatunnus.vastausprosentti'|i18n}}
                    </td>
                    <td>
                        <progressbar value="getVastausProsentti(rahoitusmuodot.rahoitusmuotoid) | number:0"><span>{{getVastausProsentti(rahoitusmuodot.rahoitusmuotoid) | number:0}}%</span></progressbar>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="tunnus in tunnukset | filter: {rahoitusmuotoid: rahoitusmuodot.rahoitusmuotoid}"
                    ng-class="{lukittu: tunnus.lukittu, vanhentunut: !tunnus.kaytettavissa, voimassa: tunnus.kaytettavissa && tunnus.vastaajien_lkm > tunnus.vastausten_lkm}">
                    <td class="e2e-vastaajatunnus-url">{{vastausBaseUrl}}/{{tunnus.tunnus}}</td>
                    <td>{{tunnus.vastausten_lkm}} / {{tunnus.vastaajien_lkm}}</td>
                    <td class="nowrap actions">
                        <span ng-if="tunnus.kaytettavissa && tunnus.vastaajien_lkm > tunnus.vastausten_lkm">
                            <a ng-if="tunnus.lukittu" ng-click="lukitseTunnus(tunnus, false)">
                                <span class="glyphicon glyphicon-lock"></span>
                            </a>
                            <a ng-if="!tunnus.lukittu" ng-click="lukitseTunnus(tunnus, true)">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                            &nbsp;
                            <a href="mailto:?subject={{i18n.vastaajatunnus.vastaa}}: {{ kysely | lokalisoiKentta:'nimi' }}&body={{vastausBaseUrl}}/{{tunnus.tunnus}}"
                               title="{{i18n.vastaajatunnus.laheta}}">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="center-block" ng-show="tunnukset.length>0">
        <div class="yhteenveto">
            <h2>{{'vastaajatunnus.vastauksia'|i18n}}</h2>
            <h1>{{getVastaustenLkm()}} / {{getVastaajienLkm()}}</h1>
            <progressbar value="getVastausProsentti() | number:0"><span>{{getVastausProsentti() | number:0}}%</span></progressbar>
        </div>
    </div>
</div>
