<div ng-show="kysely && kyselykerta">
<h1 ng-if="!uusi && muokkaustila">{{'yleiset.kyselykerta' | i18n}} <ohje tunniste="hallitse_kyselykertaa"></ohje></h1>
<h1 ng-if="!muokkaustila">{{'kyselykerta.nayta' | i18n}} <ohje tunniste="nayta_kyselykerta"></ohje></h1>
<h1 ng-if="uusi">{{'kyselykerta.uusi_kyselykerta' | i18n}} <ohje tunniste="uusi_kyselykerta"></ohje></h1>

<h2>{{i18n.yleiset.kysely}}: {{ kysely | lokalisoiKentta:'nimi' }}</h2>

<h3>{{i18n.kyselykerta.perustiedot}}</h3>

<form name="kyselykertaForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-if="muokkaustila">
                <label for="kyselykerta_nimi" class="pakollinen"><span>{{'kyselykerta.kyselykerran_nimi' | i18n }}</span></label>
                <input id="kyselykerta_nimi" type="text" ng-model="kyselykerta.nimi" class="form-control e2e-kyselykerta-nimi"
                       ng-required="true" ng-disabled="kysely.automatisoitu"/>
            </div>
            <div ng-if="!muokkaustila">
                <label><span>{{'kyselykerta.kyselykerran_nimi' | i18n }}</span></label>
                <span>{{kyselykerta.nimi}}</span>
            </div>
        </div>
    </div>

    <div>
        <h3>{{'kyselykerta.vastausaika' | i18n}}</h3>
        <span ng-if="!muokkaustila || (muokkaustila && !vastuuKayttaja && !uusi)">
            {{kysely.voimassa_alkupvm | voimassaoloAika: kysely.voimassa_loppupvm}}
        </span>
        <span ng-if="muokkaustila && kyselykerta && kysely && vastuuKayttaja || (uusi && !vastuuKayttaja)">
            <pvm-valitsin
                    otsikko="{{i18n.yleiset.alkaen}}"
                    oletus-pvm="kysely.voimassa_alkupvm"
                    valittu-pvm="kyselykerta.voimassa_alkupvm"
                    min-pvm="kysely.voimassa_alkupvm"
                    max-pvm="kyselykerta.voimassa_loppupvm"
                    ng-model="kyselykerta.voimassa_alkupvm"
                    pakollinen="true"
                    ng-disabled="kysely.automatisoitu">
            </pvm-valitsin>
            <pvm-valitsin
                    otsikko="{{i18n.yleiset.asti}}"
                    oletus-pvm="kysely.voimassa_loppupvm"
                    valittu-pvm="kyselykerta.voimassa_loppupvm"
                    min-pvm="kyselykerta.voimassa_alkupvm"
                    max-pvm="kysely.voimassa_loppupvm"
                    ng-model="kyselykerta.voimassa_loppupvm"
                    ng-disabled="kysely.automatisoitu"
                    pakollinen="false">
            </pvm-valitsin>
        </span>
    </div>
    <tallenna formi-validi="kyselykertaForm.$valid" ng-click="tallenna()" teksti="{{i18n.yleiset.tallenna}}"
              icon="fa fa-save" ng-if="muokkaustila" class="e2e-tallenna-kyselykerta"></tallenna>
</form>
<div ng-if="!uusi">
    <h2>{{'vastaajatunnus.lista' | i18n}} <ohje tunniste="kyselykerran_vastaajatunnukset"></ohje></h2>
    <button class="btn btn-primary e2e-luo-vastaajatunnuksia" ng-click="luoTunnuksiaDialogi()"
            ng-if="muokkaustila &&
            ((!kysely.automatisoitu && kyselykerta.automaattinen === null) ||
            (kyselykerta.automaattinen === null && kysely.tyyppi === 'tyoelamapalaute'))" >
        {{'vastaajatunnus.luonti' | i18n}}&nbsp;&nbsp;
        <span class="fa fa-plus"></span>
    </button>
    <button class="btn btn-primary" ng-click="luoTunnuksiaDialogi(true)"
            ng-if="muokkaustila && kysely.tyyppi === 'amispalaute'
            && laajennettuOppisopimuskoulutus && !kysely.automatisoitu && kyselykerta.automaattinen === null"
            title="{{'vastaajatunnus.luonti_laajennettu_tooltip' | i18n}}">
        {{'vastaajatunnus.luonti_laajennettu' | i18n }} &nbsp;
        <span class="fa fa-plus"></span>
    </button>
    <a class="btn btn-primary" ng-href="api/csv/vastaajatunnus/{{kyselykertaid}}?lang={{kieli}}">
        {{'vastaajatunnnus.lataa_csv'|i18n}}
        <span class="fa fa-file-excel-o"></span>
    </a>
    <a ng-href="#/raportit/kyselykerrat/kyselykerta/{{kyselykerta.kyselykertaid}}" class="btn btn-primary e2e-nayta-raportti">
      {{ 'kysely.raportti' | i18n }}&nbsp;
      <span class="glyphicon glyphicon-stats"></span>
    </a>
    <br/>

    <label>
        <input type="checkbox" ng-model="vain_omat" ng-change="toggleOmat()"/>
        <span>{{'vastaajatunnus.nayta_omat' | i18n}}</span>
    </label>

    <div class="center-block" ng-show="tunnukset.length>0">
      <div class="yhteenveto">
        <h2>{{'vastaajatunnus.vastauksia'|i18n}} {{getVastaustenLkm()}} / {{getVastaajienLkm()}}</h2>
        <uib-progressbar value="getVastausProsentti() | number:0"><span>{{getVastausProsentti() | number:0}}%</span></uib-progressbar>
      </div>
    </div>

    <div>
        <div class="well">
        <table class="table table-striped vastaajatunnus-taulukko" ts-wrapper
               ng-if="(kysely.tyyppi !== 'yo-uraseuranta') && (kysely.tyyppi !== 'amk-uraseuranta') && (kysely.tyyppi !== 'tyoelamapalaute') ">
            <thead>
            <tr>
                <th ts-criteria="tunnus">{{'i18n.vastaajatunnus.tunnus'|i18n}}</th>
                <th ts-criteria="luotuaika" ts-default="descending">{{'i18n.vastaajatunnus.luotuaika' | i18n}}</th>
                <th ts-criteria="voimassa_alkupvm">{{'kyselykerta.vastausaika' | i18n}}</th>
                <th ts-criteria="(valmistavan_koulutuksen_oppilaitos|lokalisoiKentta:'nimi')">{{'i18n.vastaajatunnus.jarjestaja'|i18n}}</th>
                <th ts-criteria="tutkinto|lokalisoiKentta:'nimi'">{{'i18n.vastaajatunnus.tutkinto'|i18n}}</th>
                <th ts-criteria="vastausten_lkm">{{'i18n.vastaajatunnus.vastauksia'|i18n}}</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5">
                        {{'vastaajatunnus.vastauksia'|i18n}}
                    </td>
                    <td>
                        <strong>{{getVastaustenLkm()}} / {{getVastaajienLkm()}}</strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">
                        {{'i18n.vastaajatunnus.vastausprosentti'|i18n}}
                    </td>
                    <td>
                        <uib-progressbar value="getVastausProsentti() | number:0"><span>{{getVastausProsentti(rahoitusmuodot.rahoitusmuotoid) | number:0}}%</span></uib-progressbar>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="tunnus in tunnukset"
                    ng-class="{lukittu: tunnus.lukittu, voimassa: tunnus.kaytettavissa && tunnus.kohteiden_lkm > tunnus.vastausten_lkm}"
                    ts-repeat>
                    <td class="e2e-vastaajatunnus-url">{{vastausBaseUrl}}/v/{{tunnus.tunnus}}</td>
                    <td>{{tunnus.luotuaika | date:'dd.MM.yyyy hh:mm:ss'}}</td>
                    <td>{{tunnus.voimassa_alkupvm | voimassaoloAika: tunnus.voimassa_loppupvm}}</td>
                    <td>
                        <div>{{tunnus.valmistavan_koulutuksen_oppilaitos | lokalisoiKentta: 'nimi'}}</div>
                        <div>{{tunnus.toimipiste | lokalisoiKentta: 'nimi'}}</div>
                    </td>
                    <td>
                        <div>{{tunnus.tutkinto | lokalisoiKentta:'nimi'}}</div>
                        <div>
                            <span ng-show="tunnus.tutkinto.tutkintotunnus">{{ tunnus.suorituskieli }}</span>
                            <span ng-show="tunnus.taustatiedot.koulutusmuoto == 'paivaopiskelu'">
                                {{i18n.vastaajatunnus.koulutusmuoto_paivaopiskelu}}
                            </span>
                            <span ng-show="tunnus.taustatiedot.koulutusmuoto == 'monimuoto'">
                                 {{i18n.vastaajatunnus.koulutusmuoto_monimuoto}}
                            </span>
                        </div>
                    </td>
                    <td>{{tunnus.vastausten_lkm}} / {{tunnus.kohteiden_lkm}} <a ng-click="muokkaaVastaajienMaaraa(tunnus)" ng-if="tunnus.muokattavissa && tunnus.kohteiden_lkm !== 1"><span class="fa fa-pencil"></span></a></td>
                    <td class="nowrap actions">
                        <span ng-if="tunnus.kohteiden_lkm > tunnus.vastausten_lkm">
                            <a ng-if="tunnus.vastausten_lkm === 0" ng-click="poistaTunnus(tunnus)">
                                <span class="fa fa-remove"></span>
                            </a>
                            &nbsp;
                            <span ng-if="muokkaustila">
                                <a ng-if="tunnus.lukittu" ng-click="lukitseTunnus(tunnus, false)">
                                    <span class="fa fa-lock"></span>
                                </a>
                                <a ng-if="!tunnus.lukittu" ng-click="lukitseTunnus(tunnus, true)">
                                    <span class="fa fa-unlock"></span>
                                </a>
                                &nbsp;
                                <a href="mailto:?subject={{i18n.vastaajatunnus.vastaa}}: {{ kysely | lokalisoiKentta:'nimi' }}&body={{vastausBaseUrl}}/v/{{tunnus.tunnus}}"
                                   title="{{i18n.vastaajatunnus.laheta}}">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
            <table class="table table-striped vastaajatunnus-taulukko" ts-wrapper
                   ng-if="(kysely.tyyppi === 'tyoelamapalaute') ">
                <thead>
                <tr>
                    <th ts-criteria="tunnus">{{'i18n.vastaajatunnus.nippulinkki'|i18n}}</th>
                    <th ts-criteria="voimassa_alkupvm">{{'kyselykerta.vastausaika' | i18n}}</th>
                    <th ts-criteria="tyonantaja">{{'vastaajatunnus.tyopaikka' | i18n}}</th>
                    <th ts-criteria="tutkinto|lokalisoiKentta:'nimi'">{{'i18n.vastaajatunnus.tutkinto'|i18n}}</th>
                    <th ts-criteria="vastausten_lkm">{{'i18n.vastaajatunnus.vastauksia'|i18n}}</th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="5">
                        {{'vastaajatunnus.vastauksia'|i18n}}
                    </td>
                    <td>
                        <strong>{{getVastaustenLkm()}} / {{getVastaajienLkm()}}</strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">
                        {{'i18n.vastaajatunnus.vastausprosentti'|i18n}}
                    </td>
                    <td>
                        <uib-progressbar value="getVastausProsentti() | number:0"><span>{{getVastausProsentti(rahoitusmuodot.rahoitusmuotoid) | number:0}}%</span></uib-progressbar>
                    </td>
                    <td></td>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="nippu in niput"
                    ng-class="{voimassa: nippu.kohteiden_lkm > nippu.vastausten_lkm}"
                    ts-repeat>
                    <td class="e2e-vastaajatunnus-url">{{vastausBaseUrl}}/n/{{nippu.tunniste}}</td>
                    <td>{{nippu.voimassa_alkupvm | voimassaoloAika: nippu.voimassa_loppupvm}}</td>
                    <td>
                        <div>{{nippu.taustatiedot.tyonantaja}}</div>
                        <div>{{nippu.taustatiedot.tyopaikka}}</div>
                    </td>
                    <td>{{nippu.tutkinto | lokalisoiKentta:'nimi'}}</td>
                    <td>{{nippu.vastausten_lkm}} / {{nippu.kohteiden_lkm}}</td>
                    <td class="nowrap actions"> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
