<h1>{{i18n.kyselypohja.breadcrumb_kyselypohja}} <ohje tunniste="kyselypohjat"></ohje></h1>

<div class="row">

  <div class="col-sm-6">
    <input type="text" class="icon search-icon-input form-control" ng-model="hakuehto.teksti" placeholder="{{i18n.kyselypohja.etsi}}">
  </div>

  <div class="col-sm-3 col-sm-push-1"  style="text-align: right">
    <auth roolit="['YLLAPITAJA']">
      <input id="upload-file" type="file" onchange="angular.element(this).scope().fileChanged(this)" class="inputfile" >
      <label for="upload-file" class=" btn btn-primary" style="margin: 5px; width:75%;">
        Lisää tiedostosta
        <span class="fa fa-plus"></span>
      </label>
    </auth>
  </div>

  <div class="col-sm-3" style="text-align: right">
    <auth roolit="['YLLAPITAJA f']">
      <a class="btn btn-primary" ng-click="luoUusiKyselypohja()" style="margin: 5px;">
        {{ 'kyselypohja.luo_uusi' | i18n }}&nbsp;
        <span class="fa fa-plus"></span>
      </a>
    </auth>
  </div>

</div>

<h2>{{i18n.yleiset.julkaistut}}</h2>
<kyselypohjalista hakuehto="hakuehto.teksti" kyselypohjat="kyselypohjat" tila="julkaistu" valtakunnalliset="false"></kyselypohjalista>

<h2>{{i18n.yleiset.julkaistut_valtakunnalliset}}</h2>
<kyselypohjalista hakuehto="hakuehto.teksti" kyselypohjat="kyselypohjat" tila="julkaistu" valtakunnalliset="true"></kyselypohjalista>

<h2>{{i18n.yleiset.luonnokset}}</h2>
<kyselypohjalista hakuehto="hakuehto.teksti" kyselypohjat="kyselypohjat" tila="luonnos"></kyselypohjalista>

<div>
  <button class="btn btn-primary" ng-click="naytaSuljetut=!naytaSuljetut">
    <span ng-if="!naytaSuljetut">{{ 'yleiset.nayta_suljetut' | i18n }}</span>
    <span ng-if="naytaSuljetut">{{ 'yleiset.piilota_suljetut' | i18n }}</span>
  </button>
</div>

<div ng-if="naytaSuljetut">
  <h2>{{i18n.yleiset.suljetut}}</h2>

  <kyselypohjalista hakuehto="hakuehto.teksti" kyselypohjat="kyselypohjat" tila="suljettu"></kyselypohjalista>
</div>
