<h1>{{i18n.kyselypohja.breadcrumb_kyselypohja}} <ohje tunniste="kyselypohjat"></ohje></h1>

<fieldset class="luo-uusi-kysely">
  <input type="text" class="icon search-icon-input" ng-model="hakuehto.teksti" placeholder="{{i18n.kyselypohja.etsi}}">
  <auth roolit="['OPL-VASTUUKAYTTAJA','OPL-PAAKAYTTAJA']">
    <button class="btn btn-primary pull-right" ng-click="luoUusiKyselypohja()">
      {{ 'kyselypohja.luo_uusi' | i18n }}&nbsp;
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </auth>
</fieldset>

<h2>{{i18n.kyselypohja.luonnokset}}</h2>

<ng-include src="'template/kyselypohja/kyselypohjalista.html'" ng-repeat="tila in ['luonnos']"></ng-include>

<h2>{{i18n.kyselypohja.julkaistut}}</h2>

<ng-include src="'template/kyselypohja/kyselypohjalista.html'" ng-repeat="tila in ['julkaistu']"></ng-include>

<h2>{{i18n.kyselypohja.suljetut}}</h2>

<ng-include src="'template/kyselypohja/kyselypohjalista.html'" ng-repeat="tila in ['suljettu']"></ng-include>
