<h1>{{i18n.kyselypohja.breadcrumb_kyselypohja}} <ohje tunniste="kyselypohjat"></ohje></h1>

<div class="row">
    <auth roolit="['OPL-VASTUUKAYTTAJA']">
        <button class="btn btn-primary pull-right" ng-click="luoUusiKyselypohja()">
            {{ 'kyselypohja.luo_uusi' | i18n }}&nbsp;
            <span class="fa fa-plus"></span>
        </button>
    </auth>
    <div class="col-md-4">
        <input type="text" class="icon search-icon-input form-control" ng-model="hakuehto.teksti" placeholder="{{i18n.kyselypohja.etsi}}">
    </div>
</div>

<h2>{{i18n.yleiset.julkaistut}}</h2>
<kyselypohjalista kyselypohjat="kyselypohjat" tila="julkaistu" valtakunnalliset="false"></kyselypohjalista>

<h2>{{i18n.yleiset.julkaistut_valtakunnalliset}}</h2>
<kyselypohjalista kyselypohjat="kyselypohjat" tila="julkaistu" valtakunnalliset="true"></kyselypohjalista>

<h2>{{i18n.yleiset.luonnokset}}</h2>
<kyselypohjalista kyselypohjat="kyselypohjat" tila="luonnos"></kyselypohjalista>

<div>
  <button class="btn btn-primary" ng-click="naytaSuljetut=!naytaSuljetut">
    <span ng-if="!naytaSuljetut">{{ 'yleiset.nayta_suljetut' | i18n }}</span>
    <span ng-if="naytaSuljetut">{{ 'yleiset.piilota_suljetut' | i18n }}</span>
  </button>
</div>

<div ng-if="naytaSuljetut">
  <h2>{{i18n.yleiset.suljetut}}</h2>

  <kyselypohjalista kyselypohjat="kyselypohjat" tila="suljettu"></kyselypohjalista>
</div>