<h1>{{i18n.kyselypohja.kyselypohja}} <ohje tunniste="kyselypohja"></ohje></h1>

<div ng-show="kyselypohja">

<form name="kyselypohjaForm">
  <div ng-if="yllapitaja" class="checkbox">
    <label>
      <input type="checkbox" ng-model="kyselypohja.valtakunnallinen">
      {{i18n.yleiset.valtakunnallinen}}
    </label>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label ng-class="{pakollinen: !(kyselypohja.nimi_en || kyselypohja.nimi_sv)}"><span>{{i18n.kyselypohja.nimi}} ({{i18n.yleiset.suomeksi}})</span>
          <input type="text" class="form-control" ng-model="kyselypohja.nimi_fi" ng-required="!(kyselypohja.nimi_en || kyselypohja.nimi_sv)"/>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label ng-class="{pakollinen: !(kyselypohja.nimi_en || kyselypohja.nimi_fi)}"><span>{{i18n.kyselypohja.nimi}} ({{i18n.yleiset.ruotsiksi}})</span>
          <input type="text" class="form-control" ng-model="kyselypohja.nimi_sv" ng-required="!(kyselypohja.nimi_en || kyselypohja.nimi_fi)">
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label ng-class="{pakollinen: !(kyselypohja.nimi_fi || kyselypohja.nimi_sv)}"><span>{{i18n.kyselypohja.nimi}} ({{i18n.yleiset.englanniksi}})</span>
          <input type="text" class="form-control" ng-model="kyselypohja.nimi_en" ng-required="!(kyselypohja.nimi_fi || kyselypohja.nimi_sv)">
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label><span>{{i18n.kyselypohja.kuvaus}} ({{i18n.yleiset.suomeksi}})</span>
          <input type="text" class="form-control" ng-model="kyselypohja.selite_fi">
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label><span>{{i18n.kyselypohja.kuvaus}} ({{i18n.yleiset.ruotsiksi}})</span>
          <input type="text" class="form-control" ng-model="kyselypohja.selite_sv">
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label><span>{{i18n.kyselypohja.kuvaus}} ({{i18n.yleiset.englanniksi}})</span>
          <input type="text" class="form-control" ng-model="kyselypohja.selite_en">
        </label>
      </div>
    </div>
  </div>

  <div class="row"><br /></div>

  <div>
    <button class="btn btn-primary" ng-click="lisaaKysymysryhmaModal()">
      {{i18n.kysely.lisaa_kysymysryhma}}&nbsp;
      <span class="fa fa-plus"></span>
    </button>
  </div>

  <kysymysryhma-accordion kysymysryhmat="kyselypohja.kysymysryhmat" kysymysten-poisto="true" is-julkaistu="kyselypohja.tila === 'julkaistu'" is-poistettavissa="true" is-pohja="true"></kysymysryhma-accordion>

  <button class="btn btn-primary pull-left" ng-disabled="!kyselypohjaForm.$valid" ng-click="tallenna()">
    {{'i18n.yleiset.tallenna'| i18n}}&nbsp;<span class="fa fa-save"></span>
  </button>

  <button class="btn btn-primary pull-left" ng-disabled="!kyselypohja.kysymysryhmat.length" ng-click="naytaRakenneModal()">{{'i18n.kysymysryhma.nayta_rakenne'| i18n}}&nbsp;<span class="fa fa-search"></span></button>
  <button class="btn btn-default pull-left" ng-click="peruuta()">{{'i18n.yleiset.peruuta' | i18n}}</button>
</form>

</div>