<form name="impersonoiForm">
  <div class="modal-body">
    <haku-valitsin
            otsikko="{{i18n.impersonointi.valitse_avustettava_kayttaja}}"
            url="api/kayttaja/impersonoitava"
            model="impersonoitava"
            model-id-property="oid"
            model-text-property="nimi"
            pakollinen="true">
    </haku-valitsin>
  </div>
  <div class="modal-footer">
    <tallenna formi-validi="impersonoiForm.$valid" ng-click="impersonoi()" teksti="{{i18n.impersonointi.valitse_kayttaja}}"></tallenna>
  </div>
</form>
