/* Deprecated */
.accordion {
  border-bottom: 2px solid $gray-color;
  margin: 5px;
}

.accordion-header {
  @include icon-before(-31px, 5px){@include expand-icon;};
  padding: 5px 0;
  color: #000000;
  font-size: 1.1em;
  padding-left: 40px;
  &.collapse {
    @include icon-before(-40px, 5px){@include contract-icon;};
  }
}
.accordion-body {
  border-top: 1px solid $gray-color;
  display: none;
  padding: 5px 0;
  padding-left: 60px;
  &.collapse {display: block;}
}
.accordion-container {margin-bottom: $marginM;}