button,
a.button,
a.btn{
  margin: $marginS $marginL $marginS 0;
  cursor: pointer;
  text-decoration: none;
}

table td.actions a.btn,
table td.actions button.btn{
  margin: 0;
}

button:disabled,
a.button:disabled
a.btn:disabled{
  opacity: 0.5;
  background-color: $primary-color;
}

button.icon,
a.button.icon{
  outline: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background-color: transparent;
  vertical-align: middle;
}

h1 button.icon,
h1 a.button.icon{
  margin-left: 10px;
}