$gray-color: rgb(128,128,128);
$lighter-gray: lighten($gray-color, 20%);
$lightest-gray: lighten($gray-color, 40%);
$darker-gray: darken($gray-color, 20%);
$darkest-gray: darken($gray-color, 40%);


$primary-color: #66a4af;
$lighter-primary: #99c2c9;
$lightest-primary: #cce1e4;
$darker-primary: #338594;
$darkest-primary: #006778;
$disabled-primary-color: #9c3374;

$primary-action-text: white;
