$font-body: "Open Sans", "Arial", sans-serif;
$font-heading: "Open Sans Condensed", "Arial", sans-serif;
$font-heading-light: "Open Sans Condensed", "Arial", sans-serif;
$font-size-body: 14px;
@mixin engraved{ text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);}

body {
  font-family: $font-body;
  font-size: $font-size-body;
  line-height: $baseline;
  color: $darker-gray;
}

p {
  margin-bottom: $baseline * 0.5;
  line-height: $baseline;
}

.text-muted {
  font-size: 0.8em;
}

.tilastot {
  font-size: 13px;
  line-height: 1.1;
}

h1 {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 2.14em;
  line-height: $baseline *2;
  margin-bottom: $marginL;
  text-transform:uppercase;
}

h2 {
  font-family: $font-heading-light;
  margin-bottom: $marginM;
  font-weight: 300;
  font-size: 1.7em;
  text-transform:uppercase;
}

h3 {
  font-family: $font-heading;
  margin-bottom: $marginS;
  font-size: 1.3em;
  font-weight: 700;
}

label {
  font-size: 1em;
  font-family: $font-body;
  font-weight: 700;
  & input {
    font-weight: normal;
  }
}

a {color : $primary-color; text-decoration: none;
  &.show-more {
    &:before {content :"[";}
    &:after {content :"]";}
  }
  &:hover {
    color : $darker-primary;
    text-decoration: underline;
    .pagination &, .tutkintovalitsin & {text-decoration: none;}
  }
}

/* Change Fontawesome src */
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.2.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
}

.fa {
  font: normal normal normal 16px/1 FontAwesome;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../font/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('../font/opensans-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('../font/opensans-bold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  src: url('../font/opensans-condensed-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  src: url('../font/opensans-condensed-bold.woff') format('woff');
}
