<div ng-repeat="kysymysryhma in data.kysymysryhmat" class="kysymysryhma">
    <h2>{{kysymysryhma | lokalisoiKentta:'nimi'}}</h2>
    <p>{{kysymysryhma | lokalisoiKentta:'kuvaus'}}</p>

    <div ng-repeat="kysymys in kysymysryhma.kysymykset" class="kysymys" id="k{{kysymys.kysymysid}}" ng-init="vastausKieli = vastauksienKieli(kysymys)"
         ng-if="!kysymys.jatkokysymys || (kysymys.jatkokysymys && naytaJatkokysymys(kysymysryhma, kysymys))">

        <div ng-if="kysymys.vastaustyyppi === 'valiotsikko'">
            <h3>{{kysymys | lokalisoiKentta:'kysymys'}}<span ng-if="kysymys.pakollinen">*</span></h3>
        </div>

        <ng-form name="kysymysForm" class="kysymysForm" ng-if="kysymys.vastaustyyppi !== 'valiotsikko'">
            <h3>{{kysymys | lokalisoiKentta:'kysymys'}}<span ng-if="kysymys.pakollinen">*</span></h3>

            <div class="kysymys-selite" ng-if="kysymyksellaSelite(kysymys)">
            {{kysymys | lokalisoiKentta:'selite'}}
            </div>

            <div ng-if="kysymys.vastaustyyppi == 'vapaateksti'" class="vastaus_valinnat">
                <textarea ng-class="kysymys.max_vastaus < 500 ? 'single-row' : ''" name="vapaateksti" ng-model="kysymys.vastaus"
                          ng-required="kysymys.pakollinen" ng-maxlength="{{kysymys.max_vastaus}}"
                          ng-change="onTextChange(kysymys)"></textarea>
                <span class="error" ng-show="kysymysForm.vapaateksti.$error.maxlength">{{i18n.yleiset.vastaus_liian_pitka}}</span>
            </div>

            <div ng-if="kysymys.vastaustyyppi == 'kylla_ei_valinta'" class="vastaus_valinnat">
                <label ng-class="{checked: kysymys.vastaus == 'kylla'}" class="compact">
                    <input type="radio" ng-model="kysymys.vastaus" value="kylla" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    <span ng-bind="kielet[vastausKieli].yleiset.kylla"></span>
                </label>
                <label ng-class="{checked: kysymys.vastaus == 'ei'}" class="compact">
                    <input type="radio" ng-model="kysymys.vastaus" value="ei" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    <span ng-bind="kielet[vastausKieli].yleiset.ei"></span>
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi == 'asteikko'" class="vastaus_valinnat" >
                <label ng-repeat="vaihtoehto in [1,2,3,4,5]" ng-class="{checked: kysymys.vastaus == vaihtoehto}" class="compact">
                    <input type="radio" ng-model="kysymys.vastaus" ng-value="vaihtoehto" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    <span ng-bind="kielet[vastausKieli].yleiset.asteikko[vaihtoehto]"></span>
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi == 'likert_asteikko'" class="vastaus_valinnat" >
                <label ng-repeat="vaihtoehto in [1,2,3,4,5]" ng-class="{checked: kysymys.vastaus == vaihtoehto}" class="loose">
                    <input type="radio" ng-model="kysymys.vastaus" ng-value="vaihtoehto" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    <span ng-bind="kielet[vastausKieli].yleiset.likert_asteikko[vaihtoehto]"></span>
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi === 'arvosana'" class="vastaus_valinnat">
                <label ng-repeat="vaihtoehto in [1,2,3,4,5]" ng-class="{checked: kysymys.vastaus == vaihtoehto}" class="compact">
                    <input type="radio" ng-model="kysymys.vastaus" ng-value="vaihtoehto" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    {{ vaihtoehto }}
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi === 'arvosana6'" class="vastaus_valinnat">
                <label ng-repeat="vaihtoehto in [1,2,3,4,5,6]" ng-class="{checked: kysymys.vastaus == vaihtoehto}" class="compact">
                    <input type="radio" ng-model="kysymys.vastaus" ng-value="vaihtoehto" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    {{ vaihtoehto }}
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi === 'arvosana7'" class="vastaus_valinnat">
                <label ng-repeat="vaihtoehto in [1,2,3,4,5,6,7]" ng-class="{checked: kysymys.vastaus == vaihtoehto}" class="compact">
                    <input type="radio" ng-model="kysymys.vastaus" ng-value="vaihtoehto" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    {{ vaihtoehto }}
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi === 'arvosana4_ja_eos'" class="vastaus_valinnat">
                <label ng-repeat="vaihtoehto in [5,4,3,2,1]" ng-class="{checked: kysymys.vastaus == vaihtoehto}" class="compact">
                    <input type="radio" ng-model="kysymys.vastaus" ng-value="vaihtoehto" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    <span ng-bind="kielet[vastausKieli].yleiset.arvosana4_ja_eos[vaihtoehto]"></span>
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi === 'arvosana6_ja_eos'" class="vastaus_valinnat">
                <label ng-repeat="vaihtoehto in [0, 1, 2, 3, 4, 5, 6]" ng-class="{checked: kysymys.vastaus == vaihtoehto}" class="compact">
                    <input type="radio" ng-model="kysymys.vastaus" ng-value="vaihtoehto" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
                    <span ng-bind="kielet[vastausKieli].yleiset.arvosana6_ja_eos[vaihtoehto]"></span>
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi == 'monivalinta' && kysymys.monivalinta_max === 1" class="vastaus_valinnat">
                <label ng-repeat="vaihtoehto in kysymys.monivalintavaihtoehdot" ng-class="{checked: kysymys.vastaus == vaihtoehto.jarjestys }" class="loose">
            <span ng-if="kysymys.monivalinta_max == 1">
              <input type="radio" ng-model="kysymys.vastaus" ng-value="vaihtoehto.jarjestys" name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen">
            </span>
                    {{vaihtoehto | lokalisoiKentta:'teksti'}}
                </label>
            </div>

            <div ng-if="kysymys.vastaustyyppi == 'monivalinta' && kysymys.monivalinta_max > 1" class="vastaus_valinnat">
                <label ng-repeat="vaihtoehto in kysymys.monivalintavaihtoehdot" ng-class="{checked: vaihtoehto.valittu }" class="loose">
            <span ng-if="kysymys.monivalinta_max > 1">
              <input type="checkbox" ng-model="vaihtoehto.valittu" ng-change="vaihdaMonivalinta(vaihtoehto, kysymys)"
                     ng-disabled="monivalinta[kysymys.kysymysid] === kysymys.monivalinta_max && !vaihtoehto.valittu"
                     name="kysymys_{{kysymys.kysymysid}}" ng-required="kysymys.pakollinen && kysymys.vastaus !== 'EOS' && (!monivalinta[kysymys.kysymysid] || monivalinta[kysymys.kysymysid] === 0)">
            </span>
                    {{vaihtoehto | lokalisoiKentta:'teksti'}}
                </label>
            </div>

            <div ng-if="kysymys.pakollinen && kysymys.eos_vastaus_sallittu" class="vastaus_valinnat eos">
                <label>
                    <input type="radio" ng-required="kysymys.pakollinen" ng-model="kysymys.vastaus" value="EOS" name="kysymys_{{kysymys.kysymysid}}"
                           ng-disabled="kysymys.vastaustyyppi === 'monivalinta' && kysymys.monivalinta_max > 1 && monivalinta[kysymys.kysymysid] > 0">
                    {{ i18n.yleiset.eikokemusta }}
                </label>
            </div>
        </ng-form>
    </div>
</div>