<h1>{{data | lokalisoiKentta:'nimi'}}</h1>
<div ng-show="sivu === 0">
    <p class="tutkinto" ng-if="data.tutkintotunnus">{{data.tutkintotunnus}} {{data | lokalisoiKentta:'tutkinto_nimi'}}</p>
    <p class="kyselykerta-selite">{{data | lokalisoiKentta:'selite'}}</p>
</div>

<small class="pull-right" ng-bind="i18n.yleiset.pakolliset"></small>
<form name="vastausForm" ng-show="data">
    <ng-include src="valittuTemplate"></ng-include>
  <br />

  <small class="pull-right" ></small>
  <button ng-show="!preview && (!data.sivutettu || (data.sivutettu && sivu == data.kysymysryhmat.length -1))" id="submit" class="e2e-tallenna-vastaukset" ng-click="tallenna()" ng-bind="i18n.yleiset.tallenna_vastaukset" ng-disabled="tallennaNappiDisabloitu || !vastausForm.$valid"></button>
    <div class="required-notice" ng-if="vastausForm.$error.required">
        <h4 ng-bind="i18n.yleiset.vastaa_viela"></h4>
        <div ng-repeat="kysymysryhma in data.kysymysryhmat">
            <div ng-repeat="kysymys in kysymysryhma.kysymykset" ng-if="kysymys.pakollinen && (kysymys.vastaus === undefined || kysymys.vastaus === false)">
                <a href="" ng-click="gotoQuestion(kysymys.kysymysid)">{{kysymys | lokalisoiKentta:'kysymys'}}</a>
            </div>
        </div>
    </div>
</form>
