$application-max-width: 1200px;

/* kaikkiin elementteihin luonnollinen koon lasku */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background:#fff;
  height: 100%;
}

body { display:table; width: 100%; height: 100%;
  > div { display: table-row;}
  footer {display: table-row; height: 100%;}
}

#content {
  padding: $baseline $marginS $baseline $marginS;
  min-height: 400px;
}

.app-wrapper {
  max-width: $application-max-width;
  margin: 0 auto;
  padding: 0 $marginS;
}

.aipal-loading{
  display: block;
  height: auto;
  margin-top: 40px;
}

.right{
  float: right;
}

.left{
  float: left;
}

.removed{
  color: $lighter-gray;
  text-decoration: line-through;
  td:last-child {
    text-decoration: none !important;
  }
}

a{
  cursor: pointer;
}

header.etusivu{
  margin-top: -23px;
}

.nowrap{
  white-space: nowrap !important;
  overflow: auto;
}

td.actions {
  text-align: right;
  text-decoration: none !important;
  *:hover {
    text-decoration: none;
  }
  span {
    margin: 0px;
    padding: 0px;
  }
}

tfoot {
  background-color: #ffffff;
  border: 0px !important;
  tr,td {
    border: 0px !important;
  }
  td:first-child {
    text-align: right;
    font-weight: 600;
    border: 0px !important;
  }
}

.border-bottom {
  border-bottom: 5px solid $lighter-gray;
}

/* When applied to an element disables all animations (ngAnimate and Bootstrap). Used in e2e tests */
body.disable-all-animations *{
  transform: none !important;
  transition: none !important;
  translate: none !important;
  translate3d: none !important;
}

.error {
  background-color: #ffbaba;
}

/* Pointer */
.pointer{
  cursor: pointer;
}

/* Things that are draggable */
.ui-sortable-handle,
.ui-sortable-handle .panel-title a{
  cursor: ns-resize !important;
}

.accordion-toggle i{
  cursor: pointer;
}

.tiedote {
  overflow: auto;
  padding-top: 8em;
}

.tulevaisuudessa {
  color: orangered;
  font-weight: bold;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}