$application-max-width: 1200px;

/* kaikkiin elementteihin luonnollinen koon lasku */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background:#fff;
  height: 100%;
}

body { display:table; width: 100%; height: 100%;
  > div { display: table-row;}
  footer {display: table-row; height: 100%;}
}

#content {
  padding: 0 $marginS $baseline $marginS;
  min-height: 400px;
}

.app-wrapper {
  max-width: $application-max-width;
  margin: 0 auto;
  padding: 0 $marginS;
}

.aipal-loading{
  display: block;
  height: auto;
  margin-top: 40px;
}

.right{
  float: right;
}

.left{
  float: left;
}

/* When applied to an element disables all animations (ngAnimate and Bootstrap). Used in e2e tests */
body.disable-all-animations *{
  transform: none !important;
  transition: none !important;
  translate: none !important;
  translate3d: none !important;
}