footer .separator {margin: 0 10px;}

footer.copyright-footer, footer.dev-footer {
  @include border-box;
  color: #ffffff;
  a {color:$lighter-primary;}
  .app-wrapper {
    @include border-box;
  }
}

footer.copyright-footer {
  $footer-height: 120px;
  height: $footer-height; background-color: $darker-primary;
  .app-wrapper {
    padding-top: 50px;
    height: $footer-height;
    background: url("../img/csc-logo-nega.png") right 10px center no-repeat;
  }
}

footer.dev-footer { background-color: #1A1A1A;
  > div {min-height: 80px;}
  .app-wrapper {
    padding-top: 28px;
    color: $primary-action-text;
  }
}
