header {
  color: black;
  background-color: #fff;
  height: 160px;
  position: absolute;
  width: 100%;
  left: 0;

  .app-wrapper {
    background: none;
    height: 100%;
  }

  .vertical-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: $marginM;
  }

  h1 {
    display: inline-block;
    font-size: 4.2em;
    font-weight: 800;
    font-family: $font-heading-light;
    margin: 0;
    vertical-align: middle;
  }
  h2 {
    display: inline-block;
    font-size: 1.7em;
    font-weight: 300;
    font-family: $font-heading-light;
    margin: 0;
    vertical-align: middle;
  }
  .separator {
    position: relative;
    top: -5px;
    font-size: 4.2em;
    font-weight: 100;
    vertical-align: middle;
  }

  .oph-logo {
    display: inline-block;
    height: 100%;
    width: 271px;
    float: right;
    margin-right: $marginM;
    background: none;
  }
}

.main-nav {
  $nav-height: 40px;
  $separator-color: $lightest-primary;
  $font-color: $primary-action-text;
  background-color: $primary-color;
  min-height: $nav-height;
  font-size: 1em;

  .app-wrapper {
    position: relative;
  }

  a{
    display: inline-block;
    text-decoration: none;
    color: $font-color;
    text-transform:uppercase;
    font-weight: 600;
    cursor: pointer;
  }
  ul {
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      &:hover {
        background-color: $darker-primary;
      }
      border-right: 1px solid $separator-color;
      float: left;
      height: $nav-height;
      display: table;
      &:first-child {border-left: 1px solid $separator-color;}
      a,span {
        display: table-cell;
        vertical-align: middle;
        text-transform:uppercase;
        padding: 0 $marginM;
      }
      span {
        cursor: default;
      }
    }
  }

  /* Breadcrumb */
  .breadcrumb {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    position: absolute;
    bottom: -1.8em;
    left: 0px;
    color: $gray-color;
    font-size: 13px;
    font-weight: 100;
    .active {
      color: $gray-color;
    }
    a {
      text-transform: none;
      color: $primary-color;
      font-weight: 100;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  #current-user {
    float: right;
    color: $font-color;
    position:relative;
    @include icon-right(11px, 11px){@include user-icon;};
    height: $nav-height;
    &:hover {background-color: $darker-primary;}

    li {
      z-index: 2;
      position: relative;
      border: 0;
      padding-right: 30px;
      padding-left: $marginM;
      &:hover, &.avattu {
        ul {
          background-color: $primary-color;
          left: 0px;
          padding: 0;
          width: auto;
          top: $nav-height;
          li {
            &:hover {
              background-color: $darker-primary;
            }
            width: 100%;
            padding: 0;
            a {
              text-transform: none;
              &:hover {
                cursor: pointer;
              }
            }
            &:hover {
              background: $darker-primary;
            }
          }
        }
      }
    }
    ul {
      position:absolute;
      left:-9999px;
      width:100%;
      z-index: 10;
      a {
        white-space: nowrap;
      }
    }
  }

  .impersonoitu {
    background-color: #ed1c24;
  }

  a.username {
    text-align: right;
    text-transform: none;
    font-size: 1em;
    padding: 0 1em 0 0;
    margin: 0;
    line-height: 1em;
    font-weight: 100;
  }

  #logout {
    border-left: 1px solid $separator-color;
    padding: 0 15px;
    float: right;
    height: $nav-height;
    @include icon-after(-5px, 11px){@include logout-icon;};
    &:hover {background-color: $darker-primary;}
    cursor: pointer;
  }
  .kielen-vaihto {
    float: right;
    li.valittu {
      background-color: $darker-primary;
      span {color: #ffffff;}

      &.disabled{
        background-color: $primary-color;
        span{
          color: #CA78B5 !important;
        }
      }

    }
  }
}
