.jakauma-kaavio {
  fill: $darker-gray;
  font-size: 0.8em;
  overflow: visible !important;

  .jakauma-kaavio-viiva {
    stroke: $lighter-gray;
  }

  .jakauma-kaavio-viivan-otsikko {
    fill: $lighter-gray;
    text-anchor: middle;
  }

  .jakauma-kaavio-otsikko {
    text-anchor: end;
  }
}
