.kysymysryhma .removed {
  text-decoration: line-through;
  color: #808080;
}

span.tilastot {
  width:270px;
}

uib-accordion.kyselyt {
  h4.panel-title i.icon {
    margin-right: 10px;

  }
  h4.panel-title a h3{
    font-size: 1.125em;
    margin: 0.5em 0;
  }
  .panel{
    border: 0px;
    border-bottom: 2px solid black;
    box-shadow: none;
    border-radius: 0 !important;
  }
  .panel-body {
    border: 0px !important;
    margin-left: 40px;
  }
  .panel-heading{
    background-color: #ffffff;
    border: 0px;
    &:hover{
      background-color: $lightest-gray;
    }
    a.accordion-toggle:hover {
      color: #000000 !important;
    }
  }

  .panel+.panel {
    margin-top: 0px;
  }
  div.panel-tools-content {
    margin-top: -15px;
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #b3b3b3;
    margin-left: -55px;
    padding-left: 55px;
    margin-right: -15px;
  }
  div.kyselykerrat-container {
    border-top: 1px solid $lighter-gray;
    padding-left: 15px;
    clear: both;
    display: block;
    overflow: auto;
  }
  div.panel-body div.kyselykerrat-container:nth-of-type(1) {
    border: 0;
  }

  .panel-open .panel-heading,
  .panel-open .panel-tools-content {
    background-color: #FFEDF8;
  }
}

.vastaajatunnus-taulukko{
  tr.voimassa td {
    background-color: #bea !important;
  }

  tr.lukittu {
    td:first-child {
      text-decoration: line-through;
    }

    td.vastausaika {
      color: #aaa;
    }
  }
}

ol.kysymykset li{
  border-bottom: 1px solid $lightest-gray;
  padding: 6px 0;
}
ol.kysymykset li:last-child{
  border: 0;
}

.yhteenveto {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  .progress{
    height: 2.4em;
    span {
      line-height: 1.5em;
      font-size: 1.8em;
    }
  }
}