.raportit .vertailutyyppi label {
  width: auto;
}

.raportit .vertailu-valitsin {
  border: 1px solid $primary-color;
  height: 20em;
  overflow: auto;

  & ul {
    list-style-type: none;
    padding-left: 1em;
    margin-top: 0;
  }

  & .otsikko {
    font-weight: bold;
  }
}

.raportit .taustakysymykset .kysymykset {
  overflow: auto;
  font-size: .9em;

  & .kysymys {
    counter-increment: kysymys-counter;
    display: inline-block;
    float: left;
    max-width: 18%;
    min-width: 5%;
    margin-left: 0%;
    margin-right: 4%;

    & .checkbox {
      margin-top: 0em;
      margin-bottom: 0em;

      &:hover{
        background-color: $lightest-primary;
      }

      & label{
        line-height: 1.1em;
        display: inline-block;
        margin: 0px;
        padding-top: .1em;
        padding-bottom: .3em;
      }

      & input{
        margin-left: -16px;
      }
    }

    & .kysymys-otsikko {
      font-weight: bold;
      line-height: 1.3em;
      &:before {
        content: counter(kysymys-counter) ". ";
      }
    }
  }
}

.raportit .koulutustoimijat {
  & .koulutustoimijat-valitsin {
    border: 1px solid $primary-color;
    height: 20em;
    overflow: auto;

    & ul {
      list-style-type: none;
      padding-left: 1em;
      margin-top: 0;
    }
  }
}