.raportti-tiedot {
  $border-color: #999999;

  border: 1px solid $border-color;
  margin-top: $marginM;
  padding: $marginM $marginM;
  width: 60%;
}

.raportit .tutkintorakennetaso label {
  width: auto;
}

.raportit div.tutkinnot h3 {
  margin-top: 1em;
}

.raportit .valitsin {
  height: 20em;
  &.pieni {
    height: 10em;
  }
  overflow: auto;
  list-style-type: none;
  margin-left: 0em;
  padding-left: 0em;
  margin-top: 0;
  padding-top: .5em;
  border: 1px solid $lightest-gray;
  border-top: 0;
  background-color: #ffffff;
  ul {
    margin-top: 0;
    padding-top: 0;
    list-style-type: none;
    padding-left: 1em;
    margin-left: 0em;
  }
  li{
    padding-left: 1em;
    cursor: pointer;
    .fa:before {
      margin-right: .5em;
    }
  }
  & .otsikko {
    font-weight: bold;
    font-size: 1em;
  }
}

li.selected{
  background-color: $lightest-primary;
}

.raportit ul.valitsin.tutkinto {
  li li li{
    &:hover{
      background-color: $lightest-gray;
    }
  }
}

.raportit ul.valitsin.opintoala {
  li li{
    &:hover{
      background-color: $lightest-gray;
    }
  }
}

.raportit ul.valitsin.koulutusala {
  li{
    &:hover{
      background-color: $lightest-gray;
    }
  }
}

.tutkintorakennetaso {
  &.btn-group .btn{
    margin-bottom: -1px;
    margin-right: 1px;
    background-color: white;
    color: $darker-gray;
    border: 0;

  }
  &.btn-group > .btn.active,
  &.btn-group-vertical > .btn.active {
    border: 1px solid #E3E3E3;
    z-index: 2;
    background-color: #F5F5F5;
    color: $darker-gray;
    border-bottom: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-weight: bold !important;
  }
}

.whitespace{
  white-space: pre-line;
}

@media print {
  body {
    font-size: 9pt;
  }
  #content {
    padding: 0;
  }
  .kysymysryhma {
    font-size: .8em;
    page-break-before: always;
    h2 {
      margin-bottom: 0;
    }
    .kysymys {
      page-break-inside: avoid;
      margin-bottom: 2em;
      h3 {
        margin-bottom: 0;
      }
      td {
        line-height: 1em;
      }
    }
  }
  .raportti-tiedot {
    margin-top: $marginM;
    padding: $marginM/2 $marginM/2;
    width: 60%;
  }
  table.report-table thead tr th,
  table.report-table tbody tr td{
    padding: .2em !important;
  }
  .report-table-percentage-field,
  .report-table-amount-field{
    width: 3em;
  }
}

.raportit .taustakysymykset .kysymykset {
  overflow: auto;
  font-size: .9em;

  & .kysymys {
    display: inline-block;
    float: left;
    max-width: 18%;
    min-width: 5%;
    margin-left: 0%;
    margin-right: 4%;

    & .checkbox {
      margin-top: 0em;
      margin-bottom: 0em;

      &:hover{
        background-color: $lightest-gray;
      }

      & label{
        line-height: 1.1em;
        display: inline-block;
        margin: 0px;
        padding-top: .1em;
        padding-bottom: .3em;
      }

      & input{
        margin-left: -16px;
      }
    }

    & .kysymys-otsikko {
      font-weight: bold;
      line-height: 1.3em;
    }
  }
}

.raportit .taustakysymyksen-selite {
  font-size: 0.8em;
  line-height: 1.5em;
  padding-bottom: 0.4em;
  padding-left: 0.8em;
  padding-top: 0.4em;
}

.raportit .valintalista {
  & ul {
    list-style-type: none;
    padding-left: 1em;
    margin-top: 0;
  }

  & .valintalista-valitut ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1em;
    display: block;

    & li {
      display: inline;
    }
  }

}
