table.report-table {
  $border-color: #999999;

  background: white;
  border: 1px solid $border-color;
  border-collapse: collapse;
  margin-bottom: 1em;
  text-align: left;
  width: 60%;

  thead tr {
    th {
      background: rgb(239, 239, 239);
      border: 1px solid $border-color;
      font-weight: normal;
      padding: $marginM $marginM;
    }

    th:first-child {
      max-width: 80%;
      width: 80%;
    }

    th:not(:first-child) {
      max-width: 10%;
      width: 10%;
    }
  }

  tbody tr {
    td {
      border: 1px solid $border-color;
      padding: $marginM $marginM;
    }
  }

  .report-table-percentage-field {
    border-width: 1px 0px 1px 1px;
    text-align: right;
  }

  .report-table-question {
    text-align: left;
  }

  .report-table-amount-field, .report-table-amount-header {
    border-width: 1px 1px 1px 0px;
    padding: $marginM $marginL $marginM $marginM;
    text-align: right;
  }

  .report-table-amount-header {
    padding: $marginM 1.25*$marginM $marginM $marginM;
  }
}
