<h3>{{ 'raportit.aikavali' | i18n }}</h3>

<label>
    <input type="radio" ng-model="raportti.vertailujakso_tyyppi" value="vastaus_vastausaika"/>
    {{ 'raportit.vastaus_vastausaika' | i18n }}
</label>
<label>
    <input type="radio" ng-model="raportti.vertailujakso_tyyppi" value="vastaajatunnus_alkupvm"/>
    {{ 'raportit.vastaajatunnus_alkupvm' | i18n }}
</label>

<pvm-valitsin
        otsikko="{{i18n.raportit.vertailujakso_alkaa}}"
        oletus-pvm="raportti.vertailujakso_alkupvm"
        valittu-pvm="raportti.vertailujakso_alkupvm"
        max-pvm="raportti.vertailujakso_loppupvm"
        ng-model="raportti.vertailujakso_alkupvm">
</pvm-valitsin>
<pvm-valitsin
        otsikko="{{i18n.raportit.vertailujakso_loppuu}}"
        oletus-pvm="raportti.vertailujakso_loppupvm"
        valittu-pvm="raportti.vertailujakso_loppupvm"
        min-pvm="raportti.vertailujakso_alkupvm"
        ng-model="raportti.vertailujakso_loppupvm">
</pvm-valitsin>
