<div class="hidden-print" lataus-indikaattori metodi-id="raportinMuodostus" viesti="{{'raportti.muodostetaan' | i18n}}"
     virheviesti="{{'raportti.muodostus_epaonnistui' | i18n}}" yrita-uudelleen="muodostaKyselyraportti(raportti)">
    <auth roolit="['OPL-VASTUUKAYTTAJA']">
        <a class="btn btn-primary" ng-href="api/csv/kysely/{{raportti.kyselyid}}" ng-disabled="!raporttiValidi(raportti)">
            Muodosta CSV
            <span class="fa fa-file-excel-o"></span>
        </a>
        <a class="btn btn-primary" ng-href="api/csv/kysely/vastauksittain/{{raportti.kyselyid}}" ng-disabled="!raporttiValidi(raportti)">
            Muodosta CSV vastauksittain
            <span class="fa fa-file-excel-o"></span>
        </a>
    </auth>
</div>