<div class="hidden-print" lataus-indikaattori metodi-id="raportinMuodostus" viesti="{{'raportti.muodostetaan' | i18n}}"
     virheviesti="{{'raportti.muodostus_epaonnistui' | i18n}}" yrita-uudelleen="muodostaKyselyraportti(raportti)">
    <auth roolit="['VASTUUKAYTTAJA']">
        <a class="btn btn-primary" ng-href="api/csv/kysely/{{raportti.kyselyid}}?lang={{raportti.kieli}}" ng-disabled="!raporttiValidi(raportti)">
            {{ 'raportit.muodosta_csv' | i18n }}
            <span class="fa fa-file-excel-o"></span>
        </a>
        <a class="btn btn-primary" ng-href="api/csv/kysely/vastauksittain/{{raportti.kyselyid}}?lang={{raportti.kieli}}" ng-disabled="!raporttiValidi(raportti)">
            {{'raportit.muodosta_csv_vastauksittain' | i18n}}
            <span class="fa fa-file-excel-o"></span>
        </a>
        <a class="btn btn-primary" ng-href="api/csv/kysely/kohteet/{{raportti.kyselyid}}?lang={{raportti.kieli}}" ng-disabled="!raporttiValidi(raportti)">
            {{'raportit.csv_kohteet' | i18n}}
            <span class="fa fa-file-excel-o"></span>
        </a>
        <a class="btn btn-primary" ng-href="api/csv/kysely/vastaajat/{{raportti.kyselyid}}?lang={{raportti.kieli}}" ng-disabled="!raporttiValidi(raportti)">
            {{'raportit.csv_vastaajat' | i18n}}
            <span class="fa fa-file-excel-o"></span>
        </a>
    </auth>
</div>