<div class="koulutustoimijat" ng-show="koulutustoimijat">
  <div class="well">
    <input type="text" class="form-control icon search-icon-input" ng-model="koulutustoimijaFilter" ng-change="nollaaRajoite('koulutustoimijat')" placeholder="{{ 'raportit.hae_koulutustoimijoita' | i18n }}">

    <ul class="valitsin" rullaus="naytaLisaa('koulutustoimijat')">
      <li ng-repeat="koulutustoimija in koulutustoimijat | filter:koulutustoimijaFilter | orderByLokalisoitu:'nimi' | limitTo: rajoite.koulutustoimijat" ng-click="valitseTaiPoistaKoulutustoimija(koulutustoimija)">
        {{ koulutustoimija | lokalisoiKentta:'nimi' }}
        <span class="fa fa-check" ng-show="koulutustoimija.valittu"></span>
      </li>
    </ul>

    <div class="koulutustoimijat-valitut">
      <ul>
        <li ng-repeat="koulutustoimija in koulutustoimijat | filter:{valittu: true}" ng-click="valitseTaiPoistaKoulutustoimija(koulutustoimija)">
          <div class="btn btn-primary">
            {{ koulutustoimija | lokalisoiKentta:'nimi' }}
            <span class="fa fa-remove"></span>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>