<div class="koulutustoimijat" ng-show="koulutustoimijat">
  <h3>{{ 'raportit.koulutustoimijat' | i18n }}</h3>

  <input type="text" ng-model="koulutustoimijaFilter" placeholder="{{ 'raportit.hae_koulutustoimijoita' | i18n }}">

  <div class="koulutustoimijat-valitsin">
    <ul class="koulutustoimijat-lista">
      <li ng-repeat="koulutustoimija in koulutustoimijat | filter:koulutustoimijaFilter" ng-click="valitseKoulutustoimija(koulutustoimija)">
        {{ koulutustoimija | lokalisoiKentta:'nimi' }}
        <span class="fa fa-check" ng-show="onkoKoulutustoimijaValittu(koulutustoimija)"></span>
      </li>
    </ul>
  </div>

  <div class="koulutustoimijat-valitut">
    <ul>
      <li ng-repeat="koulutustoimija in koulutustoimijat | filter:{valittu: true}" ng-click="valitseKoulutustoimija(koulutustoimija)">
        {{ koulutustoimija | lokalisoiKentta:'nimi' }}
        <span class="fa fa-remove"></span>
      </li>
    </ul>
  </div>
</div>