<div class="koulutustoimijat" ng-show="kyselykerrat">
  <div class="well">
    <input type="text" class="form-control icon search-icon-input" ng-model="kyselykertaFilter" ng-change="nollaaRajoite('kyselykerrat')" placeholder="{{ 'raportit.hae_kyselykertoja' | i18n }}">

    <ul class="valitsin" rullaus="naytaLisaa('kyselykerrat')">
      <li ng-repeat="kyselykerta in kyselykerrat | filter:kyselykertaFilter | orderBy:'nimi' | limitTo: rajoite.kyselykerrat" ng-click="valitseKyselykerta(kyselykerta)">
        {{ kyselykerta.nimi }}
        <span class="fa fa-check" ng-show="kyselykerta.valittu"></span>
      </li>
    </ul>
  </div>
</div>
