<h3>{{ 'raportit.taustakysymykset' | i18n }}</h3>

<div class="well taustakysymykset">
    <div>
      <select ng-model="raportti.taustakysymysryhmaid" class="form-control">
        <option ng-repeat="ryhma in taustakysymysryhmat" value="{{ryhma.kysymysryhmaid}}">
          {{ ryhma |lokalisoiKentta:'nimi' }} {{ ryhma.lisateksti }}
        </option>
      </select>
    </div>
    <br>

    <h3 class="pointer" ng-click="taustakysymyksetAvattu = taustakysymyksetAvattu ? !taustakysymyksetAvattu : true">
        {{ 'raportit.taustakysymykset_rajaa' | i18n }}
        <span class="pull-left fa" ng-class="{'fa-caret-down': taustakysymyksetAvattu, 'fa-caret-right': !taustakysymyksetAvattu}"></span>
    </h3>

    <div ng-if="taustakysymyksetAvattu">
        <div class="row">
            <div class="col-md-12">
                <div class="kysymykset">
                    <div ng-repeat="kysymys in taustakysymysryhma.kysymykset" class="kysymys">
                        <div class="bg-info taustakysymyksen-selite" ng-if="kysymys.taustakysymyksen_selite_raportointiin">
                            <span class="glyphicon glyphicon-info-sign"></span> {{ kysymys.taustakysymyksen_selite_raportointiin | i18n }}
                        </div>
                        <div class="kysymys-otsikko">{{kysymys.jarjestys}}. {{ kysymys |lokalisoiKentta:'kysymys' }}</div>

                        <div ng-repeat="vaihtoehto in kysymys.monivalintavaihtoehdot"
                             ng-show="kysymys.vastaustyyppi === 'monivalinta'" class="checkbox">
                            <label>
                                <input type="checkbox"
                                       ng-model="raportti.kysymykset[kysymys.kysymysid].monivalinnat[vaihtoehto.jarjestys]">
                                {{ vaihtoehto |lokalisoiKentta:'teksti' }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
