<h3>{{ 'raportit.vertailtavat_tutkinnot' | i18n }}</h3>

<div ng-show="tutkinnot">
  <h4>{{ 'raportit.vertailutyyppi' | i18n }}</h4>

  <div class="btn-group vertailutyyppi">
    <label class="btn btn-primary" ng-model="raportti.vertailutyyppi" btn-radio="'koulutusala'">{{ 'raportit.koulutusala' | i18n }}</label>
    <label class="btn btn-primary" ng-model="raportti.vertailutyyppi" btn-radio="'opintoala'">{{ 'raportit.opintoala' | i18n }}</label>
    <label class="btn btn-primary" ng-model="raportti.vertailutyyppi" btn-radio="'tutkinto'">{{ 'raportit.tutkinto' | i18n }}</label>
  </div>

  <div>
    <input type="text" ng-model="tutkintoFilter" placeholder="{{ 'raportit.hae_tutkintoja_tai_aloja' | i18n }}">
  </div>

  <div class="vertailu-valitsin">
    <ul class="koulutusalat">
      <li ng-repeat="koulutusala in koulutusalat |filter:tutkintoFilter">
        <span ng-click="valitseKoulutusala(koulutusala)">{{koulutusala |lokalisoiKentta:'koulutusala_nimi'}}</span>
        <span class="fa fa-check" ng-if="raportti.vertailutyyppi == 'koulutusala' && raportti.koulutusalatunnus == koulutusala.koulutusalatunnus"></span>
        <ul class="opintoalat" ng-show="raportti.vertailutyyppi !== 'koulutusala'">
          <li ng-repeat="opintoala in koulutusala.opintoalat |filter:tutkintoFilter">
            <span ng-click="valitseOpintoala(opintoala)">{{opintoala |lokalisoiKentta:'opintoala_nimi'}}</span>
            <span class="fa fa-check" ng-if="raportti.vertailutyyppi == 'opintoala' && raportti.opintoalatunnus == opintoala.opintoalatunnus"></span>
            <ul class="tutkinnot" ng-show="raportti.vertailutyyppi === 'tutkinto'">
              <li ng-repeat="tutkinto in opintoala.tutkinnot |filter:tutkintoFilter" ng-click="valitseTutkinto(tutkinto)">
                <span>{{tutkinto |lokalisoiKentta:'nimi'}}</span>
                <span class="fa fa-check" ng-if="raportti.tutkintotunnus == tutkinto.tutkintotunnus"></span></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>