<div ng-show="koulutusalat">

  <div class="row" ng-if="!piilotaTutkintorakenneVaihto()">
    <div class="col-md-12">
      <div class="btn-group tutkintorakennetaso">
        <label class="btn btn-primary" ng-model="raportti.tutkintorakennetaso" uib-btn-radio="'tutkinto'">{{ 'raportit.tutkinto' | i18n }}</label>
        <label class="btn btn-primary" ng-model="raportti.tutkintorakennetaso" uib-btn-radio="'opintoala'">{{ 'raportit.opintoala' | i18n }}</label>
        <label class="btn btn-primary" ng-model="raportti.tutkintorakennetaso" uib-btn-radio="'koulutusala'">{{ 'raportit.koulutusala' | i18n }}</label>
      </div>
    </div>
  </div>

  <div class="well tutkinnot" ng-hide="raportti.ei_tutkintoa">
    <input type="text" class="form-control icon search-icon-input" ng-model="tutkintoFilter" ng-model-options="{debounce: 100}" placeholder="{{ 'raportit.hae_tutkintoja_tai_aloja' | i18n }}">

    <h3 ng-show="raportti.tutkintorakennetaso === 'tutkinto' && vanhentuneetKoulutusalat.length > 0">{{'raportti.voimassaolevat_tutkinnot' | i18n}}</h3>
    <ul class="valitsin {{raportti.tutkintorakennetaso}}">
      <li ng-repeat="koulutusala in koulutusalat |filter:tutkintoFilter" ng-click="valitseKoulutusala(koulutusala)" ng-class="{selected: raportti.tutkintorakennetaso == 'koulutusala' && koulutusala.valittu}">
        <span ng-show="raportti.tutkintorakennetaso !== 'koulutusala'" class="otsikko fa" ng-class="{'fa-caret-down': koulutusalaAvattu, 'fa-caret-right': !koulutusalaAvattu}"
          ng-click="koulutusalaAvattu = koulutusalaAvattu ? !koulutusalaAvattu : true">
          {{::koulutusala |lokalisoiKentta:'koulutusala_nimi'}}
        </span>
        <span ng-show="raportti.tutkintorakennetaso === 'koulutusala'">{{::koulutusala |lokalisoiKentta:'koulutusala_nimi'}}</span>
        <span class="fa fa-check" ng-if="raportti.tutkintorakennetaso == 'koulutusala' && koulutusala.valittu"></span>
        <ul class="opintoalat" ng-if="raportti.tutkintorakennetaso !== 'koulutusala' && (koulutusalaAvattu || tutkintoFilter)">
          <li ng-repeat="opintoala in koulutusala.opintoalat |filter:tutkintoFilter" ng-click="valitseOpintoala(opintoala)" ng-class="{selected: raportti.tutkintorakennetaso == 'opintoala' && opintoala.valittu}">
            <span ng-show="raportti.tutkintorakennetaso !== 'opintoala'" class="otsikko fa" ng-class="{'fa-caret-down': opintoalaAvattu, 'fa-caret-right': !opintoalaAvattu}"
              ng-click="opintoalaAvattu = opintoalaAvattu ? !opintoalaAvattu : true">
              {{::opintoala |lokalisoiKentta:'opintoala_nimi'}}
            </span>
            <span ng-show="raportti.tutkintorakennetaso == 'opintoala'">{{::opintoala |lokalisoiKentta:'opintoala_nimi'}}</span>
            <span class="fa fa-check" ng-if="raportti.tutkintorakennetaso == 'opintoala' && opintoala.valittu"></span>
            <ul class="tutkinnot" ng-if="raportti.tutkintorakennetaso === 'tutkinto' && (opintoalaAvattu || tutkintoFilter.length > 2)">
              <li ng-repeat="tutkinto in opintoala.tutkinnot |filter:tutkintoFilter" ng-click="valitseTutkinto(tutkinto)" ng-class="{selected: tutkinto.valittu}">
                <span>{{::tutkinto |lokalisoiKentta:'nimi'}}</span>
                <span class="fa fa-check" ng-if="tutkinto.valittu"></span></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <h3 ng-show="raportti.tutkintorakennetaso === 'tutkinto' && vanhentuneetKoulutusalat.length > 0">{{'raportti.vanhentuneet_tutkinnot' | i18n}}</h3>
    <ul class="valitsin {{raportti.tutkintorakennetaso}}" ng-show="raportti.tutkintorakennetaso === 'tutkinto' && vanhentuneetKoulutusalat.length > 0">
      <li ng-repeat="koulutusala in vanhentuneetKoulutusalat |filter:tutkintoFilter" ng-click="valitseKoulutusala(koulutusala)" ng-class="{selected: raportti.tutkintorakennetaso == 'koulutusala' && koulutusala.valittu}">
        <span ng-show="raportti.tutkintorakennetaso !== 'koulutusala'" class="otsikko fa" ng-class="{'fa-caret-down': koulutusalaAvattu, 'fa-caret-right': !koulutusalaAvattu}"
          ng-click="koulutusalaAvattu = koulutusalaAvattu ? !koulutusalaAvattu : true">
          {{::koulutusala |lokalisoiKentta:'koulutusala_nimi'}}
        </span>
        <span ng-show="raportti.tutkintorakennetaso === 'koulutusala'">{{::koulutusala |lokalisoiKentta:'koulutusala_nimi'}}</span>
        <span class="fa fa-check" ng-if="raportti.tutkintorakennetaso == 'koulutusala' && koulutusala.valittu"></span>
        <ul class="opintoalat" ng-if="raportti.tutkintorakennetaso !== 'koulutusala' && (koulutusalaAvattu || tutkintoFilter)">
          <li ng-repeat="opintoala in koulutusala.opintoalat |filter:tutkintoFilter" ng-click="valitseOpintoala(opintoala)" ng-class="{selected: raportti.tutkintorakennetaso == 'opintoala' && opintoala.valittu}">
            <span ng-show="raportti.tutkintorakennetaso !== 'opintoala'" class="otsikko fa" ng-class="{'fa-caret-down': opintoalaAvattu, 'fa-caret-right': !opintoalaAvattu}"
              ng-click="opintoalaAvattu = opintoalaAvattu ? !opintoalaAvattu : true">
              {{::opintoala |lokalisoiKentta:'opintoala_nimi'}}
            </span>
            <span ng-show="raportti.tutkintorakennetaso == 'opintoala'">{{::opintoala |lokalisoiKentta:'opintoala_nimi'}}</span>
            <span class="fa fa-check" ng-if="raportti.tutkintorakennetaso == 'opintoala' && opintoala.valittu"></span>
            <ul class="tutkinnot" ng-if="raportti.tutkintorakennetaso === 'tutkinto' && (opintoalaAvattu || tutkintoFilter.length > 2)">
              <li ng-repeat="tutkinto in opintoala.tutkinnot |filter:tutkintoFilter" ng-click="valitseTutkinto(tutkinto)" ng-class="{selected: tutkinto.valittu}">
                <span>{{::tutkinto |lokalisoiKentta:'nimi'}}</span>
                <span class="fa fa-check" ng-if="tutkinto.valittu"></span></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <div class="valitut-tutkinnot" ng-if="raportti.tutkintorakennetaso === 'tutkinto'">
      <span ng-repeat="koulutusala in ka = koulutusalat.concat(vanhentuneetKoulutusalat)">
        <span ng-repeat="opintoala in koulutusala.opintoalat">
          <span ng-repeat="tutkinto in opintoala.tutkinnot | filter:{valittu: true}">
            <span class="btn btn-primary" ng-click="valitseTutkinto(tutkinto)">
              {{ tutkinto | lokalisoiKentta:'nimi' }}
              <span class="fa fa-remove"></span>
            </span>
          </span>
        </span>
      </span>
    </div>

    <div class="valitut-opintoalat" ng-if="raportti.tutkintorakennetaso === 'opintoala'">
      <span ng-repeat="koulutusala in ka = koulutusalat.concat(vanhentuneetKoulutusalat)">
        <span ng-repeat="opintoala in koulutusala.opintoalat | filter:{valittu: true}">
          <span class="btn btn-primary" ng-click="valitseOpintoala(opintoala)">
            {{ opintoala | lokalisoiKentta:'opintoala_nimi' }}
            <span class="fa fa-remove"></span>
          </span>
        </span>
      </span>
    </div>

    <div class="valitut-koulutusalat" ng-if="raportti.tutkintorakennetaso === 'koulutusala'">
      <span ng-repeat="koulutusala in ka = koulutusalat.concat(vanhentuneetKoulutusalat) | filter:{valittu: true}">
        <span class="btn btn-primary" ng-click="valitseKoulutusala(koulutusala)">
          {{ koulutusala | lokalisoiKentta:'koulutusala_nimi' }}
          <span class="fa fa-remove"></span>
        </span>
      </span>
    </div>
  </div>

  <div class="checkbox" ng-if="raportti.tyyppi === 'kysely' || raportti.tyyppi === 'kyselykerta'">
    <label>
      <input type="checkbox" ng-model="raportti.ei_tutkintoa"> {{'raportti.vastaajat_joilla_ei_tutkintoa' | i18n}}
    </label>
  </div>
</div>
