<h3>{{ 'raportit.tutkinnot' | i18n }}</h3>
<div>
  <div class="well">
    <input type="text" class="form-control icon search-icon-input" ng-model="tutkintoFilter" placeholder="{{ 'raportit.hae_tutkintoja' | i18n }}">

    <ul class="valitsin tutkinto">
      <li bindonce ng-repeat="koulutusala in koulutusalat |filter:tutkintoFilter">
        <span class="otsikko fa" ng-class="{'fa-caret-down': koulutusalaAvattu, 'fa-caret-right': !koulutusalaAvattu}"
          ng-click="koulutusalaAvattu = koulutusalaAvattu ? !koulutusalaAvattu : true" bo-text="koulutusala |lokalisoiKentta:'koulutusala_nimi'">
        </span>
        <ul class="opintoalat" ng-if="(koulutusalaAvattu || tutkintoFilter)">
          <li bindonce ng-repeat="opintoala in koulutusala.opintoalat |filter:tutkintoFilter">
            <span class="otsikko fa" ng-class="{'fa-caret-down': opintoalaAvattu, 'fa-caret-right': !opintoalaAvattu}"
              ng-click="opintoalaAvattu = opintoalaAvattu ? !opintoalaAvattu : true" bo-text="opintoala |lokalisoiKentta:'opintoala_nimi'">
            </span>
            <ul class="tutkinnot" ng-if="(opintoalaAvattu || tutkintoFilter.length > 2)">
              <li bindonce ng-repeat="tutkinto in opintoala.tutkinnot |filter:tutkintoFilter" ng-click="valitseTutkintoja(tutkinto)" ng-class="{selected: tutkinto.valittu}">
                <span bo-text="tutkinto |lokalisoiKentta:'nimi'"></span>
                <span class="fa fa-check" ng-if="tutkinto.valittu"></span></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
