<h1>{{i18n.yleiset.vastaajatunnus}}</h1>

<a ng-click="luoTunnuksiaDialogi()">
  {{i18n.vastaajatunnus.luonti}}
</a>

<h3>{{i18n.vastaajatunnus.lista}}</h3>

<div ng-repeat="tunnus in tulos">
    Tunnus: <span>{{vastausBaseUrl}}/#/vastaus/{{tunnus.tunnus}}</span>,
    Voimassa: <span>{{tunnus.voimassa_alkupvm | voimassaoloAika: tunnus.voimassa_loppupvm}}</span>,
    Vastaajia: <span>{{tunnus.vastaajien_lkm}}</span>
    Vastauksia: <span>{{tunnus.vastausten_lkm}}</span>
    Rahoitusmuoto: <span>{{ rahoitusmuodotmap[tunnus.rahoitusmuotoid].rahoitusmuoto | enumArvo:'rahoitusmuoto' }}</span>
    <br>
</div>
