<h2>{{i18n.yleiset.vastaajatunnus}}</h2>

<a ng-click="luoTunnuksiaDialogi(kyselykerta.kyselykertaid)">
  {{i18n.vastaajatunnus.luonti}}
</a>

<h3>{{i18n.vastaajatunnus.lista}}</h3>

<div ng-repeat="tunnus in tulos">
    Tunnus: <span>{{tunnus.tunnus}}</span>, 
    Voimassa: <span>{{tunnus.voimassa_alkupvm | voimassaoloAika: tunnus.voimassa_loppupvm}}</span>,
    Vastattu: <span>{{tunnus.vastaajien_lkm}}</span>
    Rahoitusmuoto: <span>{{rahoitusmuodotmap[tunnus.rahoitusmuotoid].rahoitusmuoto}}</span>
    <br>
</div>

<popup-ikkuna nayta-popup="naytaLuoTunnuksia">
  <tunnusten-luonti kyselykertaid="kyselykertaid" ilmoita-luonti="luoTunnuksiaCallback(uusiTunnus)" rahoitusmuodot="rahoitusmuodot"></tunnusten-luonti>
</popup-ikkuna>