.idea
.DS_Store
.project
.classpath
.settings/
/aipalvastaus.iml
/bin
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
node_modules
bower_components
compiled_css
resources/public/app/
.tmp
*.swp
