select {
  height: 28px;
}

form {
  margin-bottom: $marginL;
}

label {
  margin-bottom: $marginS;
  display: inline-block;
  vertical-align: middle;

  & ~ p, & ~ input, & ~ a {display: block;}
}

input[type="text"] {
  @include border-box;
  padding: 2px 5px;
  &:focus {border-color: $darkest-primary;}
  vertical-align: top;
}

textarea {
  border: 1px solid $primary-color;
  padding: 5px;
  width: 50%;
  height: 7em;
  margin-top: 1em;
}

span.error{
  color: red;
}

.placeholder { color: #aaa; }