@media screen and (max-width: 550px) {
  h1, header h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.2em;
  }
  label {
    font-size: 1.1em;
    vertical-align: middle;
    line-height: 1.3em;
    padding: .2em 0 !important;
  }
  textarea {
    width: 90%;
  }
  h1.title {
    margin: 0px;
    border: 0px;
    line-height: 1.4em;
    text-align: center;
    padding: 0;
    float: none;
    padding: .7em 0em;
    font-size: 1.4em;
    width: 100%;
    white-space: normal;
  }

  input {
    height: 1.3em;
    width: 1.3em;
    line-height: 1.3em;
    vertical-align: middle;
  }

  .main-nav {
    overflow: auto;
    a {
      color: #ffffff;
      cursor: pointer;
    }
    .kielen-vaihto {
      float: right;
      position: relative;
      text-align: center;
      padding-bottom: .5em;
      clear: both;
      width: 100%;
      * {
        border: 0px;
        border-left: 0px !important;
      }
      li{
        height: 2em;
        display: block;
        background-color: transparent;
        text-align: center;
        width: 50%;

        &:hover {
          background-color: transparent !important;
        }
        a,span {
          display: block;
        }
      }
      li.valittu {
        background-color: $darker-primary;
        padding: 0 .5em;
        span {
          color: #ffffff;
        }
        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

  .vastaus_valinnat {
    overflow: auto;
    margin-top: 1em;
    label {
      font-size: 1em;
      line-height: 100%;
      background-image: url('../img/button.jpg');
      background-repeat: no-repeat;
      min-height: 40px;
      width: 100%;
      vertical-align :top;
      text-align: left;
      padding: .5em 0px 0px 40px !important;
      margin-right: .3em;
      position: relative;
      display: block !important;

      &:hover {
        background-image: url('../img/button_hover.jpg');
        background-color: white;
      }

      &.checked{
        background-image: url('../img/button_active.jpg');
      }

      &:active{
        background-image: url('../img/button_active.jpg');
      }

      input {
        visibility: hidden;
        position: absolute;
        z-index: -100;
        top: 0;
        left: 0;
      }
    }
  }

}