<div class="modal-header">
    <a class="pull-right" ng-click="cancel()">X</a>
    <h4>{{i18n.kyselykerta.uusi_kyselykerta}}</h4>
    <h3>{{i18n.yleiset.kysely}}: {{kysely.kyselyid}} {{kysely.nimi_fi}}</h3>
</div>

<div class="modal-body">
    <form name="kyselykertaForm">
      <fieldset>
        <label class="pakollinen" ng-bind="i18n.kyselykerta.kyselykerran_nimi"></label>
        <input type="text" placeholder="{{i18n.kyselykerta.kyselykerran_nimi}}" ng-model="kyselykerta.nimi_fi" ng-required="true">
      </fieldset>
      <fieldset>
        <label class="pakollinen" ng-bind="i18n.kyselykerta.kyselykerran_nimi_sv"></label>
        <input type="text" placeholder="{{i18n.kyselykerta.kyselykerran_nimi_sv}}" ng-model="kyselykerta.nimi_sv" ng-required="true">
      </fieldset>
      <section class="datepicker-vali">
        <h3>{{i18n.kyselykerta.vastausaika}}</h3>
        <pvm-valitsin
          otsikko="{{i18n.yleiset.alkaen}}"
          oletus-pvm="kysely.voimassa_alkupvm"
          min-pvm="kysely.voimassa_alkupvm"
          max-pvm="kysely.voimassa_loppupvm"
          valittu-pvm="kyselykerta.voimassa_alkupvm"
          pakollinen="true">
        </pvm-valitsin>
        <pvm-valitsin
          otsikko="{{i18n.yleiset.asti}}"
          oletus-pvm="kysely.voimassa_loppupvm"
          min-pvm="kysely.voimassa_alkupvm"
          max-pvm="kysely.voimassa_loppupvm"
          valittu-pvm="kyselykerta.voimassa_loppupvm">
        </pvm-valitsin>
      </section>

    </form>
</div>

<div class="modal-footer">
    <small class="pull-right "><pakollisia-kenttia></pakollisia-kenttia></small>
    <tallenna class="pull-left" formi-validi="kyselykertaForm.$valid" disabloi-pyyntojen-ajaksi="['tallenna-kyselykerta']" ng-click="tallenna()" teksti="{{i18n.yleiset.tallenna}}"></tallenna>
    <button class="btn-default pull-left" ng-click="cancel()">{{i18n.yleiset.peruuta}}</button>
</div>