<form>
  <fieldset>
    <h3>Uusi kyselykerta</h3>
    <h4>Kysely: {{kysely.kyselyid}} {{kysely.nimi_fi}}</h4>
    Kyselykerran nimi:
    <input type="text" placeholder="suomeksi" ng-model="kyselykerta.nimi_fi">
    <input type="text" placeholder="ruotsiksi" ng-model="kyselykerta.nimi_sv">
  </fieldset>
  <fieldset>
    Vastaajien lukumäärä:
    <input type="number" min="1" max="99" ng-model="kyselykerta.vastaajia">
  </fieldset>
  <section class="datepicker-vali">
    <h4>Vastausaika:</h4>
    <pvm-valitsin
      oletus-pvm="kysely.voimassa_alkupvm"
      min-pvm="kysely.voimassa_alkupvm"
      max-pvm="kysely.voimassa_loppupvm"
      valittu-pvm="kyselykerta.alkupvm">
    </pvm-valitsin>
    -
    <pvm-valitsin
      oletus-pvm="kysely.voimassa_loppupvm"
      min-pvm="kysely.voimassa_alkupvm"
      max-pvm="kysely.voimassa_loppupvm"
      valittu-pvm="kyselykerta.loppupvm">
    </pvm-valitsin>
  </section>
</form>