<h1>{{i18n.yleiset.kysely}} <ohje tunniste="kysely"></ohje></h1>

<form role="form" name="kyselyForm" novalidate>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="kysely.sivutettu"
                ng-disabled="isJulkaistu()">
                Sivutettu
            </label>
        </div>
    <div class = "row">
        <div class="col-md-4">
            <label>Kyselytyyppi *</label>
            <ui-select id="kyselytyyppi" ng-model="kysely.tyyppi" ng-disabled="disabled || isJulkaistu()" required="true">
                <ui-select-match>{{$select.selected | lokalisoiKentta:'nimi'}}</ui-select-match>
                <ui-select-choices repeat="kyselytyyppi in kyselytyypit">
                    <div ng-bind-html="kyselytyyppi | lokalisoiKentta:'nimi' | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label ng-class="{pakollinen: !(kysely.nimi_sv || kysely.nimi_en)}"><span>{{i18n.kysely.nimi}} ({{i18n.yleiset.suomeksi}}) ({{i18n.kysely.nakyy_vastaajalle}})</span>
                    <input type="text" class="form-control e2e-kysely-nimi-fi" ng-model="kysely.nimi_fi" ng-required="!(kysely.nimi_sv || kysely.nimi_en)" ng-disabled="isJulkaistu()"/>
                </label>
            </div>

            <div class="form-group">
                <label>{{i18n.kysely.kuvaus}} ({{i18n.yleiset.suomeksi}}) ({{i18n.kysely.nakyy_vastaajalle}})
                    <textarea type="text" class="form-control" ng-model="kysely.selite_fi" rows="5" cols="80"></textarea>
                </label>
            </div>
        </div>
      <div class="col-md-4">
        <div class="form-group">
          <label ng-class="{pakollinen: !(kysely.nimi_fi || kysely.nimi_en)}"><span>{{i18n.kysely.nimi}} ({{i18n.yleiset.ruotsiksi}}) ({{i18n.kysely.nakyy_vastaajalle}})</span>
            <input type="text" class="form-control" ng-model="kysely.nimi_sv" ng-required="!(kysely.nimi_fi || kysely.nimi_en)" ng-disabled="isJulkaistu()"/>
          </label>
        </div>

        <div class="form-group">
          <label>{{i18n.kysely.kuvaus}} ({{i18n.yleiset.ruotsiksi}}) ({{i18n.kysely.nakyy_vastaajalle}})
            <textarea type="text" class="form-control" ng-model="kysely.selite_sv" rows="5" cols="80"></textarea>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label ng-class="{pakollinen: !(kysely.nimi_fi || kysely.nimi_sv)}"><span>{{i18n.kysely.nimi}} ({{i18n.yleiset.englanniksi}}) ({{i18n.kysely.nakyy_vastaajalle}})</span>
            <input type="text" class="form-control" ng-model="kysely.nimi_en" ng-required="!(kysely.nimi_fi || kysely.nimi_sv)" ng-disabled="isJulkaistu()"/>
          </label>
        </div>

        <div class="form-group">
          <label>{{i18n.kysely.kuvaus}} ({{i18n.yleiset.englanniksi}}) ({{i18n.kysely.nakyy_vastaajalle}})
            <textarea type="text" class="form-control" ng-model="kysely.selite_en" rows="5" cols="80"></textarea>
          </label>
        </div>
      </div>
    </div>

    <h3>{{i18n.yleiset.uudelleenohjaus}}</h3>
    <label>{{ i18n.yleiset.uudelleenohjaus_selite }}
      <input type="url" class="form-control" name="uudelleenohjaus_url" ng-model="kysely.uudelleenohjaus_url" ng-maxlength="2000">
      <span ng-show="kysely.uudelleenohjaus_url.length > 0 && kyselyForm.uudelleenohjaus_url.$valid">
        <i class="fa fa-check"></i>
        <a href="{{kysely.uudelleenohjaus_url}}" target="_blank">{{ i18n.yleiset.uudelleenohjaus_kokeile }}</a>
      </span>
    </label>

    <h3>{{i18n.yleiset.voimassa}}</h3>

    <pvm-valitsin
            otsikko="{{i18n.yleiset.alkaen}}"
            oletus-pvm="kysely.voimassa_alkupvm"
            valittu-pvm="kysely.voimassa_alkupvm"
            min-pvm="'2000-01-01'"
            max-pvm="kysely.voimassa_loppupvm"
            ng-model="kysely.voimassa_alkupvm"
            pakollinen="true"
            ng-disabled="isJulkaistu()">
    </pvm-valitsin>
    <pvm-valitsin
            otsikko="{{i18n.yleiset.asti}}"
            oletus-pvm="kysely.voimassa_loppupvm"
            valittu-pvm="kysely.voimassa_loppupvm"
            min-pvm="kysely.voimassa_alkupvm"
            max-pvm="'2099-12-31'"
            ng-model="kysely.voimassa_loppupvm"
            pakollinen="false"
            ng-disabled="isJulkaistu()">
    </pvm-valitsin>

    <div class="row"><br /></div>

    <div>
        <button class="btn btn-primary" ng-click="lisaaKyselypohjaModal()" ng-if="!isJulkaistu()" ng-disabled="kysely.tyyppi === null || kysely.tyyppi === undefined">
            {{i18n.kysely.lisaa_kyselypohja}}&nbsp;
            <span class="fa fa-plus"></span>
        </button>
        <button class="btn btn-primary e2e-lisaa-kysymysryhma" ng-click="lisaaKysymysryhmaModal(isJulkaistu())" ng-disabled="kysely.tyyppi === null || kysely.tyyppi === undefined">
            {{i18n.kysely.lisaa_kysymysryhma}}&nbsp;
            <span class="fa fa-plus"></span>
        </button>
        <span ng-if="kyselypohja">
            {{i18n.kyselypohja.kyselypohja}}: {{kyselypohja| lokalisoiKentta:'nimi'}}
            <a ng-if="!isJulkaistu()" ng-click="poistaKyselypohja()"> <span class="fa fa-trash"></span></a>
        </span>
    </div>

    <div class="row"><br /></div>

    <kysymysryhma-accordion kysymysryhmat="kysely.kysymysryhmat" kysymysten-poisto="true" is-julkaistu="isJulkaistu()"></kysymysryhma-accordion>

    <div class="alert alert-warning" ng-if="!validoiKysymysryhmat()">
      {{ 'kysely.taustakysymysryhma_puuttuu' | i18n }}
    </div>

    <small class="pull-right"><pakollisia-kenttia></pakollisia-kenttia></small>

    <div lataus-indikaattori metodi-id="kyselynTallennus" viesti="{{'i18n.yleiset.tallennataan' | i18n}}" virheviesti="{{'i18n.yleiset.tallennus_epaonnistui' | i18n}}" yrita-uudelleen="tallenna()">
      <br>
      <button class="btn btn-primary pull-left e2e-tallenna-kysely" ng-disabled="!kyselyForm.$valid || !validoiKysymysryhmat()" ng-click="tallenna()">
          {{'i18n.yleiset.tallenna'| i18n}}&nbsp;<span class="fa fa-save"></span>
      </button>
      <button class="btn btn-default pull-left" ng-click="peruuta()">{{'i18n.yleiset.peruuta' | i18n}}</button>
    </div>
</form>
