<h2>Kysely</h2>

<div class="questionnaire-actions">
  <a ng-click="tallenna(kysely)">{{i18n.yleiset.tallenna}}</a>
</div>

<h3>Kyselyn nimi (näkyy vastaajalle)</h3>
<input type="text" ng-model="kysely.nimi_fi" />

<h3>Kyselyn kuvaus (näkyy vastaajalle)</h3>
<input type="text" ng-model="kysely.selite_fi" />

<h3>Voimassa</h3>

<pvm-valitsin
        otsikko="{{i18n.yleiset.alkaen}}"
        oletus-pvm="kysely.voimassa_alkupvm"
        valittu-pvm="kysely.voimassa_alkupvm"
        ng-model="kysely.voimassa_alkupvm"
        pakollinen="true">
</pvm-valitsin>
<pvm-valitsin
        otsikko="{{i18n.yleiset.asti}}"
        oletus-pvm="kysely.voimassa_loppupvm"
        valittu-pvm="kysely.voimassa_loppupvm"
        ng-model="kysely.voimassa_loppupvm"
        pakollinen="false">
</pvm-valitsin>

<a ng-click="">{{i18n.kysely.lisaa_kyselypohja}}</a>
