<h1>{{i18n.kysely.otsikko}}</h1>

<fieldset class="luo-uusi-kysely" >
    <input type="text" class="icon search-icon-input" ng-model="hakuehto.teksti" ng-attr-placeholder="{{i18n.kysely.etsi}}">
    <button class="button button-with-icon add-icon-white right ng-scope e2e-luo-uusi-kysely" ng-click="luoUusiKysely()">{{i18n.yleiset.luo_uusi_kysely}}</button>
</fieldset>

<div lataus-indikaattori metodi-id="kyselylistaus"
     viesti="{{i18n.yleiset.ladataan}}" virheviesti="{{i18n.yleiset.lataus_epaonnistui}}" yrita-uudelleen="haeKyselyt()"></div>

<accordion close-others="true" class="kyselyt">
    <accordion-group ng-repeat="kysely in kyselyt | filter:hakuehto.teksti | limitTo:50" is-open="group.open" ng-class="{'group-active': group.open}">

        <accordion-heading>
            <i class="pull-left icon" ng-class="{'contract-icon': group.open, 'expand-icon': !group.open}"></i>
            <h3 class="e2e-kysely-nimi">{{kysely | lokalisoiKentta:'nimi'}}</h3>
            <span class="text-muted">Voimassa: {{kysely.voimassa_alkupvm | voimassaoloAika: kysely.voimassa_loppupvm}}</span>
        </accordion-heading>

        <div class="panel-tools-content">
            <a ng-href="#/kyselyt/kysely/{{kysely.kyselyid}}" class="button left button-with-icon edit-icon-white">
                {{i18n.kysely.muokkaa}}
            </a>
            <button class="button left button-with-icon add-icon-white e2e-uusi-kyselykerta" ng-click="uusiKyselykerta(kysely)">{{i18n.kyselykerta.uusi_kyselykerta}}</button>
        </div>

        <div ng-show="kysely.kyselykerrat.length > 0" ng-repeat="kyselykerta in kysely.kyselykerrat" class="kyselykerrat-container">
            <h3 class="e2e-kyselykerta-nimi">{{i18n.yleiset.kyselykerta}}: {{kyselykerta | lokalisoiKentta:'nimi'}}</h3>
            <span class="text-muted">Voimassa: {{kyselykerta.voimassa_alkupvm | voimassaoloAika:  kyselykerta.voimassa_loppupvm}}</span><br />
            <a ng-href="#/kyselyt/{{kysely.kyselyid}}/kyselykerta/{{kyselykerta.kyselykertaid}}" class="">
                {{i18n.kyselykerta.hallitse}}
            </a> <br />
            <a ng-href="#/raportit/kyselykerrat/kyselykerta/{{kyselykerta.kyselykertaid}}">
                {{i18n.kysely.raportti}}
            </a>
        </div>
        <span ng-show="!kysely.kyselykerrat.length" class="text-muted">{{i18n.kysely.ei_kyselykertoja}}</span>
    </accordion-group>
</accordion>
