<h1>{{i18n.kysely.otsikko}} <ohje tunniste="kyselyt"></ohje></h1>

<div class="row">
  <div class="col-sm-6 col-sm-push-6" style="text-align: right">
    <auth roolit="['OPL-VASTUUKAYTTAJA']">
      <a class="btn btn-primary e2e-luo-uusi-kysely" ng-click="luoUusiKysely()" style="margin: 0;">
        {{ 'yleiset.luo_uusi_kysely' | i18n }}&nbsp;
        <span class="fa fa-plus"></span>
      </a>
    </auth>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <input type="text" class="form-control icon search-icon-input" ng-model="hakuehto.teksti" placeholder="{{i18n.kysely.etsi}}">
  </div>
</div>

<div lataus-indikaattori metodi-id="kyselylistaus"
     viesti="{{i18n.yleiset.ladataan}}" virheviesti="{{i18n.yleiset.lataus_epaonnistui}}" yrita-uudelleen="haeKyselyt()"></div>

<h2>{{ 'yleiset.julkaistut' | i18n }}</h2>
<kyselylista kyselyt="kyselyt" suodatus="{sijainti:'julkaistu'}" haku="hakuehto.teksti">
</kyselylista>

<auth roolit="['OPL-VASTUUKAYTTAJA']">
    <h2>{{ 'yleiset.luonnokset' | i18n }}</h2>
    <kyselylista kyselyt="kyselyt" suodatus="{sijainti:'luonnos'}" haku="hakuehto.teksti">
    </kyselylista>
</auth>

<div>
  <button class="btn btn-primary" ng-click="naytaSuljetut=!naytaSuljetut">
    <span ng-if="!naytaSuljetut">{{ 'yleiset.nayta_suljetut' | i18n }}</span>
    <span ng-if="naytaSuljetut">{{ 'yleiset.piilota_suljetut' | i18n }}</span>
  </button>
</div>

<div ng-if="naytaSuljetut">
  <h2>{{ 'yleiset.suljetut' | i18n }}</h2>
  <kyselylista kyselyt="kyselyt" suodatus="{sijainti:'suljettu'}" haku="hakuehto.teksti">
  </kyselylista>
</div>
