<h2>Kyselyt</h2>

<div class="luo-uusi-kysely"><a ng-click="luoUusiKysely()">{{i18n.yleiset.luo_uusi_kysely}}</a></div>

Haku: <input type="text" ng-model="hakuehto.teksti">

<div class="accordion-container"
  lataus-indikaattori metodi-idt="['kyselylistaus']"
  viesti="{{i18n.yleiset.ladataan}}" virheviesti="{{i18n.yleiset.lataus_epaonnistui}}" yrita-uudelleen="haeKyselyt()">
  <div ng-hide="latausKaynnissa" class="accordion" ng-repeat="kysely in kyselyt | filter:hakuehto.teksti | limitTo:50">
    <div class="accordion-header collapse">
      <a ng-href="#/kysely/{{kysely.kyselyid}}">
        {{kysely.kyselyid}} {{kysely.nimi_fi}}
      </a>
      <br>Voimassa: {{kysely.voimassa_alkupvm}} - {{kysely.voimassa_loppupvm}}
      <a href="" ng-click="uusiKyselykerta(kysely.kyselyid)">[{{i18n.kyselykerta.uusi_kyselykerta}}]</a>
    </div>
    <div ng-show="kysely.kyselykerrat.length > 0" class="accordion-body collapse" ng-repeat="kyselykerta in kysely.kyselykerrat">
      <a ng-href="#/raportti/kyselykerta/{{kyselykerta.kyselykertaid}}">
        {{i18n.yleiset.kyselykerta}}: {{kyselykerta.kyselykertaid}} {{kyselykerta.nimi_fi}}
      </a>
      <br>Voimassa: {{kyselykerta.voimassa_alkupvm}} - {{kyselykerta.voimassa_loppupvm}}
    </div>
  </div>
</div>

<popup-ikkuna nayta-popup="naytaLuonti">
  <kyselykerta-luonti kyselyid="valittuKyselyid" ilmoita-tallennus="suljePopup()"></kyselykerta-luonti>
</popup-ikkuna>