<div class="modal-header">
  <a class="pull-right" ng-click="cancel()">X</a>
  <h4>{{i18n.kysymysryhma.valinta}}</h4>
</div>

<div class="modal-body">
  <p>{{i18n.kysymysryhma.valinta_ohjeistus}}</p>

  <select class="form-control e2e-valittavat-kysymysryhmat" ng-model="outerscope.kysymysryhmaid" ng-if="kysymysryhmat.length > 0">
    <option></option>
    <optgroup label="{{ 'kysymysryhma.muut' | i18n }}">
      <option ng-repeat="ryhma in kysymysryhmat | filter:{taustakysymykset: false, valtakunnallinen: false} | orderBy:['!selite_fi','selite_fi']" value="{{ryhma.kysymysryhmaid}}">{{ryhma | lokalisoiKentta:'nimi'}} - {{ryhma | lokalisoiKentta: 'selite'}}</option>
    </optgroup>
  </select>
</div>

<div class="modal-footer">
  <small class="pull-right">
    <pakollisia-kenttia></pakollisia-kenttia>
  </small>
  <button class="btn btn-primary pull-left e2e-lisaa-valittu-kysymysryhma" ng-disabled="!outerscope.kysymysryhmaid" ng-click="tallenna(outerscope.kysymysryhmaid)">
    {{i18n.yleiset.lisaa_valittu}}
  </button>
  <button class="btn btn-default pull-left" ng-click="cancel()">{{i18n.yleiset.peruuta}}</button>
</div>
