<div class="modal-header">
    <a class="pull-right" ng-click="cancel()">X</a>
    <h4>{{i18n.vastaajatunnus.uusi_vastaajatunnus}}</h4>
</div>

<form name="tunnustenLuontiForm" role="form">

<div class="modal-body">
        <div class="form-group">
            <label for="vastaajien_maara">{{i18n.vastaajatunnus.vastaajia}}</label>
            <div class="row">
                <div class="col-md-4">
                    <input id="vastaajien_maara" type="number" min="1" max="100" class="form-control"
                           ng-model="vastaajatunnus.vastaajien_lkm" ng-required="true">
                </div>
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vastaajatunnus.henkilokohtainen"> {{i18n.vastaajatunnus.henkilokohtainen}}
            </label>
        </div>

        <div class="form-group">
            <label>{{i18n.yleiset.rahoitusmuoto}}*
               <select ng-required="true" ng-options="rahoitusmuoto.rahoitusmuotoid as rahoitusmuoto.rahoitusmuoto |enumArvo:'rahoitusmuoto' for rahoitusmuoto in rahoitusmuodot"
                        ng-model="vastaajatunnus.rahoitusmuotoid"
                        class="form-control e2e-vastaajatunnuksen-rahoitusmuoto"
                        ng-show="rahoitusmuodot.length > 0">
                   <option value=""></option>
               </select>
            </label>
        </div>
        <div class="form-group">
            <label>{{i18n.yleiset.tutkinto}}*
              <input type="text"
                     class="form-control with-icon"
                     ng-model="vastaajatunnus.tutkinto"
                     typeahead="tutkinto as (tutkinto | lokalisoiKentta:'nimi') for tutkinto in tutkinnot | filter:$viewValue | orderByLokalisoitu:'nimi'"
                     typeahead-input-formatter="lokalisoiNimi($model)"
                     typeahead-wait-ms="200"
                     typeahead-editable="false">
              <span class="fa fa-sort-desc"></span>
            </label>
        </div>
</div>

<div class="modal-footer e2e-vastaustunnusten-luonti-dialogi">
    <small class="pull-right ">
        <pakollisia-kenttia></pakollisia-kenttia>
    </small>
    <tallenna class="btn btn-primary pull-left" formi-validi="tunnustenLuontiForm.$valid" teksti="{{i18n.vastaajatunnus.lisaa_vastaajatunnukset}}" ng-click="luoTunnuksia(vastaajatunnus)"></tallenna>
    <button class="btn btn-default pull-left" ng-click="cancel()">{{i18n.yleiset.peruuta}}</button>
</div>

</form>
