<form name="tunnustenLuontiForm">
  <h3>Vastaajatunnusten luonti</h3>

  <div>Vastaajien määrä <input type="number" min="1" ng-model="vastaajatunnus.vastaajien_lkm" ng-required="true"></div>

  <div><label><input type="checkbox" ng-model="vastaajatunnus.henkilokohtainen"> Henkilökohtainen</label></div>

  <div>Vastausaika</div>
  <div><pvm-valitsin valittu-pvm="vastaajatunnus.voimassa_alkupvm"></pvm-valitsin> - <pvm-valitsin valittu-pvm="vastaajatunnus.voimassa_loppupvm"></pvm-valitsin></div>

  <div><label>Rahoitusmuoto <select ng-options="rahoitusmuoto.rahoitusmuotoid as rahoitusmuoto.rahoitusmuoto for rahoitusmuoto in rahoitusmuodot" ng-model="vastaajatunnus.rahoitusmuotoid"></select></label></div>

  <button ng-click="luoTunnuksia(vastaajatunnus)">Lisää vastaustunnuksia</button>
</form>
