<form class="kk-lomake">
    <header>
        <h1>Palautekysely</h1>
        <p>Tähän tulee kyselyn kuvausteksti. Pitkäänkin voi varautua. <u>Pidetään</u> muotoilut <b>tallessa</b>.</p>
    </header>

    <section>
        <header>
            <h2>Valtakunnalliset kysymykset</h2>
        </header>
        <div class="kysymykset">
            <div class="kysymys">1. kysymys</div>
            <div class="kysymys">2. kysymys</div>
            <div class="kysymys">3. kysymys</div>
        </div>
    </section>

    <section>
        <header>
            <h2>Hakeutuminen</h2>
        </header>
        <div class="kysymykset">
            <div class="kysymys">1. kysymys</div>
            <div class="kysymys">2. kysymys</div>
            <div class="kysymys">3. kysymys</div>
        </div>
    </section>

    <footer>
        <button>Lähetä vastaukset</button>
        <button>Tyhjennä vastaukset</button>
    </footer>
</form>