<h1>Kysely #{{kyselyid}}</h1>

<div ng-repeat="kysymysryhma in data.kysymysryhmat">
  <h2>{{ kysymysryhma.nimi_fi }}</h2>

  <div ng-repeat="kysymys in kysymysryhma.kysymykset">
    <h3>{{ kysymys.kysymys_fi }} </h3>

    <label ng-repeat="vaihtoehto in kysymys.monivalintavaihtoehdot" style="display: block">
      <span ng-if="kysymys.monivalinta_max == 1">
        <input type="radio" ng-model="answers[kysymys.kysymysid]" value="{{vaihtoehto.monivalintavaihtoehtoid}}" />
      </span>
      <span ng-if="kysymys.monivalinta_max > 1">
        <input type="checkbox" ng-model="answers[kysymys.kysymysid]" value="{{vaihtoehto.monivalintavaihtoehtoid}}" />
      </span>
      {{vaihtoehto.teksti_fi}}
    </label>
  </div>
</div>
