$gray-color: rgb(128,128,128);
$lighter-gray: lighten($gray-color, 20%);
$lightest-gray: lighten($gray-color, 40%);
$darker-gray: darken($gray-color, 20%);
$darkest-gray: darken($gray-color, 40%);


$primary-color: #32525F;
$lighter-primary: #436F7E;
$lightest-primary: #558DA0;
$darker-primary: #20343C;
$darkest-primary: #20343C;
$disabled-primary-color: #9c3374;

$primary-action-text: white;
