$gray-color: rgb(128,128,128);
$lighter-gray: lighten($gray-color, 20%);
$lightest-gray: lighten($gray-color, 40%);
$darker-gray: darken($gray-color, 20%);
$darkest-gray: darken($gray-color, 40%);


$primary-color: #588A70;
$lighter-primary: #70A489;
$lightest-primary: #EDF3F0;
$darker-primary: #426955;
$darkest-primary: #325b43;
$disabled-primary-color: #556860;

$primary-action-text: white;