<svg class="jakauma-kaavio"
  ng-attr-width="{{asetukset.tekstinPituus + asetukset.palkinMaksimiPituus + 300}}"
  ng-attr-height="{{viivastonKorkeus() + 30}}">

  <line ng-repeat="osa in [0, 0.25, 0.5, 0.75, 1.0]"
    class="jakauma-kaavio-viiva"
    ng-attr-x1="{{asetukset.tekstinPituus + asetukset.palkinMaksimiPituus * osa}}"
    ng-attr-y1="0"
    ng-attr-x2="{{asetukset.tekstinPituus + asetukset.palkinMaksimiPituus * osa}}"
    ng-attr-y2="{{viivastonKorkeus()}}" />
  <text ng-repeat="otsikko in otsikot"
    class="jakauma-kaavio-viivan-otsikko"
    ng-attr-x="{{asetukset.tekstinPituus + asetukset.palkinMaksimiPituus * otsikko.x}}"
    ng-attr-y="{{viivastonKorkeus() + 20}}">
    {{otsikko.teksti}}
  </text>

  <text ng-repeat-start="data in jakauma"
    class="jakauma-kaavio-otsikko"
    ng-init="outerIndex = $index"
    ng-attr-x="{{asetukset.tekstinPituus - 10}}"
    ng-attr-y="{{paikkaPalkistonSuhteen(outerIndex + 0.5, 0, 0)}}">
    <tspan ng-attr-dy="{{ $first ? '0' : '1em'}}" ng-repeat="osa in jaaTeksti(data)" text-anchor="end" ng-attr-x="{{asetukset.tekstinPituus - 10}}">{{osa}}</tspan>
  </text>
  <rect ng-repeat="i in raporttiIndeksit(data.osuus)"
    ng-attr-width="{{palkinPituus(data.osuus[i])}}"
    ng-attr-height="{{asetukset.palkinLeveys}}"
    ng-attr-x="{{asetukset.tekstinPituus}}"
    ng-attr-y="{{paikkaPalkistonSuhteen(outerIndex, i, 0.25)}}"
    ng-attr-fill="{{palkinVari(i)}}">
  </rect>
  <text ng-repeat="i in raporttiIndeksit(data.osuus)"
    ng-attr-x="{{asetukset.tekstinPituus + palkinPituus(data.osuus[i]) + 10}}"
    ng-attr-y="{{paikkaPalkistonSuhteen(outerIndex, i, 0.75)}}"
    ng-repeat-end>
    {{data.osuus[i]}}% ({{data.lukumaara[i]}})
  </text>

  <rect ng-repeat-start="raportoitava in nimet"
    ng-attr-width="{{asetukset.palkinLeveys}}"
    ng-attr-height="{{asetukset.palkinLeveys}}"
    ng-attr-x="{{asetukset.tekstinPituus + asetukset.palkinMaksimiPituus + 75}}"
    ng-attr-y="{{1.2*asetukset.palkinLeveys*($index + 1)}}"
    ng-attr-fill="{{palkinVari($index)}}">
  </rect>
  <text
    ng-attr-x="{{asetukset.tekstinPituus + asetukset.palkinMaksimiPituus + 75 + 1.2*asetukset.palkinLeveys}}"
    ng-attr-y="{{1.2*asetukset.palkinLeveys*($index + 1.5)}}"
    ng-repeat-end>
    {{ raportoitava | lokalisoiKentta:'nimi' }}
  </text>

</svg>

