<div class="raportti-kyselykerta-tiedot">
  <div>
    Kyselykerta: <span>{{tulos.kyselykerta.kyselykertaid}}</span>
  </div>
  <div>
    Kysely: <span>{{tulos.kyselykerta.kyselyid}}</span>
  </div>
  <div>
    Nimi: <span>{{tulos.kyselykerta.nimi_fi}}</span>
  </div>
  <div>
    Voimassa: <span>{{tulos.kyselykerta.voimassa_alkupvm | voimassaoloAika: tulos.kyselykerta.voimassa_loppupvm}}</span>
  </div>
  <hr>
  <div>
    Raportin luontipäivä: <span>{{tulos.luontipvm | date: 'dd.MM.yyyy'}}</span>
  </div>
</div>

<div ng-repeat="kysymys in tulos.raportti">
  <p>
    <h3>{{$index + 1}}. {{kysymys.kysymys_fi}}</h3>

    <jakauma-kaavio
      ng-if="kysymys.vastaustyyppi === 'kylla_ei_valinta' || kysymys.vastaustyyppi === 'monivalinta'"
      jakauma="kysymys.jakauma">
    </jakauma-kaavio>

    <vaittama-kaavio
      ng-if="kysymys.vastaustyyppi === 'asteikko'"
      jakauma="kysymys.jakauma">
    </vaittama-kaavio>

    <table class="report-table" ng-if="kysymys.vastaustyyppi === 'asteikko' || kysymys.vastaustyyppi === 'kylla_ei_valinta' || kysymys.vastaustyyppi === 'monivalinta'">
      <thead>
        <tr>
          <th class="report-table-question">{{kysymys.kysymys_fi}}</th>
          <th class="report-table-percentage-field">Vast%</th>
          <th class="report-table-amount-header">n={{lukumaaratYhteensa(kysymys.jakauma)}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alkio in kysymys.jakauma">
          <td>{{alkio.vaihtoehto}}</td>
          <td class="report-table-percentage-field">{{alkio.osuus}}%</td>
          <td class="report-table-amount-field">{{alkio.lukumaara}}</td>
        </tr>
      </tbody>
    </table>

    <div class="jatkokysymykset" ng-if="kysymys.jatkovastaukset">
      <div class="kylla-jatkokysymys" ng-if="kysymys.jatkovastaukset.kylla">
        <h4>{{kysymys.jatkovastaukset.kylla.kysymys_fi}}</h4>
        <vaittama-kaavio jakauma="kysymys.jatkovastaukset.kylla.jakauma">
        </vaittama-kaavio>
      </div>
      <div class="ei-jatkokysymys" ng-if="kysymys.jatkovastaukset.ei">
        <h4>{{kysymys.jatkovastaukset.ei.kysymys_fi}}</h4>
        <table class="report-table">
          <thead>
            <tr><th>Vastaukset:</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="vastaus in kysymys.jatkovastaukset.ei.vastaukset">
              <td>{{vastaus.teksti}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <table class="report-table" ng-if="kysymys.vastaustyyppi === 'vapaateksti'">
      <thead>
        <tr><th>Vastaukset:</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="vastaus in kysymys.vastaukset">
          <td>{{vastaus.teksti}}</td>
        </tr>
      </tbody>
    </table>
  </p>
</div>
