<h1>Kyselykertaraportit <ohje tunniste="kyselykertaraportit"></ohje></h1>

<div class="row">
    <div class="col-md-4">
        <input type="text" class="icon search-icon-input form-control" ng-model="hakuehto.teksti" placeholder="{{i18n.kysely.etsi}}">
    </div>
</div>

<br />

<table class="table table-striped raportit-taulukko">
    <thead>
    <tr>
        <th>{{i18n.raportit.kyselykerta.id}}</th>
        <th>{{i18n.yleiset.nimi_otsikko}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="kyselykerta in kyselykerrat | filter:hakuehto.teksti | limitTo:50">
            <td>{{kyselykerta.kyselykertaid}}</td>
            <td>{{kyselykerta.nimi}}</td>
            <td>
                <a class="btn btn-primary btn-sm pull-right" ng-href="#/raportit/kyselykerrat/kyselykerta/{{kyselykerta.kyselykertaid}}">
                    {{i18n.raportit.kyselykerta.nayta}}
                    <span class="glyphicon glyphicon-stats"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
