Kyselykerta: {{tulos.kyselykerta.kyselykertaid}}

<div ng-repeat="kysymys in tulos.raportti">
  <p>
    <h3>{{kysymys.kysymys_fi}}</h3>

    <jakauma-kaavio
      ng-if="kysymys.vastaustyyppi === 'monivalinta'"
      jakauma="kysymys.jakauma">
    </jakauma-kaavio>

    <table class="report-table" ng-if="kysymys.vastaustyyppi === 'asteikko'">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="report-table-amount-field">n</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alkio in kysymys.jakauma">
          <td>{{alkio.vaihtoehto}}</td>
          <td class="report-table-amount-field">{{alkio.lukumaara}}</td>
        </tr>
      </tbody>
    </table>

    <table class="report-table" ng-if="kysymys.vastaustyyppi === 'kylla_ei_valinta'">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="report-table-amount-field">n</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alkio in kysymys.jakauma">
          <td>{{alkio.vaihtoehto}}</td>
          <td class="report-table-amount-field">{{alkio.lukumaara}}</td>
        </tr>
      </tbody>
    </table>

    <table class="report-table" ng-if="kysymys.vastaustyyppi === 'monivalinta'">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="report-table-percentage-field">Vast%</th>
          <th class="report-table-amount-field">n</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alkio in kysymys.jakauma">
          <td>{{alkio.vaihtoehto}}</td>
          <td class="report-table-percentage-field">{{alkio.osuus}}%</td>
          <td class="report-table-amount-field">{{alkio.lukumaara}}</td>
        </tr>
      </tbody>
    </table>

    <table class="report-table" ng-if="kysymys.vastaustyyppi === 'vapaateksti'">
      <thead>
        <tr><th>Vastaukset</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="vastaus in kysymys.vastaukset">
          <td>{{vastaus.teksti}}</td>
        </tr>
      </tbody>
    </table>
  </p>
</div>
