<h2 class="visible-print">{{selectedTabName}}</h2>
<div class="raportit">
  <uib-tabset>
    <uib-tab class="hidden-print" heading="{{ 'raportit.kyselykertaraportti' | i18n }}" active="kyselykertaraportitValittu" select="vaihdaTyyppi('kyselykerta', i18n.raportit.kyselykertaraportti)"
        uib-popover="{{ 'raportit.kyselykertaraportti_ohje' | i18n }}" popover-trigger="mouseenter" popover-placement="bottom">
      <h2 class="hidden-print">{{ 'raportit.kyselykertaraportti_otsikko' | i18n }} *<ohje tunniste="kyselykertaraportti"></ohje></h2>
      <div class="btn-group tutkintorakennetaso">
        <label class="btn btn-primary" ng-model="tilafilterKyselykerta.tila" uib-btn-radio="'avoin'">{{ 'yleiset.avoimet' | i18n }}</label>
        <label class="btn btn-primary" ng-model="tilafilterKyselykerta.tila" uib-btn-radio="'suljettu'">{{ 'yleiset.suljetut' | i18n }}</label>
        <label class="btn btn-primary" ng-model="tilafilterKyselykerta.tila" uib-btn-radio="'kaikki'">{{ 'yleiset.kaikki' | i18n }}</label>
      </div>
      <valintalista class="hidden-print" valittavat="kyselykerratTilassa" hakuteksti="{{ 'raportit.hae_kyselykertoja' | i18n }}" valitse="valitseKyselykerta(valittava)"></valintalista>
      <ng-include class="hidden-print" src="'template/raportti/osat/aikavali.html'"></ng-include>
      <ng-include class="hidden-print" src="'template/raportti/osat/tutkinnot.html'"></ng-include>
      <h3 class="hidden-print" ng-if="vastaustunnustiedot.oppilaitokset.length > 0">{{ 'vastaajatunnus.koulutuksen_jarjestava_oppilaitos' | i18n }}</h3>
      <valintalista class="hidden-print" pieni="true" valittavat="vastaustunnustiedot.oppilaitokset" hakuteksti="{{ 'raportit.hae_oppilaitoksia' | i18n }}" valitse="vaihdaValinta(valittava, 'jarjestavat_oppilaitokset', 'oppilaitoskoodi')"></valintalista>
      <ng-include class="hidden-print" src="'template/raportti/osat/suorituskieli.html'"></ng-include>
      <ng-include src="'template/raportti/osat/kyselykertaraportit.html'"></ng-include>
    </uib-tab>
    <uib-tab class="hidden-print" heading="{{ 'raportit.kyselyraportti' | i18n }}" select="vaihdaTyyppi('kysely', i18n.raportit.kyselyraportti)"
         uib-popover="{{ 'raportit.kyselyraportti_ohje' | i18n }}" popover-trigger="mouseenter" popover-placement="bottom">
      <h2 class="hidden-print">{{ 'raportit.kyselyraportti_otsikko' | i18n }} *<ohje tunniste="kyselyraportti"></ohje></h2>
      <div class="btn-group tutkintorakennetaso">
        <label class="btn btn-primary" ng-model="tilafilter.tila" uib-btn-radio="'julkaistu'">{{ 'yleiset.julkaistut' | i18n }}</label>
        <label class="btn btn-primary" ng-model="tilafilter.tila" uib-btn-radio="'suljettu'">{{ 'yleiset.suljetut' | i18n }}</label>
        <label class="btn btn-primary" ng-model="tilafilter.tila" uib-btn-radio="'kaikki'">{{ 'yleiset.kaikki' | i18n }}</label>
      </div>
      <valintalista class="hidden-print" valittavat="kyselytTilassa" hakuteksti="{{ 'raportit.hae_kyselyita' | i18n }}" valitse="valitseKysely(valittava)"></valintalista>
      <ng-include class="hidden-print" src="'template/raportti/osat/aikavali.html'"></ng-include>
      <ng-include class="hidden-print" src="'template/raportti/osat/tutkinnot.html'"></ng-include>
      <h3 class="hidden-print" ng-if="vastaustunnustiedot.oppilaitokset.length > 0">{{ 'vastaajatunnus.koulutuksen_jarjestava_oppilaitos' | i18n }}</h3>
      <valintalista class="hidden-print" pieni="true" valittavat="vastaustunnustiedot.oppilaitokset" hakuteksti="{{ 'raportit.hae_oppilaitoksia' | i18n }}" valitse="vaihdaValinta(valittava, 'jarjestavat_oppilaitokset', 'oppilaitoskoodi')"></valintalista>
      <ng-include class="hidden-print" src="'template/raportti/osat/suorituskieli.html'"></ng-include>
      <ng-include src="'template/raportti/osat/kyselyraportit.html'"></ng-include>
    </uib-tab>
    <uib-tab class="hidden-print" heading="CSV" select="vaihdaTyyppi('csv', i18n.raportit.csv)" ng-show="vastuuKayttaja">
      <h2 class="hidden-print">{{'raportit.csv_otsikko' | i18n}}</h2>
      <div class="btn-group tutkintorakennetaso">
        <label class="btn btn-primary" ng-model="tilafilter.tila" uib-btn-radio="'julkaistu'">{{ 'yleiset.julkaistut' | i18n }}</label>
        <label class="btn btn-primary" ng-model="tilafilter.tila" uib-btn-radio="'suljettu'">{{ 'yleiset.suljetut' | i18n }}</label>
        <label class="btn btn-primary" ng-model="tilafilter.tila" uib-btn-radio="'kaikki'">{{ 'yleiset.kaikki' | i18n }}</label>
      </div>
      <valintalista class="hidden-print" valittavat="kyselytTilassa" hakuteksti="{{ 'raportit.hae_kyselyita' | i18n }}" valitse="valitseKysely(valittava)"></valintalista>
      <ng-include src="'template/raportti/osat/csv.html'"></ng-include>
    </uib-tab>
  </uib-tabset>

  <div ng-if="tulos">
    <ng-include src="'template/raportti/raportti.html'"></ng-include>
  </div>
  <div ng-if="raportit" ng-repeat="tulos in raportit">
    <ng-include src="'template/raportti/raportti.html'"></ng-include>
  </div>
</div>
