<div class="raportit">
  <tabset>
    <tab heading="{{ 'raportit.vertailuraportti' | i18n }}" select="vaihdaTyyppi('vertailu')" disabled="!yllapitaja">
      <h2>{{ 'raportit.vertailtavat_tutkinnot' | i18n }} <ohje tunniste="vertailuraportti"></ohje></h2>
      <ng-include src="'template/raportti/osat/tutkinnot.html'"></ng-include>
      <ng-include src="'template/raportti/osat/taustakysymykset.html'"></ng-include>
      <ng-include src="'template/raportti/osat/aikavali.html'"></ng-include>
      <h3>{{ 'raportit.koulutustoimijat' | i18n }}</h3>
      <div>{{ 'raportit.vertailtavat_koulutustoimijat' | i18n }}</div>
      <ng-include src="'template/raportti/osat/koulutustoimijat.html'"></ng-include>
      <ng-include src="'template/raportti/osat/yhteinen.html'"></ng-include>
    </tab>
    <tab heading="{{ 'raportit.kehitysraportti' | i18n }}" select="vaihdaTyyppi('kehitys')" disabled="!yllapitaja">
      <h2>{{ 'raportit.tarkasteltava_tutkinto' | i18n }} <ohje tunniste="kehitysraportti"></ohje></h2>
      <ng-include src="'template/raportti/osat/tutkinnot.html'"></ng-include>
      <ng-include src="'template/raportti/osat/taustakysymykset.html'"></ng-include>
      <h3>{{ 'raportit.koulutustoimijat' | i18n }}</h3>
      <div>{{ 'raportit.vertailtavat_koulutustoimijat' | i18n }}</div>
      <ng-include src="'template/raportti/osat/koulutustoimijat.html'"></ng-include>
      <ng-include src="'template/raportti/osat/yhteinen.html'"></ng-include>
    </tab>
    <tab heading="{{ 'raportit.vertaa_koulutustoimijoita' | i18n }}" select="vaihdaTyyppi('koulutustoimijat')" ng-show="yllapitaja">
      <h2>{{ 'raportit.vertaa_koulutustoimijoita_otsikko' | i18n }} <ohje tunniste="vertaa_koulutustoimijoita_raportti"></ohje></h2>
      <ng-include src="'template/raportti/osat/koulutustoimijat.html'"></ng-include>
      <ng-include src="'template/raportti/osat/taustakysymykset.html'"></ng-include>
      <ng-include src="'template/raportti/osat/aikavali.html'"></ng-include>
      <h3>{{ 'raportit.tutkinnot_ja_alat' | i18n }}</h3>
      <div>{{ 'raportit.tutkinnot_ja_alat_ohje' | i18n }}</div>
      <ng-include src="'template/raportti/osat/tutkinnot.html'"></ng-include>
      <ng-include src="'template/raportti/osat/yhteinen.html'"></ng-include>
    </tab>
    <tab heading="{{ 'raportit.kyselykertaraportit' | i18n }}" active="kyselykertaraportitValittu">
      <ng-include src="'template/raportti/kyselykerrat.html'" ng-controller="KyselykerratController"></ng-include>
    </tab>
  </tabset>
</div>