<p>För att skydda respondenternas anonymitet rapporteras frågor endast i de fall där respondenterna i svarsgruppen är minst fem personer. Antal=n.</p>
<p>Det nationella jämförelsetalet är ett medeltal av alla nationella frågor gällande examensmästare. Jämförelsetalen enligt anordnare är medeltalet av alla svar som getts ifrågavarande fråga.
  Jämförelsetalet räknas utgående från den tidsperiod som rapporteras. Om tidsperioden som rapporteras är kortare än ett år, räknas jämförelsetalet ett år bakåt från rapporteringsperiodens slut-om jämförelsetal är tillgängligt.
</p>
