<div ng-controller="RaporttiController">
<div class="alert alert-danger" ng-if="tulos.virhe">
  {{'raportit.liian_vahan_vastaajia' | i18n}}
</div>

<div class="hidden-print" ng-show="tulokset.length > 1">
  <button ng-click="naytaRaportti(raportti)" ng-repeat="raportti in tulokset">{{ raportti | lokalisoiKentta:'nimi' }}</button>
</div>

<div class="visible-print" ng-if="tulos">
  <h2 ng-if="tulos.kyselykerta">{{tulos.kyselykerta.nimi}}</h2>
</div>

<div ng-show="tulos">
  <h1>{{ 'kysely.raportti_otsikko' | i18n }}</h1>
  <div class="hidden-print clearfix">
    <button class="btn btn-primary pull-left" ng-click="print()">{{ 'kysely.raportti_tulosta' | i18n }}&nbsp;<span class="fa fa-print"></span></button>
    <div class="checkbox pull-left">
      <label>
        <input type="checkbox" ng-model="printgraphs">&nbsp;{{ 'kysely.raportti_tulosta_graafit' | i18n }}
      </label>
    </div>
  </div>
</div>

<div class="raportti-kyselykerta-tiedot" ng-if="tulos">
  <div ng-if="tulos.kyselykerta">
    <div>
      {{'yleiset.kyselykerta' | i18n }}: <span>{{tulos.kyselykerta.nimi}}</span>
    </div>
    <div>
      {{'yleiset.kysely' | i18n }}: <span>{{tulos.kyselykerta.kyselyid}}</span>
    </div>
    <div>
      {{'yleiset.voimassa' | i18n }}: <span>{{tulos.kyselykerta.voimassa_alkupvm | voimassaoloAika: tulos.kyselykerta.voimassa_loppupvm}}</span>
    </div>
    <div ng-repeat="koulutustoimija in tulos.kyselykerta.koulutustoimijat">
      <hr>
      <div>
        {{'raportti.koulutuksen_jarjestaja' | i18n}}: <span>{{koulutustoimija | lokalisoiKentta:'koulutustoimija'}}</span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>{{'yleiset.tutkinto' | i18n}}</th>
            <th>{{'yleiset.vastaajia' | i18n}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tutkinto in koulutustoimija.tutkinnot">
            <td ng-if="tutkinto.tutkintotunnus">{{tutkinto.tutkintotunnus}}, {{tutkinto | lokalisoiKentta:'nimi'}}</td>
            <td ng-if="!tutkinto.tutkintotunnus">{{'raportti.ei_tutkintotietoa' | i18n}}</td>
            <td>{{tutkinto.vastaajien_lkm}}</td>
          </tr>
          <tr>
            <td>{{'raportti.yhteensa' | i18n }}</td>
            <td>{{koulutustoimija.vastaajat_yhteensa}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div>
      {{ 'raportti.otsikko' | i18n }}: {{ tulos | lokalisoiKentta:'nimi' }}
    </div>
    <div>
      {{'raportti.kohderyhman_koko' | i18n }}: {{tulos.vastaajien_maksimimaara}}
    </div>
    <hr>
    <div>
      {{'raportti.raportin_luontipaiva' | i18n }}: <span>{{tulos.luontipvm | date: 'dd.MM.yyyy'}}</span>
    </div>
    <div ng-show="tulos.parametrit.vertailujakso_alkupvm || tulos.parametrit.vertailujakso_loppupvm">
      {{'raportti.raportin_vertailujakso' | i18n }}: <span>{{tulos.parametrit.vertailujakso_alkupvm | date: 'dd.MM.yyyy'}} - {{tulos.parametrit.vertailujakso_loppupvm | date: 'dd.MM.yyyy'}}</span>
    </div>
  </div>
</div>

<div ng-repeat="kysymysryhma in tulos.raportti" class="kysymysryhma">
  <h2>{{kysymysryhma | lokalisoiKentta:'nimi'}}</h2>
  <p>
    {{'raportti.vastaajien_maara' | i18n }}: {{kysymysryhma.vastaajien_lukumaara}}/{{tulos.vastaajien_maksimimaara}}
    {{'raportti.vastausprosentti' | i18n }}: {{prosenttiosuus(kysymysryhma.vastaajien_lukumaara, tulos.vastaajien_maksimimaara)}}%
  </p>

  <div ng-repeat="kysymys in kysymysryhma.kysymykset" class="kysymys">
    <h3>{{$index + 1}}. {{kysymys | lokalisoiKentta:'kysymys'}}</h3>
    <p>
      {{'raportti.vastaajien_maara' | i18n }}: {{kysymys.vastaajien_lukumaara}}/{{tulos.vastaajien_maksimimaara}}
      {{'raportti.vastausprosentti' | i18n }}: {{prosenttiosuus(kysymys.vastaajien_lukumaara, tulos.vastaajien_maksimimaara)}}%
    </p>

    <jakauma-kaavio ng-class="{ 'hidden-print': !printgraphs }"
      ng-if="kysymys.vastaustyyppi === 'kylla_ei_valinta' || kysymys.vastaustyyppi === 'monivalinta'"
      jakauma="kysymys.jakauma" vastaustyyppi="kysymys.vastaustyyppi">
    </jakauma-kaavio>

    <vaittama-kaavio ng-class="{ 'hidden-print': !printgraphs }"
      ng-if="kysymys.vastaustyyppi === 'asteikko' || kysymys.vastaustyyppi === 'likert_asteikko' || kysymys.vastaustyyppi === 'arvosana'"
      jakauma="kysymys.jakauma" vastaustyyppi="kysymys.vastaustyyppi" eos="kysymys.eos_vastaus_sallittu">
    </vaittama-kaavio>

    <table class="report-table" ng-if="kysymys.vastaustyyppi && kysymys.vastaustyyppi !== 'vapaateksti'">
      <thead>
        <tr>
          <th class="report-table-question">{{kysymys | lokalisoiKentta:'kysymys'}}</th>
          <th class="report-table-percentage-field">Vast%</th>
          <th class="report-table-amount-header">n={{lukumaaratYhteensa(kysymys.jakauma)}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alkio in kysymys.jakauma">
          <td class="e2e-vaihtoehto" ng-if="kysymys.vastaustyyppi !== 'monivalinta'">{{'kysymys.' + kysymys.vastaustyyppi + '.' + alkio['vaihtoehto-avain'] | i18n}}</td>
          <td class="e2e-vaihtoehto" ng-if="kysymys.vastaustyyppi === 'monivalinta'">
            <span ng-if="alkio.jarjestys === 'eos'">{{'kysymys.monivalinta.eos' | i18n}}</span>
            <span ng-if="alkio.jarjestys !== 'eos'">{{alkio | lokalisoiKentta:'vaihtoehto' }}</span>
          </td>
          <td class="report-table-percentage-field e2e-osuus">{{alkio.osuus}}%</td>
          <td class="report-table-amount-field e2e-vastausten-lukumaara">{{alkio.lukumaara}}</td>
        </tr>
      </tbody>
    </table>

    <div class="jatkokysymykset" ng-if="kysymys.jatkovastaukset">
      <h3>{{$index + 1}}. {{i18n.raportit.jatkokysymykset}}</h3>
      <div class="kylla-jatkokysymys" ng-if="kysymys.jatkovastaukset.kylla">
        <h4>{{kysymys.jatkovastaukset.kylla | lokalisoiKentta:'kysymys'}}</h4>
        <vaittama-kaavio ng-class="{ 'hidden-print': !printgraphs }" jakauma="kysymys.jatkovastaukset.kylla.jakauma" vastaustyyppi="kysymys.jatkovastaukset.kylla.vastaustyyppi">
        </vaittama-kaavio>
      </div>
      <div class="ei-jatkokysymys" ng-if="kysymys.jatkovastaukset.ei">
        <h4>{{kysymys.jatkovastaukset.ei | lokalisoiKentta:'kysymys'}}</h4>
        <table class="report-table">
          <thead>
            <tr><th>{{'raportti.vastaukset' |i18n}}:</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="vastaus in kysymys.jatkovastaukset.ei.vapaatekstivastaukset">
              <td>{{vastaus.teksti}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <table class="report-table" ng-if="kysymys.vastaustyyppi === 'vapaateksti'">
      <thead>
        <tr><th>{{'raportti.vastaukset' |i18n}}:</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="vastaus in kysymys.vapaatekstivastaukset">
          <td>{{vastaus.teksti}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
