<p>(SV) Vastaajien anonymiteetin suojaamiseksi vastaukset raportoidaan vain, jos kohderyhmään kuuluvia vastaajia on vähintään viisi henkilöä. Lukumäärä = n.</p>
<p>Det nationella jämförelsetalet är ett medeltal av alla nationella frågor gällande examensmästare. Jämförelsetalen enligt anordnare är medeltalet av alla svar som getts ifrågavarande fråga.
  Jämförelsetalet räknas utgående från den tidsperiod som rapporteras. Om tidsperioden som rapporteras är kortare än ett år, räknas jämförelsetalet ett år bakåt från rapporteringsperiodens slut-om jämförelsetal är tillgängligt.
</p>