<div class="alert alert-danger" ng-if="tulos.virheelliset.length > 0">
  {{'raportit.liian_vahan_vastaajia' | i18n}}
  <ul>
    <li ng-repeat="raportti in tulos.virheelliset">
      {{raportti | lokalisoiKentta:'nimi'}}
    </li>
  </ul>
</div>

<div ng-show="tulos" class="hidden-print print-header">
  <h1>
      <span ng-if="['vertailu', 'kehitys', 'kehitys-ketjutettu', 'koulutustoimijat', 'kysely', 'kyselykerta'].indexOf(tulos.parametrit[0].tyyppi) !== -1" ng-bind="'raportti.nimi.' + tulos.parametrit[0].tyyppi | i18n"></span>
      <span ng-if="['vertailu', 'kehitys', 'kehitys-ketjutettu', 'koulutustoimijat', 'kysely', 'kyselykerta'].indexOf(tulos.parametrit[0].tyyppi) === -1" ng-bind="'kysely.raportti_otsikko' | i18n"></span>
  </h1>
  <tulosta-raportti></tulosta-raportti>
</div>

<div class="raportti-tiedot">
  <div ng-show="kieli==='fi'" ng-include="'template/raportti/raportti-info-fi.html'"></div>
  <div ng-show="kieli==='sv'" ng-include="'template/raportti/raportti-info-sv.html'"></div>
</div>

<h2 class="visible-print">{{'raportti.rajaus_taustakysymyksilla' | i18n}}</h2>

<div class="raportti-tiedot visible-print">
  <div ng-repeat="kysymys in taustakysymysryhma.kysymykset" ng-if="taustakysymysValittu(kysymys.kysymysid)">
    {{kysymys.jarjestys}}. {{kysymys | lokalisoiKentta:'kysymys'}}
    <ul>
      <li ng-repeat="vaihtoehto in kysymys.monivalintavaihtoehdot" ng-if="vaihtoehtoValittu(kysymys.kysymysid, vaihtoehto.jarjestys)">
        {{vaihtoehto | lokalisoiKentta:'teksti'}}
      </li>
    </ul>
  </div>
</div>

<div class="raportti-tiedot" ng-if="tulos">
  <div>
    <h2>{{tulos | lokalisoiKentta:'nimi'}}</h2>
  </div>

  <div ng-show="tulos.yhteenveto.kysely_fi">
    {{'yleiset.kysely' | i18n }}: <b>{{tulos.yhteenveto | lokalisoiKentta:'kysely'}}</b>
  </div>
  <div ng-show="tulos.yhteenveto.kyselykerta">
    {{'yleiset.kyselykerta' | i18n }}: <b class="e2e-yhteenveto-kyselykerta">{{tulos.yhteenveto.kyselykerta}}</b>
  </div>
  <div class="hidden-print" ng-show="tulos.luontipvm">
    {{'raportti.raportin_luontipaiva' | i18n }}: <b class="e2e-luontipvm">{{tulos.luontipvm | date: 'dd.MM.yyyy HH:mm'}}</b>
  </div>
  <div ng-show="tulos.parametrit.vertailujakso_alkupvm || tulos.parametrit.vertailujakso_loppupvm">
    <span ng-show="raportti.tyyppi=='kyselykerta' || raportti.tyyppi=='kysely'">{{'raportit.raportin_aikajakso' | i18n }}:</span>
    <span ng-show="raportti.tyyppi!='kyselykerta' && raportti.tyyppi!='kysely' ">{{'raportti.raportin_vertailujakso' | i18n }}:</span>
    <b>{{tulos.parametrit.vertailujakso_alkupvm | date: 'dd.MM.yyyy'}} - {{tulos.parametrit.vertailujakso_loppupvm | date: 'dd.MM.yyyy'}}</b>
  </div>

  <div ng-if="tulos.yhteenveto">
    <hr class="hidden-print">
    <div ng-repeat="koulutustoimija in tulos.yhteenveto.koulutustoimijat">
      <div>
        <h3>{{'raportti.koulutuksen_jarjestaja' | i18n}}: <span>{{koulutustoimija | lokalisoiKentta:'koulutustoimija'}}</span></h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>{{'yleiset.tutkinto' | i18n}}</th>
            <th>{{'yleiset.vastaajia' | i18n}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tutkinto in koulutustoimija.tutkinnot">
            <td ng-if="tutkinto.tutkintotunnus">{{tutkinto.tutkintotunnus}}, {{tutkinto | lokalisoiKentta:'nimi'}}</td>
            <td ng-if="!tutkinto.tutkintotunnus">{{'raportti.ei_tutkintotietoa' | i18n}}</td>
            <td>{{tutkinto.vastaajien_lukumaara}}</td>
          </tr>
          <tr>
            <td>{{'raportti.yhteensa' | i18n }}</td>
            <td>{{koulutustoimija.vastaajien_lukumaara}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<table class="report-table">
    <thead>
        <tr>
            <th></th>
            <th ng-repeat="i in raporttiIndeksit(tulos.vastaajien_lukumaara)">{{ tulos.nimet[i] | lokalisoiKentta:'nimi' }}</th>
        </tr>
    </thead>
    <tfoot style="text-align: center">
        <tr>
            <td>{{'raportti.kokonaismaara' | i18n }}</td>
            <td ng-repeat="i in raporttiIndeksit(tulos.vastaajien_lukumaara)">{{ tulos.vastaajien_lukumaara[i] }}</td>
        </tr>
        <tr>
            <td>{{'raportti.kohderyhman_koko' | i18n }}</td>
            <td ng-repeat="i in raporttiIndeksit(tulos.vastaajien_lukumaara)">{{ tulos.vastaajien_maksimimaara[i] }}</td>
        </tr>
        <tr>
            <td>{{'raportti.vastausprosentti' | i18n }}</td>
            <td ng-repeat="i in raporttiIndeksit(tulos.vastaajien_lukumaara)">{{ prosenttiosuus(tulos.vastaajien_lukumaara[i], tulos.vastaajien_maksimimaara[i]) }} %</td>
        </tr>
        <tr>
            <td>{{'raportti.raportin_vertailujakso' | i18n }}</td>
            <td ng-repeat="i in raporttiIndeksit(tulos.vastaajien_lukumaara)">{{ tulos.parametrit[i].vertailujakso_alkupvm |voimassaoloAika:tulos.parametrit[i].vertailujakso_loppupvm }}</td>
        </tr>
    </tfoot>
</table>

<div ng-repeat="kysymysryhma in tulos.raportti" class="kysymysryhma">
  <h2>{{kysymysryhma | lokalisoiKentta:'nimi'}}</h2>

  <table class="report-table">
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="i in raporttiIndeksit(kysymysryhma.vastaajien_lukumaara)">{{ tulos.nimet[i] | lokalisoiKentta:'nimi' }}</th>
      </tr>
    </thead>
    <tfoot style="text-align: center">
      <tr>
        <td>{{'raportti.vastaajien_maara' | i18n }}</td>
        <td ng-repeat="i in raporttiIndeksit(kysymysryhma.vastaajien_lukumaara)">{{ kysymysryhma.vastaajien_lukumaara[i] }}/{{ kysymysryhma.vastaajien_maksimimaara[i] }}</td>
      </tr>
      <tr>
        <td>{{'raportti.vastausprosentti' | i18n }}</td>
        <td ng-repeat="i in raporttiIndeksit(kysymysryhma.vastaajien_lukumaara)">{{ prosenttiosuus(kysymysryhma.vastaajien_lukumaara[i], kysymysryhma.vastaajien_maksimimaara[i]) }}%</td>
      </tr>
    </tfoot>
  </table>

  <div ng-repeat="kysymys in kysymysryhma.kysymykset" class="kysymys e2e-kysymysryhma-kysymykset-repeat">
    <h3 class="e2e-kysymys-otsikko">{{kysymys.jarjestys}}. {{kysymys | lokalisoiKentta:'kysymys'}}</h3>

    <jakauma-kaavio ng-class="{ 'hidden-print': !printgraphs }"
      ng-if="kysymys.vastaustyyppi === 'kylla_ei_valinta' || kysymys.vastaustyyppi === 'monivalinta'"
      jakauma="kysymys.jakauma" vastaustyyppi="kysymys.vastaustyyppi" nimet="tulos.nimet">
    </jakauma-kaavio>

    <vaittama-kaavio ng-class="{ 'hidden-print': !printgraphs }"
      ng-if="kysymys.vastaustyyppi === 'likert_asteikko' || kysymys.vastaustyyppi === 'arvosana' || kysymys.vastaustyyppi === 'arvosana7' || kysymys.vastaustyyppi === 'nps-indeksi' || kysymys.vastaustyyppi === 'asteikko5_1'"
      jakauma="kysymys.jakauma" vastaustyyppi="kysymys.vastaustyyppi" nimet="tulos.nimet"
      eos="kysymys.eos_vastaus_sallittu">
    </vaittama-kaavio>

	<jakauma kysymys="kysymys" kysymysryhma="kysymysryhma" nimet="tulos.nimet"
	         ng-if="kysymys.vastaustyyppi && kysymys.vastaustyyppi !== 'vapaateksti'">
	</jakauma>

    <!--<div class="jatkokysymykset" ng-if="kysymys.jatkovastaukset">-->
      <!--<h3>{{$index + 1}}.1 {{i18n.raportit.jatkokysymykset}}</h3>-->
      <!--<div class="kylla-jatkokysymys" ng-if="kysymys.jatkovastaukset.kylla">-->
        <!--<h4>{{kysymys.jatkovastaukset.kylla | lokalisoiKentta:'kysymys'}}</h4>-->
        <!--<vaittama-kaavio ng-class="{ 'hidden-print': !printgraphs }"-->
          <!--ng-if="kysymys.jatkovastaukset.kylla.vastaustyyppi === 'likert_asteikko'"-->
          <!--jakauma="kysymys.jatkovastaukset.kylla.jakauma"-->
          <!--vastaustyyppi="kysymys.jatkovastaukset.kylla.vastaustyyppi"-->
          <!--nimet="tulos.nimet">-->
        <!--</vaittama-kaavio>-->
        <!--<jakauma kysymys="kysymys.jatkovastaukset.kylla" kysymysryhma="kysymysryhma" nimet="tulos.nimet"></jakauma>-->
      <!--</div>-->
      <!--<div class="ei-jatkokysymys" ng-if="kysymys.jatkovastaukset.ei">-->
        <!--<h4>{{kysymys.jatkovastaukset.ei | lokalisoiKentta:'kysymys'}}</h4>-->
        <!--<div ng-if="!printfreetext" class="visible-print">({{'raportti.ei_tulostettu' | i18n}})</div>-->
        <!--<table ng-repeat="i in raporttiIndeksit(kysymys.vastaajien_lukumaara)"-->
               <!--class="report-table" -->
               <!--ng-class="{ 'hidden-print': !printfreetext}">-->
          <!--<thead>-->
            <!--<tr><th>{{'raportti.vastaukset' |i18n}}: {{ tulos.nimet[i] | lokalisoiKentta:'nimi' }}</th></tr>-->
          <!--</thead>-->
          <!--<tbody>-->
            <!--<tr ng-repeat="vastaus in kysymys.jatkovastaukset.ei.vapaatekstivastaukset">-->
              <!--<td><span class="whitespace">{{vastaus.teksti[i]}}</span></td>-->
            <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
    <!--</div>-->

    <div ng-if="kysymys.vastaustyyppi === 'vapaateksti' && !printfreetext" class="visible-print">({{'raportti.ei_tulostettu' | i18n }})</div>

    <table ng-repeat="i in raporttiIndeksit(kysymys.vastaajien_lukumaara)"
      ng-class="{ 'hidden-print': !printfreetext }"
      class="report-table"
      ng-show="kysymys.vastaustyyppi === 'vapaateksti'">
      <thead>
        <tr><th>{{'raportti.vastaukset' |i18n}}: {{ tulos.nimet[i] | lokalisoiKentta:'nimi' }}</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="vastaus in kysymys.vapaatekstivastaukset" class="e2e-kysymys-vapaatekstivastaukset-repeat">
          <td><span class="whitespace">{{vastaus.teksti[i]}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div ng-show="tulos" class="hidden-print print-header">
  <tulosta-raportti></tulosta-raportti>
</div>