<div ng-controller="RaporttiController">
<div class="alert alert-danger" ng-if="tulos.virhe">
  {{'raportit.liian_vahan_vastaajia' | i18n}}
</div>

<div class="hidden-print" ng-show="tulokset.length > 1">
  <button ng-click="naytaRaportti(raportti)" ng-repeat="raportti in tulokset">{{ raportti | lokalisoiKentta:'nimi' }}</button>
</div>

<div class="visible-print" ng-if="tulos">
  <h2 ng-if="tulos.kyselykerta">{{tulos.kyselykerta.nimi}}</h2>
</div>

<div ng-show="tulos" class="hidden-print print-header">
  <h1>{{ 'kysely.raportti_otsikko' | i18n }}</h1>
  <div class="clearfix">
    <button class="btn btn-primary" onclick="window.print()">{{ 'kysely.raportti_tulosta' | i18n }}&nbsp;<span class="fa fa-print"></span></button>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="printgraphs">&nbsp;{{ 'kysely.raportti_tulosta_graafit' | i18n }}
      </label><br />
      <label>
        <input type="checkbox" ng-model="printfreetext">&nbsp;{{ 'kysely.raportti_tulosta_vapaatekstivastaukset' | i18n }}
      </label>
    </div>
  </div>
</div>

<div class="raportti-kyselykerta-tiedot" ng-if="tulos">
  <div>
    <h2>{{tulos | lokalisoiKentta:'nimi'}}</h2>
  </div>
  <div ng-show="tulos.yhteenveto.kysely_fi">
    {{'yleiset.kysely' | i18n }}: <b>{{tulos.yhteenveto | lokalisoiKentta:'kysely'}}</b>
  </div>
  <div ng-show="tulos.yhteenveto.kyselykerta">
    {{'yleiset.kyselykerta' | i18n }}: <b class="e2e-yhteenveto-kyselykerta">{{tulos.yhteenveto.kyselykerta}}</b>
  </div>
  <div ng-show="tulos.vastaajien_maksimimaara">
    {{'raportti.kohderyhman_koko' | i18n }}: <b>{{tulos.vastaajien_maksimimaara}}</b>
  </div>
  <div ng-show="tulos.vastaajien_lukumaara">
    {{'raportti.kokonaismaara' | i18n }}: <b>{{tulos.vastaajien_lukumaara}}</b>
  </div>
  <div ng-show="tulos.vastaajien_maksimimaara && tulos.vastaajien_lukumaara">
    {{'raportti.vastausprosentti' | i18n }}: <b>{{(tulos.vastaajien_lukumaara / tulos.vastaajien_maksimimaara) *100 | number:0}}%</b>
  </div>
  <div class="hidden-print" ng-show="tulos.luontipvm">
    {{'raportti.raportin_luontipaiva' | i18n }}: <b class="e2e-luontipvm">{{tulos.luontipvm | date: 'dd.MM.yyyy'}}</b>
  </div>
  <div ng-show="tulos.parametrit.vertailujakso_alkupvm || tulos.parametrit.vertailujakso_loppupvm">
    <span ng-show="raportti.tyyppi=='kyselykerta' || raportti.tyyppi=='kysely'">{{'raportit.raportin_aikajakso' | i18n }}:</span>
    <span ng-show="raportti.tyyppi!='kyselykerta' && raportti.tyyppi!='kysely' ">{{'raportti.raportin_vertailujakso' | i18n }}:</span>
    <b>{{tulos.parametrit.vertailujakso_alkupvm | date: 'dd.MM.yyyy'}} - {{tulos.parametrit.vertailujakso_loppupvm | date: 'dd.MM.yyyy'}}</b>
  </div>

  <div ng-if="tulos.yhteenveto">
    <hr class="hidden-print">
    <div ng-repeat="koulutustoimija in tulos.yhteenveto.koulutustoimijat">
      <div>
        <h3>{{'raportti.koulutuksen_jarjestaja' | i18n}}: <span>{{koulutustoimija | lokalisoiKentta:'koulutustoimija'}}</span></h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>{{'yleiset.tutkinto' | i18n}}</th>
            <th>{{'yleiset.vastaajia' | i18n}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tutkinto in koulutustoimija.tutkinnot">
            <td ng-if="tutkinto.tutkintotunnus">{{tutkinto.tutkintotunnus}}, {{tutkinto | lokalisoiKentta:'nimi'}}</td>
            <td ng-if="!tutkinto.tutkintotunnus">{{'raportti.ei_tutkintotietoa' | i18n}}</td>
            <td>{{tutkinto.vastaajien_lkm}}</td>
          </tr>
          <tr>
            <td>{{'raportti.yhteensa' | i18n }}</td>
            <td>{{koulutustoimija.vastaajat_yhteensa}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div ng-repeat="kysymysryhma in tulos.raportti" class="kysymysryhma">
  <h2>{{kysymysryhma | lokalisoiKentta:'nimi'}}</h2>
  <p>
    {{'raportti.vastaajien_maara' | i18n }}: {{kysymysryhma.vastaajien_lukumaara}}/{{kysymysryhma.vastaajien_maksimimaara}}
    {{'raportti.vastausprosentti' | i18n }}: {{prosenttiosuus(kysymysryhma.vastaajien_lukumaara, kysymysryhma.vastaajien_maksimimaara)}}%
  </p>

  <div ng-repeat="kysymys in kysymysryhma.kysymykset" class="kysymys e2e-kysymysryhma-kysymykset-repeat">
    <h3 class="e2e-kysymys-otsikko">{{kysymys.jarjestys}}. {{kysymys | lokalisoiKentta:'kysymys'}}</h3>
    <span>
      {{'raportti.vastaajien_maara' | i18n }}: {{kysymys.vastaajien_lukumaara}}/{{kysymysryhma.vastaajien_maksimimaara}}
      {{'raportti.vastausprosentti' | i18n }}: {{prosenttiosuus(kysymys.vastaajien_lukumaara, kysymysryhma.vastaajien_maksimimaara)}}%
      <br />
    </span>

    <jakauma-kaavio ng-class="{ 'hidden-print': !printgraphs }"
      ng-if="kysymys.vastaustyyppi === 'kylla_ei_valinta' || kysymys.vastaustyyppi === 'monivalinta'"
      jakauma="kysymys.jakauma" vastaustyyppi="kysymys.vastaustyyppi">
    </jakauma-kaavio>

    <vaittama-kaavio ng-class="{ 'hidden-print': !printgraphs }"
      ng-if="kysymys.vastaustyyppi === 'asteikko' || kysymys.vastaustyyppi === 'likert_asteikko' || kysymys.vastaustyyppi === 'arvosana'"
      jakauma="kysymys.jakauma" vastaustyyppi="kysymys.vastaustyyppi" eos="kysymys.eos_vastaus_sallittu">
    </vaittama-kaavio>

    <table class="report-table" ng-if="kysymys.vastaustyyppi && kysymys.vastaustyyppi !== 'vapaateksti'">
      <thead ng-class="{ 'hidden-print': !printgraphs }">
        <tr>
          <th class="report-table-question">{{kysymys | lokalisoiKentta:'kysymys'}}</th>
          <th class="report-table-percentage-field">Vast%</th>
          <th class="report-table-amount-header">n={{lukumaaratYhteensa(kysymys.jakauma)}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alkio in kysymys.jakauma">
          <td class="e2e-vaihtoehto" ng-if="kysymys.vastaustyyppi !== 'monivalinta'">{{'kysymys.' + kysymys.vastaustyyppi + '.' + alkio['vaihtoehto-avain'] | i18n}}</td>
          <td class="e2e-vaihtoehto" ng-if="kysymys.vastaustyyppi === 'monivalinta'">
            <span ng-if="alkio.jarjestys === 'eos'">{{'kysymys.monivalinta.eos' | i18n}}</span>
            <span ng-if="alkio.jarjestys !== 'eos'">{{alkio | lokalisoiKentta:'vaihtoehto' }}</span>
          </td>
          <td class="report-table-percentage-field e2e-osuus">{{alkio.osuus}}%</td>
          <td class="report-table-amount-field e2e-vastausten-lukumaara">{{alkio.lukumaara}}</td>
        </tr>
      </tbody>
    </table>

    <div ng-show="kysymys.keskiarvo !== undefined && kysymys.keskihajonta !== undefined">
      Keskiarvo: {{ kysymys.keskiarvo | number:2 }}
      Keskihajonta: {{ kysymys.keskihajonta | number:2 }}
    </div>

    <div class="jatkokysymykset" ng-if="kysymys.jatkovastaukset">
      <h3>{{$index + 1}}. {{i18n.raportit.jatkokysymykset}}</h3>
      <div class="kylla-jatkokysymys" ng-if="kysymys.jatkovastaukset.kylla">
        <h4>{{kysymys.jatkovastaukset.kylla | lokalisoiKentta:'kysymys'}}</h4>
        <vaittama-kaavio ng-class="{ 'hidden-print': !printgraphs }" jakauma="kysymys.jatkovastaukset.kylla.jakauma" vastaustyyppi="kysymys.jatkovastaukset.kylla.vastaustyyppi">
        </vaittama-kaavio>
      </div>
      <div class="ei-jatkokysymys" ng-if="kysymys.jatkovastaukset.ei">
        <h4>{{kysymys.jatkovastaukset.ei | lokalisoiKentta:'kysymys'}}</h4>
        <table class="report-table">
          <thead>
            <tr><th>{{'raportti.vastaukset' |i18n}}:</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="vastaus in kysymys.jatkovastaukset.ei.vapaatekstivastaukset">
              <td><span class="whitespace">{{vastaus.teksti}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-if="kysymys.vastaustyyppi === 'vapaateksti' && !printfreetext" class="visible-print">({{'raportti.ei_tulostettu' | i18n }})</div>

    <table ng-class="{ 'hidden-print': !printfreetext }" class="report-table" ng-show="kysymys.vastaustyyppi === 'vapaateksti'">
      <thead>
        <tr><th>{{'raportti.vastaukset' |i18n}}:</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="vastaus in kysymys.vapaatekstivastaukset" class="e2e-kysymys-vapaatekstivastaukset-repeat">
          <td><span class="whitespace">{{vastaus.teksti}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
