<svg class="vaittama-kaavio"
  ng-attr-width="{{viivastonLeveys(eos_vastaus_sallittu) + 100}}" ng-attr-height="{{asetukset.palkinMaksimiPituus + 80}}">

  <g transform="translate(50, 20)">
    <line ng-repeat="osa in [0, 0.2, 0.4, 0.6, 0.8, 1.0]"
      class="vaittama-kaavio-viiva"
      ng-attr-x1="{{0}}"
      ng-attr-y1="{{asetukset.palkinMaksimiPituus * (1 - osa)}}"
      ng-attr-x2="{{viivastonLeveys(eos_vastaus_sallittu)}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus * (1 - osa)}}" />
    <line class="vaittama-kaavio-viiva"
      ng-attr-x1="{{0}}"
      ng-attr-y1="{{0}}"
      ng-attr-x2="{{0}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus}}" />
    <line class="vaittama-kaavio-viiva"
      ng-attr-x1="{{viivastonLeveys(eos_vastaus_sallittu)}}"
      ng-attr-y1="{{0}}"
      ng-attr-x2="{{viivastonLeveys(eos_vastaus_sallittu)}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus}}" />

    <text ng-repeat="otsikko in otsikot"
      class="vaittama-kaavio-viivan-otsikko"
      ng-attr-x="{{-10}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus * (1 - otsikko.x) + 5}}">
      {{otsikko.teksti}}
    </text>
    <text class="vaittama-kaavio-yhteensa"
      ng-attr-x="{{viivastonLeveys(eos_vastaus_sallittu) + 10}}"
      ng-attr-y="{{5}}">
      ({{lukumaaratYhteensa(jakauma)}})
    </text>
    <text ng-repeat-start="data in jakauma"
      class="vaittama-kaavio-vaihtoehto"
      ng-attr-x="{{asetukset.palkinLeveys * (3*$index + 1.5)}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus + 20}}"
      text-anchor="middle">
      <tspan ng-repeat="osa in jaaTeksti(data)"
        ng-attr-x="{{asetukset.palkinLeveys * (3*$parent.$index + 1.5)}}"
        ng-attr-dy="{{ $first ? '0' : '1em'}}" >
        {{osa}}
      </tspan>
    </text>

    <rect ng-attr-width="{{asetukset.palkinLeveys}}"
      ng-attr-height="{{palkinPituus(data.lukumaara, jakauma)}}"
      ng-attr-x="{{asetukset.palkinLeveys * (3*$index + 1)}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus - palkinPituus(data.lukumaara, jakauma)}}"
      ng-attr-fill="{{palkinVari($index)}}" />
    <text ng-repeat-end
      class="vaittama-kaavio-palkin-arvo"
      ng-attr-x="{{asetukset.palkinLeveys * (3*$index + 1.5)}}"
      ng-attr-y="{{(asetukset.palkinMaksimiPituus - palkinPituus(data.lukumaara, jakauma)) - 10}}">
      {{data.osuus}}% ({{data.lukumaara}})
    </text>
  </g>
</svg>
