<svg class="vaittama-kaavio"
  ng-attr-width="{{asetukset.viivastonLeveys + 350}}" ng-attr-height="{{asetukset.palkinMaksimiPituus + 80}}">

  <g transform="translate(50, 20)">
    <line ng-repeat="osa in [0, 0.2, 0.4, 0.6, 0.8, 1.0]"
      class="vaittama-kaavio-viiva"
      ng-attr-x1="{{0}}"
      ng-attr-y1="{{asetukset.palkinMaksimiPituus * (1 - osa)}}"
      ng-attr-x2="{{asetukset.viivastonLeveys}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus * (1 - osa)}}" />
    <line class="vaittama-kaavio-viiva"
      ng-attr-x1="{{0}}"
      ng-attr-y1="{{0}}"
      ng-attr-x2="{{0}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus}}" />
    <line class="vaittama-kaavio-viiva"
      ng-attr-x1="{{asetukset.viivastonLeveys}}"
      ng-attr-y1="{{0}}"
      ng-attr-x2="{{asetukset.viivastonLeveys}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus}}" />

    <text ng-repeat="otsikko in otsikot"
      class="vaittama-kaavio-viivan-otsikko"
      ng-attr-x="{{-10}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus * (1 - otsikko.x) + 5}}">
      {{otsikko.teksti}}
    </text>
    <text ng-repeat-start="data in jakauma"
      class="vaittama-kaavio-vaihtoehto"
      ng-init="outerIndex = $index"
      ng-attr-x="{{paikkaPalkistonSuhteen(outerIndex + 0.5, 0, 0)}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus + 20}}"
      text-anchor="middle">
      <tspan ng-repeat="osa in jaaTeksti(data)"
        ng-attr-x="{{paikkaPalkistonSuhteen(outerIndex + 0.5, 0, 0)}}"
        ng-attr-dy="{{ $first ? '0' : '1em'}}" >
        {{osa}}
      </tspan>
    </text>

    <rect ng-repeat="i in raporttiIndeksit(data.osuus)"
      ng-attr-width="{{asetukset.palkinLeveys}}"
      ng-attr-height="{{palkinPituus(data.osuus[i])}}"
      ng-attr-x="{{paikkaPalkistonSuhteen(outerIndex, i, 1)}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus - palkinPituus(data.osuus[i])}}"
      ng-attr-fill="{{palkinVari(i)}}" />
    <text ng-repeat="i in raporttiIndeksit(data.osuus)"
      class="vaittama-kaavio-palkin-arvo"
      ng-attr-x="{{paikkaPalkistonSuhteen(outerIndex, i, 1.5)}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus - palkinPituus(data.osuus[i]) - 20}}"
      ng-repeat-end>
      <tspan ng-attr-x="{{paikkaPalkistonSuhteen(outerIndex, i, 1.5)}}">{{data.osuus[i]}}%</tspan>
      <tspan ng-attr-x="{{paikkaPalkistonSuhteen(outerIndex, i, 1.5)}}" dy="1em">({{data.lukumaara[i]}})</tspan>
    </text>

    <rect ng-repeat-start="raportoitava in nimet"
      ng-attr-width="{{asetukset.palkinLeveys}}"
      ng-attr-height="{{asetukset.palkinLeveys}}"
      ng-attr-x="{{asetukset.viivastonLeveys + 75}}"
      ng-attr-y="{{1.2*asetukset.palkinLeveys*($index + 1)}}"
      ng-attr-fill="{{palkinVari($index)}}">
    </rect>
    <text
      ng-attr-x="{{asetukset.viivastonLeveys + 75 + 1.2*asetukset.palkinLeveys}}"
      ng-attr-y="{{1.2*asetukset.palkinLeveys*($index + 1.5)}}"
      ng-repeat-end>
      {{ raportoitava | lokalisoiKentta:'nimi' }}
    </text>
  </g>
</svg>
