<section>
    <h3>{{i18n.kysymys.jatkokysymys}}</h3>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="aktiivinenKysymys.jatkokysymykset.kylla.jatkokysymys"> {{i18n.kysymys.jatkokysymys_kylla_vastaukselle}}
        </label>
    </div>

    <div ng-if="aktiivinenKysymys.jatkokysymykset.kylla.jatkokysymys">
        <div class="panel well">
            <kysymys-tekstit kysymys="aktiivinenKysymys.jatkokysymykset.kylla" kentta="kysymys"></kysymys-tekstit>

            <label>{{i18n.kysymys.vastauksen_maksimipituus}}
                <select ng-model="aktiivinenKysymys.jatkokysymykset.kylla.max_vastaus"
                        ng-options="max for max in vapaateksti_maksimit" class="form-control" ng-show="vapaateksti_maksimit.length > 0">
                </select>
            </label>
            <label>{{i18n.kysymys.vapaateksti.rajoite.otsikko}}
                <select ng-model="aktiivinenKysymys.jatkokysymykset.kylla.rajoite" class="form-control" ng-options="'kysymys.vapaateksti.rajoite.' + rajoite | i18n for rajoite in vapaateksti_rajoitteet">
                </select>
            </label>
        </div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="aktiivinenKysymys.jatkokysymykset.ei.jatkokysymys"> {{i18n.kysymys.jatkokysymys_ei_vastaukselle}}
        </label>
    </div>

    <div ng-if="aktiivinenKysymys.jatkokysymykset.ei.jatkokysymys">
        <div class="panel well">
            <kysymys-tekstit kysymys="aktiivinenKysymys.jatkokysymykset.ei" kentta="kysymys"></kysymys-tekstit>

            <label>{{i18n.kysymys.vastauksen_maksimipituus}}
                <select ng-model="aktiivinenKysymys.jatkokysymykset.ei.max_vastaus"
                        ng-options="max for max in vapaateksti_maksimit" class="form-control" ng-show="vapaateksti_maksimit.length > 0">
                </select>
            </label>
            <label>{{i18n.kysymys.vapaateksti.rajoite.otsikko}}
                <select ng-model="aktiivinenKysymys.jatkokysymykset.ei.rajoite" class="form-control" ng-options="'kysymys.vapaateksti.rajoite.' + rajoite | i18n for rajoite in vapaateksti_rajoitteet">
                </select>
            </label>
        </div>
    </div>
</section>
