<section>
    <h3>{{i18n.kysymys.jatkokysymys}}</h3>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="aktiivinenKysymys.jatkokysymys.kylla_jatkokysymys"> {{i18n.kysymys.jatkokysymys_kylla_vastaukselle}}
        </label>
    </div>
    <div ng-show="aktiivinenKysymys.jatkokysymys.kylla_jatkokysymys">
      <div class="panel well">
          <div class="form-group">
            <label ng-class="{pakollinen: !aktiivinenKysymys.jatkokysymys.kylla_teksti_sv}"><span>{{i18n.kysymys.kysymys_suomeksi}}</span>
                <input type="text" class="form-control" ng-model="aktiivinenKysymys.jatkokysymys.kylla_teksti_fi" size="80" maxlength="200" ng-required="aktiivinenKysymys.jatkokysymys.kylla_jatkokysymys && !aktiivinenKysymys.jatkokysymys.kylla_teksti_sv"/>
            </label>
          </div>

          <div class="form-group">
              <label ng-class="{pakollinen: !aktiivinenKysymys.jatkokysymys.kylla_teksti_fi}"><span>{{i18n.kysymys.kysymys_ruotsiksi}}</span>
                  <input type="text" class="form-control" ng-model="aktiivinenKysymys.jatkokysymys.kylla_teksti_sv" size="80" maxlength="200" ng-required="aktiivinenKysymys.jatkokysymys.kylla_jatkokysymys && !aktiivinenKysymys.jatkokysymys.kylla_teksti_fi"/>
              </label>
          </div>

            <strong>{{i18n.kysymys.naytettava_asteikko}}</strong><br />
            {{i18n.kysymys.likert_asteikko_valinnat}}
        </div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="aktiivinenKysymys.jatkokysymys.ei_jatkokysymys"> {{i18n.kysymys.jatkokysymys_ei_vastaukselle}}
        </label>
    </div>
    <div ng-show="aktiivinenKysymys.jatkokysymys.ei_jatkokysymys">
        <div class="panel well">
            <div class="form-group">
                <label ng-class="{pakollinen: !aktiivinenKysymys.jatkokysymys.ei_teksti_sv}"><span>{{i18n.kysymys.kysymys_suomeksi}}</span>
                    <input type="text" class="form-control" ng-model="aktiivinenKysymys.jatkokysymys.ei_teksti_fi" size="80" maxlength="200" ng-required="aktiivinenKysymys.jatkokysymys.ei_jatkokysymys && !aktiivinenKysymys.jatkokysymys.ei_teksti_sv"/>
                </label>
            </div>

            <div class="form-group">
                <label ng-class="{pakollinen: !aktiivinenKysymys.jatkokysymys.ei_teksti_fi}"><span>{{i18n.kysymys.kysymys_ruotsiksi}}</span>
                    <input type="text" class="form-control" ng-model="aktiivinenKysymys.jatkokysymys.ei_teksti_sv" size="80" maxlength="200" ng-required="aktiivinenKysymys.jatkokysymys.ei_jatkokysymys && !aktiivinenKysymys.jatkokysymys.ei_teksti_fi"/>
                </label>
            </div>

            <label>{{i18n.kysymys.vastauksen_maksimipituus}}
                <select ng-model="aktiivinenKysymys.jatkokysymys.max_vastaus"
                        ng-options="max for max in vapaateksti_maksimit" class="form-control" ng-show="vapaateksti_maksimit.length > 0">
                </select>
            </label>
        </div>
    </div>
</section>
