<section>
    <h3>{{i18n.kysymys.jatkokysymys}}</h3>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="aktiivinenKysymys.jatkokysymys.kylla_jatkokysymys"> {{i18n.kysymys.jatkokysymys_kylla_vastaukselle}}
        </label>
    </div>
    <div ng-if="aktiivinenKysymys.jatkokysymys.kylla_jatkokysymys">
      <div class="panel well">
          <kysymys-tekstit kysymys="aktiivinenKysymys.jatkokysymys" kentta="kylla_teksti"></kysymys-tekstit>

            <strong>{{i18n.kysymys.naytettava_asteikko}}</strong><br />
            {{i18n.kysymys.likert_asteikko_valinnat}}
        </div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="aktiivinenKysymys.jatkokysymys.ei_jatkokysymys"> {{i18n.kysymys.jatkokysymys_ei_vastaukselle}}
        </label>
    </div>
    <div ng-if="aktiivinenKysymys.jatkokysymys.ei_jatkokysymys">
        <div class="panel well">
            <kysymys-tekstit kysymys="aktiivinenKysymys.jatkokysymys" kentta="ei_teksti"></kysymys-tekstit>

            <label>{{i18n.kysymys.vastauksen_maksimipituus}}
                <select ng-model="aktiivinenKysymys.jatkokysymys.max_vastaus"
                        ng-options="max for max in vapaateksti_maksimit" class="form-control" ng-show="vapaateksti_maksimit.length > 0">
                </select>
            </label>
        </div>
    </div>
</section>
