<div class="form-group">
    <label>{{i18n.kysymys.valintojen_maksimimaara}}
        <select class="form-control" ng-model="aktiivinenKysymys.monivalinta_max" ng-options="max for max in [] | numerot:aktiivinenKysymys.monivalintavaihtoehdot.length" ng-show="aktiivinenKysymys.monivalintavaihtoehdot.length > 0">
        </select>
    </label>
</div>

<section>
  <h3>Vaihtoehdot</h3>

  <ol class="monivalinnat">
    <li ng-repeat="vaihtoehto in aktiivinenKysymys.monivalintavaihtoehdot">
        <div class="well">
            <div class="form-group">
              <label ng-class="{pakollinen: !(vaihtoehto.teksti_en || vaihtoehto.teksti_sv)}"><span>{{i18n.yleiset.suomeksi}}</span>
                <input class="form-control" type="text" ng-model="vaihtoehto.teksti_fi" size="80" maxlength="200" ng-required="!(vaihtoehto.teksti_en || vaihtoehto.teksti_sv)"/>
              </label>

              <label ng-class="{pakollinen: !(vaihtoehto.teksti_en || vaihtoehto.teksti_fi)}"><span>{{i18n.yleiset.ruotsiksi}}</span>
                <input class="form-control" type="text" ng-model="vaihtoehto.teksti_sv" size="80" maxlength="200" ng-required="!(vaihtoehto.teksti_en || vaihtoehto.teksti_fi)"/>
              </label>

              <label ng-class="{pakollinen: !(vaihtoehto.teksti_fi || vaihtoehto.teksti_sv)}"><span>{{i18n.yleiset.englanniksi}}</span>
                <input class="form-control" type="text" ng-model="vaihtoehto.teksti_en" size="80" maxlength="200" ng-required="!(vaihtoehto.teksti_fi || vaihtoehto.teksti_sv)"/>
              </label>
              <button class="btn btn-icon delete" ng-show="aktiivinenKysymys.monivalintavaihtoehdot.length > 2" ng-click="poistaVaihtoehto(aktiivinenKysymys,$index)">
                  <span class="fa fa-close"></span>
              </button>
            </div>
        </div>
    </li>
  </ol>
    <button class="btn btn-primary" ng-if="asteikot.length > 0 && !latausNakyvissa" ng-click="naytaLataus(true)">Lataa asteikko</button>
    <div ng-if="latausNakyvissa">
        <select class="form-control" ng-model="valittuAsteikko" ng-options="asteikko.nimi for asteikko in asteikot" ></select>
        <button class="btn btn-primary" ng-click="lataaAsteikko(valittuAsteikko)">Lisää vaihtoehdot</button>
        <button class="btn btn-primary" ng-click="naytaLataus(false)">Sulje</button>
    </div>
    <div ng-if="tallennusNakyvissa">
        <label for="asteikonTallennus">Nimi</label>
        <input id="asteikonTallennus" type="text" ng-model="asteikonNimi">
        <button class="btn btn-primary" ng-click="tallennaAsteikko(asteikonNimi)">Tallenna</button>
        <button class="btn btn-primary" ng-click="naytaTallennus(false)">Sulje</button>
    </div>
    <button class="btn btn-primary" ng-if="!tallennusNakyvissa" ng-disabled="!asteikkoValidi()" ng-click="naytaTallennus(true)">Tallenna asteikko</button>
  <button class="btn btn-primary pull-right" ng-click="lisaaVaihtoehto(aktiivinenKysymys)">
    {{i18n.kysymys.lisaa_vaihtoehto}}
    <span class="fa fa-plus"></span>
  </button>
</section>
