<div class="form-group">
    <label>{{i18n.kysymys.valintojen_maksimimaara}}
        <select class="form-control" ng-model="aktiivinenKysymys.monivalinta_max" ng-options="max for max in [] | numerot:aktiivinenKysymys.monivalintavaihtoehdot.length" ng-show="aktiivinenKysymys.monivalintavaihtoehdot.length > 0">
        </select>
    </label>
</div>

<section>
  <h3>Vaihtoehdot</h3>

  <ol class="monivalinnat">
    <li ng-repeat="vaihtoehto in aktiivinenKysymys.monivalintavaihtoehdot">
        <div class="well">
            <div class="form-group">
              <label ng-class="{pakollinen: !vaihtoehto.teksti_sv}"><span>{{i18n.yleiset.suomeksi}}</span>
                <input class="form-control" type="text" ng-model="vaihtoehto.teksti_fi" size="80" maxlength="200" ng-required="!vaihtoehto.teksti_sv"/>
              </label>

              <label ng-class="{pakollinen: !vaihtoehto.teksti_fi}"><span>{{i18n.yleiset.ruotsiksi}}</span>
                <input class="form-control" type="text" ng-model="vaihtoehto.teksti_sv" size="80" maxlength="200" ng-required="!vaihtoehto.teksti_fi"/>
              </label>
              <button class="btn btn-icon delete" ng-show="aktiivinenKysymys.monivalintavaihtoehdot.length > 2" ng-click="poistaVaihtoehto(aktiivinenKysymys,$index)">
                  <span class="fa fa-close"></span>
              </button>
            </div>
        </div>
    </li>
  </ol>
  <button class="btn btn-primary pull-right" ng-click="lisaaVaihtoehto(aktiivinenKysymys)">
    {{i18n.kysymys.lisaa_vaihtoehto}}
    <span class="fa fa-plus"></span>
  </button>
</section>
