<div class="form-group">
    <label>{{i18n.kysymys.valintojen_maksimimaara}}
        <select class="form-control" ng-model="aktiivinenKysymys.monivalinta_max" ng-options="max for max in [] | numerot:aktiivinenKysymys.monivalintavaihtoehdot.length" ng-show="aktiivinenKysymys.monivalintavaihtoehdot.length > 0">
        </select>
    </label>
</div>

<section>
  <h3>Vaihtoehdot</h3>

  <ol class="monivalinnat">
    <li ng-repeat="vaihtoehto in aktiivinenKysymys.monivalintavaihtoehdot">
        <div class="well">
            <div class="form-group">
              <label>{{i18n.yleiset.suomeksi}}
                <input class="form-control" type="text" ng-model="vaihtoehto.teksti_fi" size="80" maxlength="200" required/>
              </label>

              <label>{{i18n.yleiset.ruotsiksi}}
                <input class="form-control" type="text" ng-model="vaihtoehto.teksti_sv" size="80" maxlength="200"/>
              </label>
                <button class="btn btn-icon delete" ng-show="aktiivinenKysymys.monivalintavaihtoehdot.length > 2" ng-click="poistaVaihtoehto(aktiivinenKysymys,$index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </li>
  </ol>
  <button class="btn btn-primary pull-right" ng-click="lisaaVaihtoehto(aktiivinenKysymys)">
    {{i18n.kysymys.lisaa_vaihtoehto}}
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</section>
