$application-max-width: 1200px;

/* kaikkiin elementteihin luonnollinen koon lasku */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background:#fff;
  height: 100%;
}

body { display:table; width: 100%; height: 100%;
  > div { display: table-row;}
  footer {display: table-row; height: 100%;}
}

#content {
  padding: 0 $marginS*2 $baseline $marginS*2;
  min-height: 400px;
}

.app-wrapper {
  max-width: $application-max-width;
  margin: 0 auto;
  padding: 0 $marginS;
}

.pull-right{
  float: right;
}
small {
  color: $gray-color;
}

.required-notice{
  overflow: auto;
  position: relative;
  a {
    cursor: pointer !important;
    font-size: .85714285714286em;
    display: block;
    padding: 0em 1em;
    &:hover{
      background-color: $lighter-primary;
      color: #ffffff;
      text-decoration: none;
    }
    &:before{
      content: "- ";
    }
  }
  div div {
    height: auto;
  }
  background-color: $lightest-gray;
  padding: 1em;
  h4 {
    margin: 0px;
    border-bottom: 1px solid $primary-color;
    margin-bottom: .3em;
  }
}

.e2e-tallenna-vastaukset {
  margin-right: 0;
}
