footer .separator {margin: 0 10px;}

footer.copyright-footer, footer.dev-footer {
  @include border-box;

  color: #ffffff;
  a {color:$lighter-primary;}
  .app-wrapper {
    @include border-box;
  }
}

footer.disclaimer-footer{
  background-color: $darker-primary;
  .app-wrapper {
    color: #ffffff;
    background: url("../img/csc-logo-nega.png") right 10px center no-repeat;
    h4{
      margin: 0 0 10px 0;
      font-weight: normal;
      color: #ffffff;
    }
    p{
      font-size: .85em;
    }
    padding: 20px 10px 10px 10px;
  }
}

footer.copyright-footer {
  background-color: $darker-primary;
  .app-wrapper {
    padding-top: 75px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    font-size: .8em;
    color: $lighter-gray;
  }
}

footer.dev-footer { background-color: #1A1A1A;
  > div {min-height: 40px;}
  .app-wrapper {
    padding-top: 10px;
    color: $primary-action-text;
  }
}
