.main-nav {
  $nav-height: 40px;
  $separator-color: $lightest-primary;
  $font-color: $primary-action-text;
  background-color: $primary-color;
  min-height: $nav-height;
  font-size: 1em;
  a {
    display: inline-block;
    text-decoration: none;
    color: $font-color!important;
    text-transform:uppercase;
    font-weight: 600;
  }
  ul {
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      border-right: 1px solid $separator-color;
      float: left;
      height: $nav-height;
      display: table;
      &:hover, &.active {background-color: $darker-primary;}
      &:first-child {border-left: 1px solid $separator-color;}
      a,span {
        display: table-cell;
        vertical-align: middle;
        text-transform:uppercase;
        padding: 0 $marginM;
      }
      span {
        cursor: default;
      }
    }
  }
  .kielen-vaihto {
    float: right;
    li.valittu {
      &:hover {background-color: transparent;}
      span {color: $darkest-primary;}
    }
  }
}

h1.title{
  margin: 0 0 0 10px;
  border-left: 1px solid $lightest-primary;
  line-height: 40px;
  font-size: 14px;
  font-family: "Open Sans", "arial";
  a{
    font-weight: 200;
    padding-left: 15px;
  }
}

header {
  color: black;
  background-color: #e1e1e1;
  height: 160px;
  position: absolute;
  width: 100%;
  left: 0;

  .app-wrapper {
    background: #e1e1e1 url('../img/AITU-background.png') no-repeat left top;
    height: 100%;
  }

  .vertical-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: $marginM;
  }

  h1 {
    display: inline-block;
    font-size: 2.2em;
    font-weight: 800;
    font-family: $font-heading-light;
    margin: 0;
    vertical-align: middle;
  }
  .separator {
    position: relative;
    top: -5px;
    font-size: 4.2em;
    font-weight: 100;
    vertical-align: middle;
  }
}

.oph-logo {
  display: inline-block;
  height: 100%;
  width: 271px;
  float: right;
  margin-right: $marginM;
  background: transparent url('../img/opetushallitus.svg') 0 center no-repeat;
  .no-svg & {background-image: url('../img/opetushallitus.gif')}
  &.kiitos{
    float: none;
    height: 100px;
  }
}