.kyselykerta-selite {
  white-space: pre-line;
}

.jatkokysymys {
  padding-left: 30px;
}

.kysymys {
  border-bottom: 1px solid $lightest-gray;
  -webkit-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);;
  transition: all 700ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  padding: 1em;
  h3 {
    padding: 0;
    margin: 0;
    margin-top: .3em;
  }
  .vastaus_valinnat {
    padding-left: 0;
    label {
      padding: .1em .5em;
      margin: 0;
      &:hover {
        background-color: $lightest-gray;
        cursor: pointer;
      }
    }

    &.eos {
      margin-top: .8em;
    }

    &.arvosana{
      overflow: auto;
      label {
        font-size: 1.65em;
        line-height: 100%;
        background-color: $lightest-gray;
        float: left;
        border-radius: 50%;
        height: 2em;
        width: 2em;
        vertical-align: top;
        text-align: center;
        padding: .5em 0px 0px 0px !important;
        margin-right: .3em;
        color: $gray-color;
        position: relative;
        &.checked{
          background-color: $primary-color;
          color: white;
          &:hover{
            background-color: $primary-color !important;
            color: #ffffff;
          }
        }

        &:active{
          background-color: $primary-color !important;
        }

        &:hover {
          background-color: $lighter-gray !important;
          color: $darker-gray;
        }

        input {
          visibility: hidden;
          position: absolute;
          z-index: -100;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.kysymys.highlight{
  background-color: #FFBFD0;
}

.kysymysryhma {
  margin-top: 2em;
  .kysymys:last-child{
    border-bottom: 0;
  }
}

