{:luontipvm "2016-06-07T13:17:35.059Z",
 :raportti
 [{:kysymysryhmaid 3341885,
   :nimi_fi "Näyttötutkintojen taustakysymykset",
   :nimi_sv "Bakgrundsfrågor gällande fristående examina",
   :nimi_en nil,
   :vastaajien_maksimimaara [16],
   :kysymykset
   [{:jakauma
     [{:vaihtoehto_fi "nainen",
       :vaihtoehto_sv "kvinna",
       :vaihtoehto_en nil,
       :lukumaara [13],
       :osuus [81],
       :jarjestys 0,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "mies",
       :vaihtoehto_sv "man",
       :vaihtoehto_en nil,
       :lukumaara [3],
       :osuus [19],
       :jarjestys 1,
       :vaihtoehto-avain nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys "1",
     :jatkovastaukset nil,
     :vastaajien_lukumaara [16],
     :vapaatekstivastaukset nil,
     :kysymysid 7312027,
     :vastaustyyppi "monivalinta",
     :kysymys_en nil,
     :kysymys_sv "Kön",
     :kysymys_fi "Sukupuoli"}
    {:jakauma
     [{:vaihtoehto_fi "suomi",
       :vaihtoehto_sv "finska",
       :vaihtoehto_en nil,
       :lukumaara [11],
       :osuus [69],
       :jarjestys 0,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "ruotsi",
       :vaihtoehto_sv "svenska",
       :vaihtoehto_en nil,
       :lukumaara [5],
       :osuus [31],
       :jarjestys 1,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "muu",
       :vaihtoehto_sv "annat",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 2,
       :vaihtoehto-avain nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys "2",
     :jatkovastaukset nil,
     :vastaajien_lukumaara [16],
     :vapaatekstivastaukset nil,
     :kysymysid 7312028,
     :vastaustyyppi "monivalinta",
     :kysymys_en nil,
     :kysymys_sv "Modersmål",
     :kysymys_fi "Äidinkieli"}
    {:jakauma
     [{:vaihtoehto_fi "19 tai alle",
       :vaihtoehto_sv "19 eller under",
       :vaihtoehto_en nil,
       :lukumaara [3],
       :osuus [19],
       :jarjestys 0,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "20 - 24",
       :vaihtoehto_sv "20 - 24",
       :vaihtoehto_en nil,
       :lukumaara [13],
       :osuus [81],
       :jarjestys 1,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "25 - 34",
       :vaihtoehto_sv "25 - 34",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 2,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "35 - 44",
       :vaihtoehto_sv "35 - 44",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 3,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "45 - 54",
       :vaihtoehto_sv "45 - 54",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 4,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "55 tai yli",
       :vaihtoehto_sv "55 eller över",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 5,
       :vaihtoehto-avain nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys "3",
     :jatkovastaukset nil,
     :vastaajien_lukumaara [16],
     :vapaatekstivastaukset nil,
     :kysymysid 7312029,
     :vastaustyyppi "monivalinta",
     :kysymys_en nil,
     :kysymys_sv "Ålder",
     :kysymys_fi "Ikä"}
    {:jakauma
     [{:vaihtoehto_fi "Peruskoulu, keskikoulu tai vastaava",
       :vaihtoehto_sv "Grundskola, mellanskola eller motsvarande",
       :vaihtoehto_en nil,
       :lukumaara [1],
       :osuus [6],
       :jarjestys 0,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Lukio/ylioppilastutkinto",
       :vaihtoehto_sv "Gymnasiet/studentexamen",
       :vaihtoehto_en nil,
       :lukumaara [15],
       :osuus [94],
       :jarjestys 1,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi
       "Ammatillinen tutkinto tai opistoasteen tutkinto",
       :vaihtoehto_sv
       "Yrkesinriktad examen eller examen på institutsnivå",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 2,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Ammattikorkeakoulututkinto",
       :vaihtoehto_sv "Yrkeshögskoleexamen",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 3,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Yliopistotutkinto",
       :vaihtoehto_sv "Universitetsexamen",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 4,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Ulkomailla suoritettu tutkinto",
       :vaihtoehto_sv "Examen som avlagts utomlands",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 5,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Ei tutkintoa",
       :vaihtoehto_sv "Ingen examen",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 6,
       :vaihtoehto-avain nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys "4",
     :jatkovastaukset nil,
     :vastaajien_lukumaara [16],
     :vapaatekstivastaukset nil,
     :kysymysid 7312030,
     :vastaustyyppi "monivalinta",
     :kysymys_en nil,
     :kysymys_sv
     "Högsta utbildning eller examen som du har avlagt före den examen som nu ska avläggas",
     :kysymys_fi
     "Korkein koulutus tai tutkinto, jonka olet suorittanut ennen nyt suoritettavaa tutkintoa"}
    {:jakauma
     [{:vaihtoehto_fi "Ammatin hankkiminen",
       :vaihtoehto_sv "Att skaffa mig ett yrke",
       :vaihtoehto_en nil,
       :lukumaara [1],
       :osuus [6],
       :jarjestys 0,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Ammatin vaihtaminen",
       :vaihtoehto_sv "Att byta yrke",
       :vaihtoehto_en nil,
       :lukumaara [15],
       :osuus [94],
       :jarjestys 1,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Ammattitaidon kehittäminen",
       :vaihtoehto_sv "Att utveckla min yrkesskicklighet",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 2,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Muu peruste",
       :vaihtoehto_sv "Annan grund",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 3,
       :vaihtoehto-avain nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys "5",
     :jatkovastaukset nil,
     :vastaajien_lukumaara [16],
     :vapaatekstivastaukset nil,
     :kysymysid 7312031,
     :vastaustyyppi "monivalinta",
     :kysymys_en nil,
     :kysymys_sv
     "Viktigaste orsak till att jag sökte till utbildningen",
     :kysymys_fi
     "Tärkein syy, miksi hakeuduit suorittamaan näyttötutkintoa"}
    {:jakauma
     [{:vaihtoehto_fi "Työssä toisen palveluksessa",
       :vaihtoehto_sv "Arbete i annans tjänst",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 0,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Yrittäjä tai itsenäinen ammatinharjoittaja",
       :vaihtoehto_sv "Företagare eller självständig yrkesutövare",
       :vaihtoehto_en nil,
       :lukumaara [1],
       :osuus [9],
       :jarjestys 1,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Työtön",
       :vaihtoehto_sv "Arbetslös",
       :vaihtoehto_en nil,
       :lukumaara [10],
       :osuus [91],
       :jarjestys 2,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Opiskelija",
       :vaihtoehto_sv "Studerande",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 3,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi
       "Muu tilanne (esimerkiksi varusmies-/siviilipalveluksessa, vanhempainvapaalla, kuntoutuksessa tai muu syy)",
       :vaihtoehto_sv
       "Annan situation (t.ex. bevärings- eller civiltjänst, föräldraledighet, habilitering eller annan orsak)",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 4,
       :vaihtoehto-avain nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys "6a",
     :jatkovastaukset nil,
     :vastaajien_lukumaara [11],
     :vapaatekstivastaukset nil,
     :kysymysid 7312039,
     :vastaustyyppi "monivalinta",
     :kysymys_en nil,
     :kysymys_sv
     "Vilken var din situation innan du ansökte om att avlägga examen",
     :kysymys_fi
     "Mikä oli tilanteesi ennen kuin hakeuduit suorittamaan näyttötutkintoa"}
    {:jakauma
     [{:vaihtoehto_fi "Työssä toisen palveluksessa",
       :vaihtoehto_sv "Arbete i annans tjänst",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 0,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Yrittäjä tai itsenäinen ammatinharjoittaja",
       :vaihtoehto_sv "Företagare eller självständig yrkesutövare",
       :vaihtoehto_en nil,
       :lukumaara [5],
       :osuus [100],
       :jarjestys 1,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Työtön",
       :vaihtoehto_sv "Arbetslös",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 2,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "Opiskelija",
       :vaihtoehto_sv "Studerande",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 3,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi
       "Muu tilanne (esimerkiksi varusmies-/siviilipalveluksessa,vanhempainvapaalla, kuntoutuksessa tai muu syy)",
       :vaihtoehto_sv
       "Annan situation (t.ex. bevärings- eller civiltjänst, föräldraledighet, habilitering eller annan orsak)",
       :vaihtoehto_en nil,
       :lukumaara [0],
       :osuus [0],
       :jarjestys 4,
       :vaihtoehto-avain nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys "6b",
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312032,
     :vastaustyyppi "monivalinta",
     :kysymys_en nil,
     :kysymys_sv
     "Hur uppskattar du din kommande situation efter avläggandet av examen?",
     :kysymys_fi
     "Mikä on tämän hetkinen arviosi tulevasta tilanteestasi tutkinnon suorittamisen jälkeen"}
    {:jakauma
     [{:vaihtoehto_fi "koko tutkinnon suorittaminen",
       :vaihtoehto_sv "avlägga hela examen",
       :vaihtoehto_en nil,
       :lukumaara [12],
       :osuus [75],
       :jarjestys 0,
       :vaihtoehto-avain nil}
      {:vaihtoehto_fi "tutkinnon osan tai osien suorittaminen",
       :vaihtoehto_sv "avlägga en del/delar av examen",
       :vaihtoehto_en nil,
       :lukumaara [4],
       :osuus [25],
       :jarjestys 1,
       :vaihtoehto-avain nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys "7",
     :jatkovastaukset nil,
     :vastaajien_lukumaara [16],
     :vapaatekstivastaukset nil,
     :kysymysid 7312033,
     :vastaustyyppi "monivalinta",
     :kysymys_en nil,
     :kysymys_sv "Mitt mål är att",
     :kysymys_fi "Tavoitteeni on"}],
   :vastaajien_lukumaara [16]}
  {:kysymysryhmaid 3341887,
   :nimi_fi "Näyttötutkintojen suorittamisvaiheen kysymykset",
   :nimi_sv "Avläggandet av examen gällande fristående examina",
   :nimi_en nil,
   :vastaajien_maksimimaara [5],
   :kysymykset
   [{:jakauma
     [{:vaihtoehto-avain "kylla",
       :lukumaara [4],
       :osuus [80],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "ei",
       :lukumaara [1],
       :osuus [20],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys 1,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312008,
     :vastaustyyppi "kylla_ei_valinta",
     :kysymys_en nil,
     :kysymys_sv
     "En examensdel/examensdelar erkändes direkt på basis av mina tidigare betyg",
     :kysymys_fi
     "Tutkinnon osa tai osia tunnustettiin suoraan aikaisempien todistusteni perusteella"}
    {:jakauma
     [{:vaihtoehto-avain "1",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "2",
       :lukumaara [5],
       :osuus [100],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "3",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "4",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "5",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :keskiarvo [2.0],
     :jarjestys 2,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312009,
     :vastaustyyppi "likert_asteikko",
     :kysymys_en nil,
     :kysymys_sv
     "Jag fick tillräckligt med handledning för planeringen av examenstillfällena",
     :kysymys_fi
     "Sain riittävästi ohjausta tutkintotilaisuuksien suunnitteluun",
     :keskihajonta [0]}
    {:jakauma
     [{:vaihtoehto-avain "1",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "2",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "3",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "4",
       :lukumaara [5],
       :osuus [100],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "5",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :keskiarvo [4.0],
     :jarjestys 3,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312010,
     :vastaustyyppi "likert_asteikko",
     :kysymys_en nil,
     :kysymys_sv
     "Mina examenstillfällen ordnades på en arbetsplats eller en plats för inlärning i arbetet",
     :kysymys_fi
     "Tutkintotilaisuuteni järjestettiin työpaikalla tai työssäoppimispaikalla",
     :keskihajonta [0]}
    {:jakauma
     [{:vaihtoehto-avain "1",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "2",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "3",
       :lukumaara [5],
       :osuus [100],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "4",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "5",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :keskiarvo [3.0],
     :jarjestys 4,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312011,
     :vastaustyyppi "likert_asteikko",
     :kysymys_en nil,
     :kysymys_sv
     "Jag visade mitt kunnande till största delen i praktiska arbetsuppgifter",
     :kysymys_fi
     "Osoitin ammattitaitoni pääsääntöisesti käytännön työtehtävissä",
     :keskihajonta [0]}
    {:jakauma
     [{:vaihtoehto-avain "kylla",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "ei",
       :lukumaara [5],
       :osuus [100],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys 5,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312012,
     :vastaustyyppi "kylla_ei_valinta",
     :kysymys_en nil,
     :kysymys_sv
     "Jag fick berätta min egen uppfattning om hur min examensprestation hade lyckats (självvärdering)",
     :kysymys_fi
     "Sain kertoa oman arvioni tutkintosuoritukseni onnistumisesta (itsearviointi)"}
    {:jakauma
     [{:vaihtoehto-avain "kylla",
       :lukumaara [4],
       :osuus [80],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "ei",
       :lukumaara [1],
       :osuus [20],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :jarjestys 6,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312013,
     :vastaustyyppi "kylla_ei_valinta",
     :kysymys_en nil,
     :kysymys_sv
     "Grunderna för bedömningen berättades för mig efter avläggandet av examen",
     :kysymys_fi
     "Arvioinnin perustelut kerrottiin minulle tutkinnon suorittamisen jälkeen"}
    {:jakauma
     [{:vaihtoehto-avain "1",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "2",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "3",
       :lukumaara [5],
       :osuus [100],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "4",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "5",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :keskiarvo [3.0],
     :jarjestys 7,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312014,
     :vastaustyyppi "likert_asteikko",
     :kysymys_en nil,
     :kysymys_sv
     "Avläggandet av examen framskred i enlighet med den personliga skriftliga planen",
     :kysymys_fi
     "Tutkinnon suorittaminen eteni henkilökohtaisen kirjallisen suunnitelman mukaisesti",
     :keskihajonta [0]}
    {:jakauma
     [{:vaihtoehto-avain "1",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "2",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "3",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "4",
       :lukumaara [5],
       :osuus [100],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "5",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :keskiarvo [4.0],
     :jarjestys 8,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312015,
     :vastaustyyppi "likert_asteikko",
     :kysymys_en nil,
     :kysymys_sv
     "Avläggandet av examen eller examensdelen var till nytta vid utvecklandet av yrkesskickligheten",
     :kysymys_fi
     "Tutkinnon tai tutkinnon osan suorittamisesta oli hyötyä ammattitaidon kehittämisessä",
     :keskihajonta [0]}
    {:jakauma
     [{:vaihtoehto-avain "1",
       :lukumaara [1],
       :osuus [20],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "2",
       :lukumaara [1],
       :osuus [20],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "3",
       :lukumaara [1],
       :osuus [20],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "4",
       :lukumaara [0],
       :osuus [0],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}
      {:vaihtoehto-avain "5",
       :lukumaara [2],
       :osuus [40],
       :jarjestys nil,
       :vaihtoehto_fi nil,
       :vaihtoehto_sv nil,
       :vaihtoehto_en nil}],
     :eos_vastaus_sallittu nil,
     :keskiarvo [3.2],
     :jarjestys 9,
     :jatkovastaukset nil,
     :vastaajien_lukumaara [5],
     :vapaatekstivastaukset nil,
     :kysymysid 7312016,
     :vastaustyyppi "arvosana",
     :kysymys_en nil,
     :kysymys_sv
     "Hur bedömer du att avläggandet av examen lyckades som helhet?",
     :kysymys_fi
     "Miten arvioit tutkinnon suorittamisen onnistuneen kokonaisuutena?",
     :keskihajonta [1.7888543819998317]}],
   :vastaajien_lukumaara [5]}],
 :parametrit
 [{:taustakysymysryhmaid "3341885",
   :koulutustoimijat [],
   :tyyppi "valtakunnallinen",
   :vertailujakso_alkupvm nil,
   :vertailujakso_loppupvm nil,
   :tutkintorakennetaso "opintoala",
   :opintoalat [nil]}],
 :vastaajien_lukumaara [16],
 :vastaajien_maksimimaara [16],
 :nimet [{:nimi_fi "Valtakunnallinen", :nimi_sv "Nationell", :nimi_en "National"}],
 :raportoitavia 1,
 :virheelliset
 [{:nimi_fi "Kaikki tutkinnot",
   :nimi_sv "Alla examens",
   :nimi_en "All degrees",
   :luontipvm "2016-05-19T12:10:28.343Z",
   :parametrit
   {:tutkintorakennetaso "tutkinto",
    :oppilaitokset [],
    :koulutustoimijat [],
    :tutkinnot ["344102"],
    :opintoalat [],
    :kysymykset
    {:7312027 {:monivalinnat {}},
     :7312028 {:monivalinnat {}},
     :7312029 {:monivalinnat {}},
     :7312030 {:monivalinnat {}},
     :7312031 {:monivalinnat {}},
     :7312032 {:monivalinnat {}},
     :7312033 {:monivalinnat {}},
     :7312039 {:monivalinnat {}}},
    :kieli "fi",
    :koulutusalat [],
    :jarjestavat_oppilaitokset [],
    :tyyppi "kehitys",
    :taustakysymysryhmaid "3341885"},
   :vastaajien_lukumaara 0,
   :vastaajien_maksimimaara nil,
   :virhe "ei-riittavasti-vastaajia"}]}
