({:vastausid -100260,
  :monivalintavaihtoehto nil,
  :kysely_sv "Utelointi",
  :kysymysryhma_sv nil,
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto 1,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "Utelointi",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Omat kyssät",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid -1010,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "mies",
  :vastaajaid -1002,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-06-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid -1001,
  :kyselykertaid -1002,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "kylla_ei_valinta",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "Kiinnostaa.jpeg",
  :opintoalatunnus "X00",
  :numerovalinta nil,
  :kysymys_sv "",
  :valtakunnallinen false,
  :kysymys_fi "Onko koulussa käytävä?",
  :kyselyid -1002}
 {:vastausid 42,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312017,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta 2,
  :kysymys_sv
  "Mina tidigare studier, min arbetserfarenhet och mitt övriga kunnande utreddes mångsidigt i ansökningsskedet",
  :valtakunnallinen true,
  :kysymys_fi
  "Aikaisemmat opintoni, työkokemukseni ja muu osaamiseni selvitettiin monipuolisesti hakeutumisen aikana",
  :kyselyid -1}
 {:vastausid 43,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312018,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta 1,
  :kysymys_sv
  "Jag vet vilket slags yrkesskicklighet som krävs i den examen jag valt",
  :valtakunnallinen true,
  :kysymys_fi
  "Tiedän, minkälaista ammattitaitoa valitsemassani tutkinnossa vaaditaan",
  :kyselyid -1}
 {:vastausid 44,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312019,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta 5,
  :kysymys_sv
  "Jag fick tillräcklig information om de krav på hälsotillstånd som ansluter sig till min examen (Den här frågan besvaras endast av personer som siktar på arbete inom transportbranschen, social-, hälso- och idrottsområdet eller det humanistiska och pedagogiska området i uppgifter som involverar barn och ungdomar. De andra svarar: saknar erfarenhet.)",
  :valtakunnallinen true,
  :kysymys_fi
  "Sain riittävästi tietoa tutkintooni liittyvistä terveydentilavaatimuksista (Tähän kysymykseen vastaavat vain kuljetusalalle, sosiaali-, terveys- ja liikunta-alalle tai humanistiselle ja kasvatusalalle lasten- ja nuorten parissa tehtäviin töihin aikovat. Muut vastaavat: ei kokemusta.)",
  :kyselyid -1}
 {:vastausid 45,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312020,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta 4,
  :kysymys_sv
  "Jag fick påverka valet av de examensdelar som hör till min examen",
  :valtakunnallinen true,
  :kysymys_fi
  "Sain vaikuttaa tutkintoon kuuluvien tutkinnon osien valintaan",
  :kyselyid -1}
 {:vastausid 46,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto 0,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312021,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "kylla_ei_valinta",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta nil,
  :kysymys_sv
  "Jag fick information om de ekonomiska stödformer och studiesociala förmåner som ansluter sig till utbildningen",
  :valtakunnallinen true,
  :kysymys_fi
  "Sain tietoa koulutukseen liittyvistä taloudellisista tukimuodoista ja opintososiaalisista eduista",
  :kyselyid -1}
 {:vastausid 47,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto 1,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312022,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "kylla_ei_valinta",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta nil,
  :kysymys_sv
  "Man utredde med mig eventuella svårigheter i anslutning till studierna eller avläggandet av examen (till exempel i anslutning till språket, läsning, skrivning, gestaltning eller koncentration)?",
  :valtakunnallinen true,
  :kysymys_fi
  "Kanssani selvitettiin opiskeluuni tai tutkinnon suorittamiseeni liittyviä mahdollisia vaikeuksia (esimerkiksi kieleen, lukemiseen, kirjoittamiseen, hahmottamiseen tai keskittymiseen liittyen)?",
  :kyselyid -1}
 {:vastausid 48,
  :monivalintavaihtoehto
  "Ei, vaikka minulla oli mielestäni riittävästi aikaisempaa osaamista",
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312023,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "monivalinta",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta 1,
  :kysymys_sv
  "Jag hänvisades direkt till ett examenstillfälle (en eller flera examensdelar)",
  :valtakunnallinen true,
  :kysymys_fi
  "Minut ohjattiin suoraan tutkintotilaisuuteen (yksi tai useampi tutkinnon osa)",
  :kyselyid -1}
 {:vastausid 49,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto 0,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312024,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "kylla_ei_valinta",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta nil,
  :kysymys_sv
  "Mitt tidigare kunnande i anslutning till examen förkortar väsentligt den förberedande utbildningen eller avläggandet av examen",
  :valtakunnallinen true,
  :kysymys_fi
  "Aikaisempi tutkintoon liittyvä osaamiseni lyhentää olennaisesti valmistavaa koulutusta tai tutkinnon suorittamista",
  :kyselyid -1}
 {:vastausid 50,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312025,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta 4,
  :kysymys_sv
  "Man utarbetade med mig en personlig, skriftlig plan, i vilken vi kom överens om vilket slags utbildning jag behöver, studieformerna, handledning, avläggandet av examen och tidtabeller",
  :valtakunnallinen true,
  :kysymys_fi
  "Kanssani tehtiin henkilökohtainen kirjallinen suunnitelma, jossa sovimme tarvitsemastani koulutuksesta, opiskelumuodoista, ohjauksesta, tutkinnon suorittamisesta ja aikatauluista",
  :kyselyid -1}
 {:vastausid 51,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv nil,
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi nil,
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv nil,
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -3,
  :opintoala_fi nil,
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Ruikonperän opistoaste",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312026,
  :kyselykertaid -1,
  :koulutustoimija "2345678-0",
  :vastaustyyppi "arvosana",
  :tutkinto_sv nil,
  :tutkintotunnus nil,
  :kyselykerta "testikerta",
  :opintoalatunnus nil,
  :numerovalinta 5,
  :kysymys_sv
  "Hur bedömer du att ansökningsskedet lyckades som helhet?",
  :valtakunnallinen true,
  :kysymys_fi "Miten arvioit hakeutumisen onnistuneen kokonaisuutena?",
  :kyselyid -1}
 {:vastausid 127,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312017,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta 2,
  :kysymys_sv
  "Mina tidigare studier, min arbetserfarenhet och mitt övriga kunnande utreddes mångsidigt i ansökningsskedet",
  :valtakunnallinen true,
  :kysymys_fi
  "Aikaisemmat opintoni, työkokemukseni ja muu osaamiseni selvitettiin monipuolisesti hakeutumisen aikana",
  :kyselyid -2}
 {:vastausid 128,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312018,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta 1,
  :kysymys_sv
  "Jag vet vilket slags yrkesskicklighet som krävs i den examen jag valt",
  :valtakunnallinen true,
  :kysymys_fi
  "Tiedän, minkälaista ammattitaitoa valitsemassani tutkinnossa vaaditaan",
  :kyselyid -2}
 {:vastausid 129,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312019,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta 5,
  :kysymys_sv
  "Jag fick tillräcklig information om de krav på hälsotillstånd som ansluter sig till min examen (Den här frågan besvaras endast av personer som siktar på arbete inom transportbranschen, social-, hälso- och idrottsområdet eller det humanistiska och pedagogiska området i uppgifter som involverar barn och ungdomar. De andra svarar: saknar erfarenhet.)",
  :valtakunnallinen true,
  :kysymys_fi
  "Sain riittävästi tietoa tutkintooni liittyvistä terveydentilavaatimuksista (Tähän kysymykseen vastaavat vain kuljetusalalle, sosiaali-, terveys- ja liikunta-alalle tai humanistiselle ja kasvatusalalle lasten- ja nuorten parissa tehtäviin töihin aikovat. Muut vastaavat: ei kokemusta.)",
  :kyselyid -2}
 {:vastausid 130,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312020,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta 4,
  :kysymys_sv
  "Jag fick påverka valet av de examensdelar som hör till min examen",
  :valtakunnallinen true,
  :kysymys_fi
  "Sain vaikuttaa tutkintoon kuuluvien tutkinnon osien valintaan",
  :kyselyid -2}
 {:vastausid 131,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto 0,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312021,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "kylla_ei_valinta",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta nil,
  :kysymys_sv
  "Jag fick information om de ekonomiska stödformer och studiesociala förmåner som ansluter sig till utbildningen",
  :valtakunnallinen true,
  :kysymys_fi
  "Sain tietoa koulutukseen liittyvistä taloudellisista tukimuodoista ja opintososiaalisista eduista",
  :kyselyid -2}
 {:vastausid 132,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto 1,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312022,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "kylla_ei_valinta",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta nil,
  :kysymys_sv
  "Man utredde med mig eventuella svårigheter i anslutning till studierna eller avläggandet av examen (till exempel i anslutning till språket, läsning, skrivning, gestaltning eller koncentration)?",
  :valtakunnallinen true,
  :kysymys_fi
  "Kanssani selvitettiin opiskeluuni tai tutkinnon suorittamiseeni liittyviä mahdollisia vaikeuksia (esimerkiksi kieleen, lukemiseen, kirjoittamiseen, hahmottamiseen tai keskittymiseen liittyen)?",
  :kyselyid -2}
 {:vastausid 133,
  :monivalintavaihtoehto
  "Ei, vaikka minulla oli mielestäni riittävästi aikaisempaa osaamista",
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312023,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "monivalinta",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta 1,
  :kysymys_sv
  "Jag hänvisades direkt till ett examenstillfälle (en eller flera examensdelar)",
  :valtakunnallinen true,
  :kysymys_fi
  "Minut ohjattiin suoraan tutkintotilaisuuteen (yksi tai useampi tutkinnon osa)",
  :kyselyid -2}
 {:vastausid 134,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto 0,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312024,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "kylla_ei_valinta",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta nil,
  :kysymys_sv
  "Mitt tidigare kunnande i anslutning till examen förkortar väsentligt den förberedande utbildningen eller avläggandet av examen",
  :valtakunnallinen true,
  :kysymys_fi
  "Aikaisempi tutkintoon liittyvä osaamiseni lyhentää olennaisesti valmistavaa koulutusta tai tutkinnon suorittamista",
  :kyselyid -2}
 {:vastausid 135,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312025,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "likert_asteikko",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta 4,
  :kysymys_sv
  "Man utarbetade med mig en personlig, skriftlig plan, i vilken vi kom överens om vilket slags utbildning jag behöver, studieformerna, handledning, avläggandet av examen och tidtabeller",
  :valtakunnallinen true,
  :kysymys_fi
  "Kanssani tehtiin henkilökohtainen kirjallinen suunnitelma, jossa sovimme tarvitsemastani koulutuksesta, opiskelumuodoista, ohjauksesta, tutkinnon suorittamisesta ja aikatauluista",
  :kyselyid -2,}
 {:vastausid 136,
  :monivalintavaihtoehto nil,
  :kysely_sv "testikysely",
  :kysymysryhma_sv "Bakgrundsfrågor gällande fristående examina",
  :opintoala_sv "Testiopintoala (sv)",
  :vaihtoehto nil,
  :suorituskieli "fi",
  :valmistavan_koulutuksen_oppilaitos_fi nil,
  :valmistavan_koulutuksen_oppilaitos_sv nil,
  :kysely_fi "testikysely",
  :taustakysymys_ika "20 - 24",
  :kysymysryhma_fi "Näyttötutkintojen hakeutumisvaiheen kysymykset",
  :tutkinto_fi "Maanviljelyalan testitutkinto",
  :kysymysryhmaid 3341886,
  :koulutustoimija_sv "Hikibacka iddrotsklubben",
  :taustakysymys_sukupuoli "nainen",
  :vastaajaid -30,
  :opintoala_fi "Testiopintoala",
  :vastausaika "2016-02-07",
  :koulutustoimija_fi "Hikimäen urheiluopisto",
  :valmistavan_koulutuksen_oppilaitos nil,
  :kysymysid 7312026,
  :kyselykertaid -2,
  :koulutustoimija "2325448-4",
  :vastaustyyppi "arvosana",
  :tutkinto_sv "Maanviljelyalan testitutkinto (sv)",
  :tutkintotunnus "X00001",
  :kyselykerta "testikerta",
  :opintoalatunnus "X00",
  :numerovalinta 1,
  :kysymys_sv
  "Hur bedömer du att ansökningsskedet lyckades som helhet?",
  :valtakunnallinen true,
  :kysymys_fi "Miten arvioit hakeutumisen onnistuneen kokonaisuutena?",
  :kyselyid -2,})
